# Merge OpenCorporate Results with Input Data

In [1]:
import pandas as pd
import numpy as np
import time
import re
import glob
import os
import warnings
warnings.filterwarnings('ignore')

### start timer
t0=time.time()

# joined_files=os.path.join("../csvResults/rawData","dfFinalDatasetAssignee*2023*.csv")

# # A list of all joined files is returned
# joined_list=glob.glob(joined_files)

# # Finally, the files are joined
# df=pd.concat(map(pd.read_csv, joined_list), ignore_index=True)

df=pd.read_csv("../csvResults/dfFinalDatasetAssigneeSample_dates_5yr_output_cleaned.csv")
df.dropna(subset=['name'],inplace=True)
df.sort_values(by=['ID'],inplace=True)
df1=df.iloc[:,[0,1,2,3,5,6,11,20,21,22,31,32,34,42,43,44,47,48,53]].reset_index(drop=True).copy()

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %.3f" % (total/60), "mins\n")
print("The number of unique assignee IDs are:",df1.assignee_id.nunique(),"\n")

display(df1.info(null_counts=True),df1.head())

Total time is 0.001 mins

The number of unique assignee IDs are: 709

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 895 entries, 0 to 894
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    895 non-null    int64
 1   assignee_id                           895 non-null    object
 2   match_num                             895 non-null    float64
 3   name                                  895 non-null    object
 4   jurisdiction_code                     895 non-null    object
 5   incorporation_date                    895 non-null    object
 6   branch_status                         227 non-null    object
 7   agent_address                         299 non-null    object
 8   alternative_names                     108 non-null    object
 9   previous_names                        133 non-null    object
 10  trademark_registrations               223 non-null    object
 11  registered_address                    625 non-null    object
 12  data                                  550 non-null    object
 13  street_address                        569 non-null    object
 14  address_city                          565 non-null    object
 15  address_state                         553 non-null    object
 16  agent_city                            201 non-null    object
 17  agent_state                           197 non-null    object
 18  controlling_entity_jurisdiction_code  210 non-null    object
dtypes: float64(1), int64(1), object(17)
memory usage: 133.0+ KB

None

,ID,assignee_id,match_num,name,jurisdiction_code,incorporation_date,branch_status,agent_address,alternative_names,previous_names,trademark_registrations,registered_address,data,street_address,address_city,address_state,agent_city,agent_state,controlling_entity_jurisdiction_code
0,633,00d298ec-c892-4ae0-bf4f-f6cbe6d7f667,1.0,"ISTAC, INC.",us_ca,1982-07-20,NaN,NaN,NaN,NaN,NaN,{'street_address': '4225 26TH STREET\nBOULDER ...,"{'most_recent': [{'datum': {'id': 51831816, 't...",4225 26TH STREET,BOULDER,CO,NaN,NaN,NaN
1,832,010f1287-b3bd-48ba-be4a-636fa1e34cc9,1.0,"TREAD EX, INC.",us_co,1999-09-21,NaN,NaN,NaN,NaN,NaN,NaN,"{'most_recent': [{'datum': {'id': 32174208, 't...",NaN,NaN,NaN,NaN,NaN,NaN
2,933,012b6757-2d16-4c6d-8aa7-fefbe6328e1c,1.0,"AnemErgonics, LLC",us_co,2005-06-01,NaN,"1428 S Humboldt St, Denver, CO, 80210, US",NaN,NaN,[{'trademark_registration': {'mark_details': {...,NaN,"{'most_recent': [{'datum': {'id': 32555265, 't...",NaN,NaN,NaN,NaN,NaN,NaN
3,1189,0179132f-48af-4c06-aa5c-f6ef9a011372,1.0,MIROFAM LLC,us_co,2008-08-22,NaN,NaN,NaN,NaN,NaN,NaN,"{'most_recent': [{'datum': {'id': 33099688, 't...",NaN,NaN,NaN,NaN,NaN,NaN
4,16862,01db098e-3394-40a0-bb4c-350431b9685b,1.0,"MenoGeniX, Inc.",us_co,2010-06-18,NaN,"2560 KINNIKINNICK RD UNIT F4, Apt. 803C, Vail,...",NaN,NaN,NaN,NaN,"{'most_recent': [{'datum': {'id': 33483688, 't...",NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
### start timer
t0=time.time()

### set the path for the input file and save to variable
results_folder = "../csvResults/"
input_file = "dfFinalDatasetAssigneeRemoved2022OutputResults.csv"

input_directory=os.path.join(results_folder,input_file)
print(input_directory,"\n")

### imports the dfMergedFullDataSet file to merge onto Mike's output file using the ID column
openC=pd.read_csv(input_directory,usecols=['ID','assignee','location','organization','city','state','latitude',
                                           'longitude','dateFiledMin','patentList'])

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %.3f" % (total/60), "mins\n")
print("The number of unique assignee IDs are:",openC.assignee.nunique(),"\n")

### print general stats and first 5 records for dataset
display(openC.info(null_counts=True),openC.head())

../csvResults/dfFinalDatasetAssigneeRemoved2022OutputResults.csv

Total time is 0.006 mins

The number of unique assignee IDs are: 130801

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130801 entries, 0 to 130800
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            130801 non-null  int64
 1   assignee      130801 non-null  object
 2   location      130801 non-null  object
 3   organization  130801 non-null  object
 4   city          130099 non-null  object
 5   state         130801 non-null  object
 6   latitude      130801 non-null  float64
 7   longitude     130801 non-null  float64
 8   dateFiledMin  130801 non-null  object
 9   patentList    130801 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 10.0+ MB

None

,ID,assignee,location,organization,city,state,latitude,longitude,dateFiledMin,patentList
0,0,00000ce5-b13f-4a23-a8fb-c14409ad7b68,c3f19987-16c7-11ed-9b5f-1234bde3cd05,Audiobase,Sausalito,CA,37.8590,-122.4850,9/22/1999,['6327609']
1,3,0001d1a0-7e84-47d2-a477-cfa36731d3e6,dbb582b9-16c7-11ed-9b5f-1234bde3cd05,Behr Innovations,Northfield,MN,44.4582,-93.1612,10/5/2004,['7163196']
2,4,0002f118-c333-4e04-9b5c-e6c7e7217c6d,e68d95a1-16c7-11ed-9b5f-1234bde3cd05,Maston,Zeigler,IL,37.8995,-89.0520,8/18/1992,['6055791' '5233811']
3,5,00031f53-3651-4d2a-ab5e-160cdc614cbd,edb0ba3d-16c7-11ed-9b5f-1234bde3cd05,Ni Industries,Novi,MI,42.4806,-83.4755,10/28/1980,['4531445' '4607445' '4689910' '4640142' '4633...
4,6,0003616d-001c-460d-a79f-893d34da4adf,ece0720e-16c7-11ed-9b5f-1234bde3cd05,Kenyon Technologies,Key Largo,FL,25.0870,-80.4472,4/30/2015,['10098370' '10349668' '10645961']

In [3]:
### start timer
t0=time.time()

mergeResults=openC.merge(df1,on=['ID'],how='inner').drop(labels=['assignee_id'],axis=1)
mergeResults1=mergeResults.loc[mergeResults['name'].notnull()]

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %.3f" % (total/60), "mins\n")
print("The number of unique assignee IDs are:",mergeResults1.assignee.nunique(),"\n")

### print general stats and first 5 records for dataset
display(mergeResults1.info(null_counts=True),mergeResults1.head())

Total time is 0.000 mins

The number of unique assignee IDs are: 462

<class 'pandas.core.frame.DataFrame'>
Int64Index: 579 entries, 0 to 578
Data columns (total 27 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    579 non-null    int64
 1   assignee                              579 non-null    object
 2   location                              579 non-null    object
 3   organization                          579 non-null    object
 4   city                                  579 non-null    object
 5   state                                 579 non-null    object
 6   latitude                              579 non-null    float64
 7   longitude                             579 non-null    float64
 8   dateFiledMin                          579 non-null    object
 9   patentList                            579 non-null    object
 10  match_num                             579 non-null    float64
 11  name                                  579 non-null    object
 12  jurisdiction_code                     579 non-null    object
 13  incorporation_date                    579 non-null    object
 14  branch_status                         134 non-null    object
 15  agent_address                         209 non-null    object
 16  alternative_names                     76 non-null     object
 17  previous_names                        84 non-null     object
 18  trademark_registrations               142 non-null    object
 19  registered_address                    390 non-null    object
 20  data                                  337 non-null    object
 21  street_address                        355 non-null    object
 22  address_city                          352 non-null    object
 23  address_state                         344 non-null    object
 24  agent_city                            142 non-null    object
 25  agent_state                           138 non-null    object
 26  controlling_entity_jurisdiction_code  125 non-null    object
dtypes: float64(3), int64(1), object(23)
memory usage: 126.7+ KB

None

,ID,assignee,location,organization,city,state,latitude,longitude,dateFiledMin,patentList,...,previous_names,trademark_registrations,registered_address,data,street_address,address_city,address_state,agent_city,agent_state,controlling_entity_jurisdiction_code
0,933,012b6757-2d16-4c6d-8aa7-fefbe6328e1c,5d0d1602-16c8-11ed-9b5f-1234bde3cd05,Anemergonics,Arvada,CO,39.8006,-105.081,2/8/2008,['8161698'],...,NaN,[{'trademark_registration': {'mark_details': {...,NaN,"{'most_recent': [{'datum': {'id': 32555265, 't...",NaN,NaN,NaN,NaN,NaN,NaN
1,1189,0179132f-48af-4c06-aa5c-f6ef9a011372,cf479b1d-16c7-11ed-9b5f-1234bde3cd05,Mirofam,Thornton,CO,39.8696,-104.985,3/28/2008,['7841821'],...,NaN,NaN,NaN,"{'most_recent': [{'datum': {'id': 33099688, 't...",NaN,NaN,NaN,NaN,NaN,NaN
2,16862,01db098e-3394-40a0-bb4c-350431b9685b,d96be5a2-16c7-11ed-9b5f-1234bde3cd05,Menogenix,Aurora,CO,39.7405,-104.831,7/22/2009,['9216206'],...,NaN,NaN,NaN,"{'most_recent': [{'datum': {'id': 33483688, 't...",NaN,NaN,NaN,NaN,NaN,NaN
3,16867,01dd4861-b537-4f33-a995-b8dcc1effa69,c1ad42d2-16c7-11ed-9b5f-1234bde3cd05,Moxion Power,Mill Valley,CA,37.9060,-122.545,6/1/2021,['11283273'],...,NaN,NaN,{'street_address': '78 LOVELL AVE.\nMILL VALLE...,"{'most_recent': [{'datum': {'id': 77945758, 't...",78 LOVELL AVE.,MILL VALLEY,CA,SAN FRANCISCO,CA,us_de
4,16936,01ef4c0c-2ff6-4c09-8781-385a68ff3220,17f7f348-16c8-11ed-9b5f-1234bde3cd05,Swicherz,Santa Monica,CA,34.0195,-118.491,1/31/2003,['7147399'],...,NaN,[{'trademark_registration': {'mark_details': {...,"{'street_address': '3278 WILSHIRE BLVD., #603\...","{'most_recent': [{'datum': {'id': 111545150, '...","3278 WILSHIRE BLVD., #603",LOS ANGELES,CA,NaN,NaN,NaN

In [4]:
# mergeResults1.to_csv("../csvResults/mergedOCResultsAndPVInput.csv",index=False)

# Standardize the Organization Names, Cities, and States from PatentsView and OpenCorporates

In [1]:
import pandas as pd
import numpy as np
import time
import re
import string
import os
import warnings
warnings.filterwarnings('ignore')

### start timer
t0=time.time()

### set the path for the input file and save to variable
results_folder = "../csvResults/"
input_file = "mergedOCResultsAndPVInput.csv"

input_directory=os.path.join(results_folder,input_file)
print(input_directory,"\n")

### import the output file from OC API matching and select columns
df=pd.read_csv(input_directory)
df['organization']=df['organization'].str.lstrip().str.rstrip().str.title()
df['city']=df['city'].str.lstrip().str.rstrip().str.title()
df['state']=df['state'].str.lstrip().str.rstrip().str.title()
df['name']=df['name'].str.lstrip().str.rstrip().str.title()
df['jurisdiction_code']=df['jurisdiction_code'].str.lstrip().str.rstrip().str.title()
df['agent_address']=df['agent_address'].str.lstrip().str.rstrip().str.title()
df['alternative_names']=df['alternative_names'].str.lstrip().str.rstrip().str.title()
df['previous_names']=df['previous_names'].str.lstrip().str.rstrip().str.title()
df['trademark_registrations']=df['trademark_registrations'].str.lstrip().str.rstrip().str.title()
df['data']=df['data'].str.lstrip().str.rstrip().str.title()
df['registered_address']=df['registered_address'].str.lstrip().str.rstrip().str.title()
df['street_address']=df['street_address'].str.lstrip().str.rstrip().str.title()
df['address_city']=df['address_city'].str.lstrip().str.rstrip().str.title()
df['address_state']=df['address_state'].str.lstrip().str.rstrip().str.title()
df['agent_city']=df['agent_city'].str.lstrip().str.rstrip().str.title()
df['agent_state']=df['agent_state'].str.lstrip().str.rstrip().str.title()
df['controlling_entity_jurisdiction_code']=df['controlling_entity_jurisdiction_code'].str.lstrip().str.rstrip().str.title()

last = df.pop('match_num')

df.insert(26, 'match_num', last)

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %.3f" % (total/60), "mins\n")
print("The number of unique assignee IDs are:",df.assignee.nunique(),"\n")

### print general stats and first 5 records for dataset
display(df.info(null_counts=True),df.head())

../csvResults/mergedOCResultsAndPVInput.csv

Total time is 0.000 mins

The number of unique assignee IDs are: 462

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 27 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    579 non-null    int64
 1   assignee                              579 non-null    object
 2   location                              579 non-null    object
 3   organization                          579 non-null    object
 4   city                                  579 non-null    object
 5   state                                 579 non-null    object
 6   latitude                              579 non-null    float64
 7   longitude                             579 non-null    float64
 8   dateFiledMin                          579 non-null    object
 9   patentList                            579 non-null    object
 10  name                                  579 non-null    object
 11  jurisdiction_code                     579 non-null    object
 12  incorporation_date                    579 non-null    object
 13  branch_status                         134 non-null    object
 14  agent_address                         209 non-null    object
 15  alternative_names                     76 non-null     object
 16  previous_names                        84 non-null     object
 17  trademark_registrations               142 non-null    object
 18  registered_address                    390 non-null    object
 19  data                                  337 non-null    object
 20  street_address                        355 non-null    object
 21  address_city                          352 non-null    object
 22  address_state                         344 non-null    object
 23  agent_city                            142 non-null    object
 24  agent_state                           138 non-null    object
 25  controlling_entity_jurisdiction_code  125 non-null    object
 26  match_num                             579 non-null    float64
dtypes: float64(3), int64(1), object(23)
memory usage: 122.3+ KB

None

,ID,assignee,location,organization,city,state,latitude,longitude,dateFiledMin,patentList,...,trademark_registrations,registered_address,data,street_address,address_city,address_state,agent_city,agent_state,controlling_entity_jurisdiction_code,match_num
0,933,012b6757-2d16-4c6d-8aa7-fefbe6328e1c,5d0d1602-16c8-11ed-9b5f-1234bde3cd05,Anemergonics,Arvada,Co,39.8006,-105.081,2/8/2008,['8161698'],...,[{'Trademark_Registration': {'Mark_Details': {...,NaN,"{'Most_Recent': [{'Datum': {'Id': 32555265, 'T...",NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,1189,0179132f-48af-4c06-aa5c-f6ef9a011372,cf479b1d-16c7-11ed-9b5f-1234bde3cd05,Mirofam,Thornton,Co,39.8696,-104.985,3/28/2008,['7841821'],...,NaN,NaN,"{'Most_Recent': [{'Datum': {'Id': 33099688, 'T...",NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,16862,01db098e-3394-40a0-bb4c-350431b9685b,d96be5a2-16c7-11ed-9b5f-1234bde3cd05,Menogenix,Aurora,Co,39.7405,-104.831,7/22/2009,['9216206'],...,NaN,NaN,"{'Most_Recent': [{'Datum': {'Id': 33483688, 'T...",NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,16867,01dd4861-b537-4f33-a995-b8dcc1effa69,c1ad42d2-16c7-11ed-9b5f-1234bde3cd05,Moxion Power,Mill Valley,Ca,37.9060,-122.545,6/1/2021,['11283273'],...,NaN,{'Street_Address': '78 Lovell Ave.\Nmill Valle...,"{'Most_Recent': [{'Datum': {'Id': 77945758, 'T...",78 Lovell Ave.,Mill Valley,Ca,San Francisco,Ca,Us_De,1.0
4,16936,01ef4c0c-2ff6-4c09-8781-385a68ff3220,17f7f348-16c8-11ed-9b5f-1234bde3cd05,Swicherz,Santa Monica,Ca,34.0195,-118.491,1/31/2003,['7147399'],...,[{'Trademark_Registration': {'Mark_Details': {...,"{'Street_Address': '3278 Wilshire Blvd., #603\...","{'Most_Recent': [{'Datum': {'Id': 111545150, '...","3278 Wilshire Blvd., #603",Los Angeles,Ca,NaN,NaN,NaN,1.0

In [2]:
### this section cleans the organization and name fields by standardizing the names to facilitate better merge
### results. Skipping this section will yield poor results in any subsequent merges.

### start timer
t0=time.time()

### the pattern variable is utilized to create a 'list' of possible suffixes that should be removed
### from the organization and name fields. This list was constructed by manually inspecting the names
### prior to cleaning and does not represent a comprehensive list
pattern = '|'.join(['Llc','L\.L\.C\.','Inc\.$','Inc$','Ltd','\(','\)','Plc','P\.L\.C\.','Pllc','P\.L\.L\.C\.',
                    'Lp\.$','Lp$','Llp$','LP','L\.P\.','LC','L\.C\.','Ag$','Gmbh','SA$','Kg','Pvt','Sa$','BV','Nv$',
                    'Ab$','Pty$','SPA$','S\.P\.A\.','Bv','B\.V\.','B\.v\.','@','\.',','])

### converts the first character in each word to Uppercase and remaining characters to lowercase in 
### the string, followed by removing any whitespace that may exist to the left and right of the strings

df['name']=df['name'].str.replace('\s+',' ')

### some strings must be replaced rather than removed because the resulting organization names would
### not make sense or match incorrectly. For example, Arjang & Co., which is the full name for the
### organization, would become Arjang and would match to multiple records via the merge instead of
### one. This was observed through multiple trials of cleaning the data
df['name']=df['name'].str.replace(' & ', ' And ')
df['name']=df['name'].str.replace('&', ' And ')
df['name']=df['name'].str.replace(' - |-', ' ')
df['name']=df['name'].str.replace('+', ' ')
df['name']=df['name'].str.replace(' (Co\.$|Co$)', ' Company')
df['name']=df['name'].str.replace(' (Corp\.|Corp) | (Corp\.$|Corp$) | (Corp\.$|Corp$)|[Cc]orporation', '')
df['name']=df['name'].str.replace('Mfg', 'Manufacturing')
df['name']=df['name'].str.replace('Incorporated|Usa|Incorportated', '')

### apply the pattern variable to the organization field and clean the resulting whitespace to the
### left and right of the strings
df['name']=df['name'].str.replace(pattern, '')
df['name']=df['name'].str.lstrip().str.rstrip()

### convert any remaining names that are not standardized
df['name']=df['name'].str.replace(' (Co\.$|Co$)', ' Company')
df['name']=df['name'].str.replace("\'S", "\'s")
df['name']=df['name'].str.replace("L L C|Lc|Llc| Usa|Umi$|\/| Inc | Limited$| Llc", "")
df['name']=df['name'].str.replace("Dba |DBA ", " ")
df['name']=df['name'].str.replace("'|\?", "")
df['name']=df['name'].str.replace(" Company$| USA$", "")
df['name']=df['name'].str.replace("\s+", " ")
df['name']=df['name'].str.rstrip().str.lstrip()

df['organization']=df['organization'].str.replace("L L C|Lc|Llc| Usa|\/| Inc |\?| Ltd$| Ltd | Inc$| Company$", "")
df['organization']=df['organization'].str.replace("\s+", " ")
df['organization']=df['organization'].str.rstrip().str.lstrip()

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %.3f" % (total/60), "mins\n")

display(df.info(),df.head())

Total time is 0.000 mins

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 27 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    579 non-null    int64
 1   assignee                              579 non-null    object
 2   location                              579 non-null    object
 3   organization                          579 non-null    object
 4   city                                  579 non-null    object
 5   state                                 579 non-null    object
 6   latitude                              579 non-null    float64
 7   longitude                             579 non-null    float64
 8   dateFiledMin                          579 non-null    object
 9   patentList                            579 non-null    object
 10  name                                  579 non-null    object
 11  jurisdiction_code                     579 non-null    object
 12  incorporation_date                    579 non-null    object
 13  branch_status                         134 non-null    object
 14  agent_address                         209 non-null    object
 15  alternative_names                     76 non-null     object
 16  previous_names                        84 non-null     object
 17  trademark_registrations               142 non-null    object
 18  registered_address                    390 non-null    object
 19  data                                  337 non-null    object
 20  street_address                        355 non-null    object
 21  address_city                          352 non-null    object
 22  address_state                         344 non-null    object
 23  agent_city                            142 non-null    object
 24  agent_state                           138 non-null    object
 25  controlling_entity_jurisdiction_code  125 non-null    object
 26  match_num                             579 non-null    float64
dtypes: float64(3), int64(1), object(23)
memory usage: 122.3+ KB

None

,ID,assignee,location,organization,city,state,latitude,longitude,dateFiledMin,patentList,...,trademark_registrations,registered_address,data,street_address,address_city,address_state,agent_city,agent_state,controlling_entity_jurisdiction_code,match_num
0,933,012b6757-2d16-4c6d-8aa7-fefbe6328e1c,5d0d1602-16c8-11ed-9b5f-1234bde3cd05,Anemergonics,Arvada,Co,39.8006,-105.081,2/8/2008,['8161698'],...,[{'Trademark_Registration': {'Mark_Details': {...,NaN,"{'Most_Recent': [{'Datum': {'Id': 32555265, 'T...",NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,1189,0179132f-48af-4c06-aa5c-f6ef9a011372,cf479b1d-16c7-11ed-9b5f-1234bde3cd05,Mirofam,Thornton,Co,39.8696,-104.985,3/28/2008,['7841821'],...,NaN,NaN,"{'Most_Recent': [{'Datum': {'Id': 33099688, 'T...",NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,16862,01db098e-3394-40a0-bb4c-350431b9685b,d96be5a2-16c7-11ed-9b5f-1234bde3cd05,Menogenix,Aurora,Co,39.7405,-104.831,7/22/2009,['9216206'],...,NaN,NaN,"{'Most_Recent': [{'Datum': {'Id': 33483688, 'T...",NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,16867,01dd4861-b537-4f33-a995-b8dcc1effa69,c1ad42d2-16c7-11ed-9b5f-1234bde3cd05,Moxion Power,Mill Valley,Ca,37.9060,-122.545,6/1/2021,['11283273'],...,NaN,{'Street_Address': '78 Lovell Ave.\Nmill Valle...,"{'Most_Recent': [{'Datum': {'Id': 77945758, 'T...",78 Lovell Ave.,Mill Valley,Ca,San Francisco,Ca,Us_De,1.0
4,16936,01ef4c0c-2ff6-4c09-8781-385a68ff3220,17f7f348-16c8-11ed-9b5f-1234bde3cd05,Swicherz,Santa Monica,Ca,34.0195,-118.491,1/31/2003,['7147399'],...,[{'Trademark_Registration': {'Mark_Details': {...,"{'Street_Address': '3278 Wilshire Blvd., #603\...","{'Most_Recent': [{'Datum': {'Id': 111545150, '...","3278 Wilshire Blvd., #603",Los Angeles,Ca,NaN,NaN,NaN,1.0

In [3]:
### start timer
t0=time.time()
matches=[]

for i in range(len(df)):
    if df.iloc[i,3] == df.iloc[i,10]:
        matches.append(1)
    else:
        matches.append(0)      

df['matches']=matches        

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %.3f" % (total/60), "mins\n")

display(df.info(),df.head())

Total time is 0.000 mins

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 28 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    579 non-null    int64
 1   assignee                              579 non-null    object
 2   location                              579 non-null    object
 3   organization                          579 non-null    object
 4   city                                  579 non-null    object
 5   state                                 579 non-null    object
 6   latitude                              579 non-null    float64
 7   longitude                             579 non-null    float64
 8   dateFiledMin                          579 non-null    object
 9   patentList                            579 non-null    object
 10  name                                  579 non-null    object
 11  jurisdiction_code                     579 non-null    object
 12  incorporation_date                    579 non-null    object
 13  branch_status                         134 non-null    object
 14  agent_address                         209 non-null    object
 15  alternative_names                     76 non-null     object
 16  previous_names                        84 non-null     object
 17  trademark_registrations               142 non-null    object
 18  registered_address                    390 non-null    object
 19  data                                  337 non-null    object
 20  street_address                        355 non-null    object
 21  address_city                          352 non-null    object
 22  address_state                         344 non-null    object
 23  agent_city                            142 non-null    object
 24  agent_state                           138 non-null    object
 25  controlling_entity_jurisdiction_code  125 non-null    object
 26  match_num                             579 non-null    float64
 27  matches                               579 non-null    int64
dtypes: float64(3), int64(2), object(23)
memory usage: 126.8+ KB

None

,ID,assignee,location,organization,city,state,latitude,longitude,dateFiledMin,patentList,...,registered_address,data,street_address,address_city,address_state,agent_city,agent_state,controlling_entity_jurisdiction_code,match_num,matches
0,933,012b6757-2d16-4c6d-8aa7-fefbe6328e1c,5d0d1602-16c8-11ed-9b5f-1234bde3cd05,Anemergonics,Arvada,Co,39.8006,-105.081,2/8/2008,['8161698'],...,NaN,"{'Most_Recent': [{'Datum': {'Id': 32555265, 'T...",NaN,NaN,NaN,NaN,NaN,NaN,1.0,1
1,1189,0179132f-48af-4c06-aa5c-f6ef9a011372,cf479b1d-16c7-11ed-9b5f-1234bde3cd05,Mirofam,Thornton,Co,39.8696,-104.985,3/28/2008,['7841821'],...,NaN,"{'Most_Recent': [{'Datum': {'Id': 33099688, 'T...",NaN,NaN,NaN,NaN,NaN,NaN,1.0,1
2,16862,01db098e-3394-40a0-bb4c-350431b9685b,d96be5a2-16c7-11ed-9b5f-1234bde3cd05,Menogenix,Aurora,Co,39.7405,-104.831,7/22/2009,['9216206'],...,NaN,"{'Most_Recent': [{'Datum': {'Id': 33483688, 'T...",NaN,NaN,NaN,NaN,NaN,NaN,1.0,1
3,16867,01dd4861-b537-4f33-a995-b8dcc1effa69,c1ad42d2-16c7-11ed-9b5f-1234bde3cd05,Moxion Power,Mill Valley,Ca,37.9060,-122.545,6/1/2021,['11283273'],...,{'Street_Address': '78 Lovell Ave.\Nmill Valle...,"{'Most_Recent': [{'Datum': {'Id': 77945758, 'T...",78 Lovell Ave.,Mill Valley,Ca,San Francisco,Ca,Us_De,1.0,1
4,16936,01ef4c0c-2ff6-4c09-8781-385a68ff3220,17f7f348-16c8-11ed-9b5f-1234bde3cd05,Swicherz,Santa Monica,Ca,34.0195,-118.491,1/31/2003,['7147399'],...,"{'Street_Address': '3278 Wilshire Blvd., #603\...","{'Most_Recent': [{'Datum': {'Id': 111545150, '...","3278 Wilshire Blvd., #603",Los Angeles,Ca,NaN,NaN,NaN,1.0,1

In [4]:
### start timer
t0=time.time()

### converts the first character in each word to Uppercase and remaining characters to Lowercase in 
### the string

### regex and regex1 were applied to initially find a list of organization names, followed by refining
### the names by removing erroneous characters
regex="'Company_Name': '[A-Z].+?'"
regex1="'[A-Z].+': "

### determines the length of the input data and creates 2 empty lists to be filled with the extracted
### organization names
b=len(df)
sub_finalAlt = []
finalAlt = []

### the for loop is initiated to review each record individually to extract the organization names
### under the alternative_names column
for j in range(b):
    
    ### if the record is empty or nan the record will be skipped
    if pd.isna(df.iloc[j,15]) is True:
        pass
    
#     elif df.iloc[j,26] == 1:
    elif df.iloc[j,27] == 1:
        pass
    
    ### non-empty records have the curly brackets removed from the right and left of the list of
    ### strings. The findall function searches the list for all instances that match the regex
    ### variable and saves the list to the match variable. The length of this list is determined
    ### and provide to the nested loop below
    else:
        a=df.iloc[j,15][2:-2]
        match = re.findall(regex, a)
        c=len(match)
        
        ### for any length of c greater than 0, this for loop will evaluate each instance for the
        ### organization name by using the regex1 variable to remove characters that are not
        ### required. Once a match is found, the first character in each string is converted to
        ### an uppercase and saved to the sub_finalAlt list. The for loop repeats as many times
        ### that is equal to c
        for i in range(c):
            match1 = re.sub(regex1,"",match[i])
            match1=match1.replace("'","").title()
            
            ### ensures all spaces between strings are a single space
            match1 = re.sub('\s+',' ',match1)
            
            ### replaces specific characters
            match1=re.sub(' & ', ' And ',match1)
            match1=match1.replace('&', ' And ')
            match1=re.sub('Mfg', 'Manufacturing',match1)

            ### convert any names that are not standardized
            match1=re.sub(', Inc\.| Usa, Incorporated| Usa| Inc\.| Inc$| Incorpor$| Incorporated$|Incorporated', '',match1)
            match1=re.sub(', Llc$| Ltd\.| Ltd| Limited| Pty\.| Pty|L\.L\.C\.| Llp$| Llc$|\(.+?\)|,Inc\.', '',match1)
            match1=re.sub(', P\.C\.| P\.C\.| P\. C\.| D\.M\.D\.|D\.D\.S\.| D\. D\. S\.| M\.D\.|L\.L\.C', '',match1)
            match1=re.sub(' Corporation$| Corporation,$| Corp\.$ | Corp.$| Corp\.$| Corp\.,$', ' Corporation',match1)
            match1=re.sub('Co\.$| Co$', 'Company',match1)
            
            match1=re.sub("'", '',match1)
            match1=re.sub('L L C|Lc|Llc', '',match1)
            
            ### removes all punctuation and ensures all spaces were single spaced after processing
            ### the strings
            match1 = re.sub('-|/',' ',match1)
            match1 = match1.translate(str.maketrans('','',string.punctuation))
            match1 = re.sub(' $| LP$','',match1)
            match1 = re.sub('\s+',' ',match1)
                
            ### appends the strings to list
            sub_finalAlt.append(match1)
    
    ### after the nested for loop is finished extracting all possible organization names, the
    ### sub_finalAlt list is appended to the finalAlt list. The finalAlt list is updated with 
    ### the alternative names for each record after the for loops are finished and resets the
    ### sub_finalAlt to an empty list
    finalAlt.append(sub_finalAlt)
    sub_finalAlt = []

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")

### prints the finalAlt list for review
print(finalAlt)

Total time is 0.000368 mins

[[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['Auto Dealers Supply'], [], ['Crescent Communications Company', 'Crescent Cardboard Company', 'Potomac Petroleum Corporation', 'Crescent Creative Products', 'Oz Creative Group'], [], [], [], ['Unitek Engineering', 'Inter Island Navigation Company', 'Unitek Welding And Fabrication', 'Inter Island Cruise Lines', 'Pacific Marine A Unitek Company', 'Navatrek', 'Unitek Investments', 'Unitek', 'Unitek Supply'], ['Service Properties And Investments', 'Menard Of Hawaii', 'Windward Marine Center', 'Automotive Performance Plus', 'Servco Purewater Systems', 'Lexus Of Hawaii', 'Evergreen Plantscapes', 'Flower Market Of Hawaii', 'The Deli Corner', 'Mcwayne Marine Yacht Sales', 'Merchandise Imports', 'Sanyo Appliance And Electronic', 'Service Appliance And Electronics', 'Wholesale Service And Parts Agency', 'Hawaiian Pacific Tropical', 'Service Realty', 'Pacific Automobile Leasing', 'Servco A And E Parts Department', 'Kitchen Distribution Center', 'Motor Imports', 'Servco Auto Buying Center', 'Hawaiian Pacific Tropical', 'Commercial Motors Autosports', 'Evergreen Plantscapes', 'Appliance Service Center', 'Service Realty', 'Autosport Hawaii', 'Evergreen Nurseries', 'Servco Leasing', 'The Kitchen Center', 'Servco Integrated Office Technology', 'Servco A And E Service Department', 'Off The Rack', 'Film Services Of Hawaii', 'Toyota City', 'Compucom Systems', 'Kap Center', 'Gibson Product Company', 'Service Motor Forklift', 'Kapiolani Automotive Parts Center', 'Electronic Futures', 'Vip Auto Sales', 'Gibsons Family Center', 'Gibson Department Store', 'Servco Leasing', 'The Corner Kitchen', 'Distributors Warehouse Outlet', 'Valcom Pacific', 'Flower Market Of Hawaii', 'Easy Music Center', 'Kailua Toyota', 'Servco Auto Service Centers Leeward', 'Servco Auto Service Centers Honolulu', 'Servco Auto Service Centers Windward', 'Servco Auto Service Centers Kaimuki', 'Service Motor Company', 'Servco Integrated Office Technology', 'Jaws', 'Toyota City Used Car Center', 'Service Realty', 'Waipahu Auto Company', 'Servco Auto Windward', 'Servco Marine Supply', 'Toyota City', 'Toyota Hawaii', 'Toyota Hawaii Parts Distribution Center', 'Toyota City Service And Parts', 'Toyota Hawaii Technical Center', 'Kaimuki Toyota', 'Kauai Toyota', 'Windward Toyota', 'Hawaiian Pacific Tropical', 'Lexus Of Maui', 'Servco Parking Systems', 'Kitchen Distribution Center', 'Wahiawa Toyota Suzuki', 'Kitchen Distribution Center', 'Mccalif Hawaii', 'Commercial Motors Equipment', 'Servco Educational Center', 'Easy Music School', 'Rustproofing Center', 'Rex Tire Company', 'Suzuki Menehune', 'Waipahu Toyota', 'Island Country Restaurant', 'Servco Toyota Kauai', 'ServcotoyotaCom', 'Servco Toyota Waipahu', 'Servco Auto Waipahu', 'Servco Auto Waipahu', 'Servco Tire Company', 'ServcoautoCom', 'Servco Toyota Service Kaimuki', 'Servco Scion', 'Servco Toyota Honolulu', 'Servco Forklift And Industrial Equipment', 'Suzuki Hawaii', 'Servco Auto Service Support Center', 'Servco Home And Commercial Products', 'Scion Hawaii', 'Kauai Toyota', 'Servco School And Office Furniture', 'Servco', 'Servco Lexus', 'Servco Auto Honolulu', 'Servco Auto Leeward', 'Servco Used Car Center', 'Servco Leasing', 'Servco Auto Pre Owned Center', 'Rex Tire And Supply', 'Servco Auto Windward', 'Scion Hawaii', 'Appliance Distributors', 'Keiki Music School', 'Servco Marianas', 'Servco Auto Service Center Downtown', 'Servco Auto Service Center Leeward', 'Servco Auto Service Center Wahiawa', 'Servco Auto Service Center Windward', 'Servco Auto Service Center Kaimuki', 'Servco Auto Service Center Honolulu', 'Servco Auto Service Center Kaimuki Annex', 'Jobbers Auto Warehouse Supply', 'Servco Auto Parts Distribution Center', 'ServcoautocenterCom', 'Servco Auto Center', 'Service Lease Company', 'Servco Auto Service Centers Downtown', 'Kauai Toyota', 'Servco Auto Leeward', 'Servco Preowned', 'Servco Buying Center', 'Servco Chevrolet Leeward', 'Servco Toyota Leeward', 'Servco Kauai', 'Servco Maui', 'Servco School And Office Furniture', 'Servco Employee Benefits Consulting', 'Kauai Toyota', 'Servco Auto Service Center Kaimuki', 'Servco Marine Claims', 'Servco Pacific Insurance', 'Service Realty', 'Servco Leeward', 'Servco Toyota Honolulu Service Mapunapuna', 'Servco Toyota Honolulu Service Pukoloa', 'Servco Toyota Honolulu Service Kakaako', 'Servco Auto Center', 'ServcoautocenterCom', 'Servco Auto Parts Center', 'Toyota Hawaii', 'Servco Pacific Automotive Group', 'Servco Parts Center', 'Servco Automotive Group', 'Servco Toyota Service Center', 'Servco Delivery Service', 'Servco Vehicle Processing Center', 'Servco Home And Appliance Distribution', 'Servco Home And Appliance Showroom', 'Servco Campaign Center', 'Servco Lexus', 'Lexus Hawaii', 'Servco Lexus Honolulu', 'Servco Lexus Maui', 'Toyota Hawaii Vehicle Processing Center', 'Servco Auto Kauai', 'Servco Pacific', 'Servco Toyota', 'ServcoautoCom', 'Servco Chevrolet', 'Servco Toyota', 'Servco Toyota Honolulu', 'Servco Toyota Service Kaimuki', 'Servco Toyota Windward', 'Motor Imports', 'Servco Auto Centers', 'Servco Subaru Kauai', 'Servco Toyota Leeward', 'Servco Toyota Windward', 'Servco Chevrolet', 'Servco Toyota Leeward Servco Chevrolet'], [], [], [], [], [], [], [], [], [], [], [], ['Superior Mechanical Industries'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['American Standard Circuits'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['Portacool Transportation'], [], [], [], [], [], [], [], [], [], [], [], [], [], ['Wexler Surgical Supplies'], [], [], [], [], ['Emcon Turner'], [], [], [], [], [], [], [], [], [], [], [], [], [], ['Lifenet', 'Washington Tissue Services', 'Virginia Tissue Bank', 'Lifenet Transplant Services', 'Lifenet Washington Tissue Services', 'Lifenet'], [], ['Bnb Ballistics'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['Enchira Biotechnology Corporation', 'Energy Biosystems Corporation', 'Environmental Bioscience Corporation'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['Swift And Company', 'Swift Independent Packing Company'], [], [], ['Theradoc'], [], [], [], [], [], [], [], [], [], [], ['Curves Of Mokena'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['Kalamazoo Steel Works'], [], [], [], ['American Engineers And Fabricators'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['Fatpipe Networks'], ['Fatpipe Networks'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['Cfi Tire Service', 'Holt Tire Cfi Sales And Service Company'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['Chicago High Tech Association', 'Chicago Software Association', 'Illinois Technology Association', 'Illinois Information Technology Association'], [], ['Fair Oaks Plasma'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['Emi Solutions'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['Bertco Data Processing Company'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['Mageyes', 'M F D Enterprises', 'Mfds'], [], [], [], [], ['The Remline Tool Storage Company'], [], [], [], [], [], [], [], [], [], [], ['Oakland Precision'], [], [], [], [], ['Kingdom Project 7 Billion'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['Injecto Mold'], [], [], ['Atm Access International'], ['Atm International Texas'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['Orion Payment Systems', 'Empower Processing', 'Bizmiles', 'Impact Merchant Services', 'Impact Data', 'Ops Holdings'], ['Global Payments Direct', 'National Data Payment Systems'], ['Library Furniture International'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]

In [5]:
### start timer
t0=time.time()

### creates 2 empty lists to be filled with the extracted organization names
sub_finalPre = []
finalPre = []

regex="'Company_Name': '[A-Za-z].+?'"
regex1="'[A-Za-z].+': "

### the for loop is initiated to review each record individually to extract the organization names
### under the previous_names column
for j in range(b):
    
    ### if the record is empty or nan the record will be skipped
    if pd.isna(df.iloc[j,16]) is True:
        pass
    
#     elif df.iloc[j,26] == 1:
    elif df.iloc[j,27] == 1:
        pass
    
    ### non-empty records have the curly brackets removed from the right and left of the list of
    ### strings. The findall function searches the list for all instances that match the regex
    ### variable and saves the list to the match variable. The length of this list is determined
    ### and provide to the nested loop below
    else:
        a=df.iloc[j,16][2:-2]
        match = re.findall(regex, a)
        c=len(match)

        ### for any length of c greater than 0, this for loop will evaluate each instance for the
        ### organization name by using the regex1 variable to remove characters that are not
        ### required. Once a match is found, the first character in each string is converted to
        ### an uppercase and saved to the sub_finalPre list. The for loop repeats as many times
        ### that is equal to c
        for i in range(c):
            match1 = re.sub(regex1,"",match[i])
            match1=match1.replace("'","").title().lstrip().rstrip()
            
            ### ensures all spaces between strings are a single space
            match1 = re.sub('\s+',' ',match1)
            
            ### replaces specific characters
            match1=re.sub(' & ', ' And ',match1)
            match1=match1.replace('&', ' And ')
            match1=re.sub('Mfg', 'Manufacturing',match1)

            ### convert any names that are not standardized
            match1=re.sub(', Inc\.| Usa, Incorporated| Usa| Inc\.| Inc$| Incorpor$| Incorporated$|Incorporated', '',match1)
            match1=re.sub(', Llc$| Ltd\.| Ltd| Limited| Pty\.| Pty', '',match1)
            match1=re.sub('L\.L\.C\.| Llp$| Llc$|\(.+?\)|,Inc\.', '',match1)
            match1=re.sub(', P\.C\.| P\.C\.| P\. C\.| D\.M\.D\.|D\.D\.S\.| D\. D\. S\.| M\.D\.', '',match1)
            match1=re.sub(' Corporation$| Corporation,$| Corp\.$ | Corp.$| Corp\.$| Corp\.,$', ' Corporation',match1)
            match1=re.sub('Co\.$| Co$', ' Company',match1)
            
            match1=re.sub("'", '',match1)
            match1=re.sub('L L C|Lc|Llc', '',match1)
            
            ### removes all punctuation and ensures all spaces were single spaced after processing
            ### the strings
            match1 = re.sub('-|/',' ',match1)
            match1 = match1.translate(str.maketrans('','',string.punctuation))
            match1 = re.sub(' $| LP$','',match1)
            match1 = re.sub('\s+',' ',match1)
            
            sub_finalPre.append(match1)

    ### after the nested for loop is finished extracting all possible organization names, the
    ### sub_finalPre list is appended to the finalAlt list. The finalPre list is updated with 
    ### the previous names for each record after the for loops are finished and resets the
    ### sub_finalPre to an empty list
    finalPre.append(sub_finalPre)
    sub_finalPre = []

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")

### prints the finalPre list for review
print(finalPre)

Total time is 0.000285 mins

[[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['Dynaco'], [], ['J A E Enterprises'], [], [], [], ['Roberts Golf And Machining', 'Roberts Metals'], [], [], [], [], [], [], [], [], [], [], ['The Arnoldt Doll Company', 'The Arnoldt Fairyland Company'], ['The General Manifold And Printing Company'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['Easterly F B', 'Metalspray Of Virginia', 'Metalspray', 'Metalspray United'], [], [], [], ['Wheeler Steel Works'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['Cope Systems', 'Computer Output Processors And Engineering', 'Tuxxon Delaware'], [], [], [], [], [], [], [], ['Dset Laboratories', 'Desert Sunshine Exposure Test'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['American Newspaper Publishers Association', 'Newspaper Association Of America', 'News Media Alliance'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['Eastern Virginia Tissue Bank', 'Virginia Tissue Bank', 'Lifenet'], [], [], [], [], [], [], [], [], [], [], [], ['Challenge Products'], [], [], [], [], [], [], [], [], ['Venture Manufacturing Ii', 'Manufactured Assemblies Corporation'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['Frederick S Debeer', 'J De Beer And Son'], [], [], [], [], [], [], [], [], [], ['Bowman Oneida Associates'], [], [], [], [], [], [], [], [], [], [], [], [], ['Mt Liquidation', 'Metier Tribeca', 'Ballerina Cosmetics'], ['Mob Holdings', 'Metier Tribeca'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['The Marquette Metal Products Company', 'Curtiss Wright Marquette'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['Zora Enterprises'], [], [], ['Tda Buddy', 'Technological Designs And Assemblies'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['Columbia Scientific'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['Funnel Fits'], [], [], [], ['City Stamp Works'], [], [], [], [], [], [], [], ['Fatpipe Networks India', 'Ragula Systems Development Company'], ['Fatpipe Networks India', 'Ragula Systems Development Company'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['Ljj Liquidation Corporation', 'Joslyn Sterilizer Corporation', 'Joslyn Valve Corporation'], [], [], [], [], ['Sonny Koret Sales'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['Inofile'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['Em Integration Solitions'], ['Cad Cam Tooling'], [], [], [], [], [], [], [], [], [], [], ['Lau Industries'], [], [], [], [], [], [], [], [], [], [], [], [], ['Sandata Holdings', 'Sandata Technologies', 'Sandata', 'Sds'], [], [], [], [], [], [], [], [], [], [], [], ['Prodes', 'Oratech', 'Product Design'], [], [], [], [], [], [], [], [], [], ['Griffin Technology', 'R D Products'], [], [], [], ['Arizona Mist Outdoor Cooling Systems'], [], [], [], [], [], [], [], [], [], [], [], ['Rapindex', 'Qualacim'], ['Rapindex', 'Oakland Precision'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['Qc Solutions'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['Aqua Fab Industries'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]

In [6]:
### start timer
t0=time.time()

### append the OC_results dataset with the finalAlt and finalPre lists with a _clean suffix
df['alternative_names_clean'] = finalAlt
df['previous_names_clean'] = finalPre

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")
print("The number of unique assignee IDs are:",df.assignee.nunique(),"\n")

### print general stats and first 5 records for dataset
display(df.info(),df.head())

Total time is 0.000032 mins

The number of unique assignee IDs are: 462

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 30 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    579 non-null    int64
 1   assignee                              579 non-null    object
 2   location                              579 non-null    object
 3   organization                          579 non-null    object
 4   city                                  579 non-null    object
 5   state                                 579 non-null    object
 6   latitude                              579 non-null    float64
 7   longitude                             579 non-null    float64
 8   dateFiledMin                          579 non-null    object
 9   patentList                            579 non-null    object
 10  name                                  579 non-null    object
 11  jurisdiction_code                     579 non-null    object
 12  incorporation_date                    579 non-null    object
 13  branch_status                         134 non-null    object
 14  agent_address                         209 non-null    object
 15  alternative_names                     76 non-null     object
 16  previous_names                        84 non-null     object
 17  trademark_registrations               142 non-null    object
 18  registered_address                    390 non-null    object
 19  data                                  337 non-null    object
 20  street_address                        355 non-null    object
 21  address_city                          352 non-null    object
 22  address_state                         344 non-null    object
 23  agent_city                            142 non-null    object
 24  agent_state                           138 non-null    object
 25  controlling_entity_jurisdiction_code  125 non-null    object
 26  match_num                             579 non-null    float64
 27  matches                               579 non-null    int64
 28  alternative_names_clean               579 non-null    object
 29  previous_names_clean                  579 non-null    object
dtypes: float64(3), int64(2), object(25)
memory usage: 135.8+ KB

None

,ID,assignee,location,organization,city,state,latitude,longitude,dateFiledMin,patentList,...,street_address,address_city,address_state,agent_city,agent_state,controlling_entity_jurisdiction_code,match_num,matches,alternative_names_clean,previous_names_clean
0,933,012b6757-2d16-4c6d-8aa7-fefbe6328e1c,5d0d1602-16c8-11ed-9b5f-1234bde3cd05,Anemergonics,Arvada,Co,39.8006,-105.081,2/8/2008,['8161698'],...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1,[],[]
1,1189,0179132f-48af-4c06-aa5c-f6ef9a011372,cf479b1d-16c7-11ed-9b5f-1234bde3cd05,Mirofam,Thornton,Co,39.8696,-104.985,3/28/2008,['7841821'],...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1,[],[]
2,16862,01db098e-3394-40a0-bb4c-350431b9685b,d96be5a2-16c7-11ed-9b5f-1234bde3cd05,Menogenix,Aurora,Co,39.7405,-104.831,7/22/2009,['9216206'],...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1,[],[]
3,16867,01dd4861-b537-4f33-a995-b8dcc1effa69,c1ad42d2-16c7-11ed-9b5f-1234bde3cd05,Moxion Power,Mill Valley,Ca,37.9060,-122.545,6/1/2021,['11283273'],...,78 Lovell Ave.,Mill Valley,Ca,San Francisco,Ca,Us_De,1.0,1,[],[]
4,16936,01ef4c0c-2ff6-4c09-8781-385a68ff3220,17f7f348-16c8-11ed-9b5f-1234bde3cd05,Swicherz,Santa Monica,Ca,34.0195,-118.491,1/31/2003,['7147399'],...,"3278 Wilshire Blvd., #603",Los Angeles,Ca,NaN,NaN,NaN,1.0,1,[],[]

In [7]:
### drop the alternative_names and previous_names columns and rearrange the alternative_names_clean 
### and previous_names_clean features
### start timer
t0=time.time()

df1=df.copy()
df1.drop(labels=['alternative_names','previous_names','matches'],axis=1,inplace=True)

thr_col = df1.pop('alternative_names_clean')
for_col = df1.pop('previous_names_clean')

df1.insert(15, 'alternative_names_clean', thr_col)
df1.insert(16, 'previous_names_clean', for_col)

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")
print("The number of unique assignee IDs are:",df.assignee.nunique(),"\n")

### print general stats and first 5 records for dataset
display(df1.info(),df1.head())

Total time is 0.000067 mins

The number of unique assignee IDs are: 462

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 27 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    579 non-null    int64
 1   assignee                              579 non-null    object
 2   location                              579 non-null    object
 3   organization                          579 non-null    object
 4   city                                  579 non-null    object
 5   state                                 579 non-null    object
 6   latitude                              579 non-null    float64
 7   longitude                             579 non-null    float64
 8   dateFiledMin                          579 non-null    object
 9   patentList                            579 non-null    object
 10  name                                  579 non-null    object
 11  jurisdiction_code                     579 non-null    object
 12  incorporation_date                    579 non-null    object
 13  branch_status                         134 non-null    object
 14  agent_address                         209 non-null    object
 15  alternative_names_clean               579 non-null    object
 16  previous_names_clean                  579 non-null    object
 17  trademark_registrations               142 non-null    object
 18  registered_address                    390 non-null    object
 19  data                                  337 non-null    object
 20  street_address                        355 non-null    object
 21  address_city                          352 non-null    object
 22  address_state                         344 non-null    object
 23  agent_city                            142 non-null    object
 24  agent_state                           138 non-null    object
 25  controlling_entity_jurisdiction_code  125 non-null    object
 26  match_num                             579 non-null    float64
dtypes: float64(3), int64(1), object(23)
memory usage: 122.3+ KB

None

,ID,assignee,location,organization,city,state,latitude,longitude,dateFiledMin,patentList,...,trademark_registrations,registered_address,data,street_address,address_city,address_state,agent_city,agent_state,controlling_entity_jurisdiction_code,match_num
0,933,012b6757-2d16-4c6d-8aa7-fefbe6328e1c,5d0d1602-16c8-11ed-9b5f-1234bde3cd05,Anemergonics,Arvada,Co,39.8006,-105.081,2/8/2008,['8161698'],...,[{'Trademark_Registration': {'Mark_Details': {...,NaN,"{'Most_Recent': [{'Datum': {'Id': 32555265, 'T...",NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,1189,0179132f-48af-4c06-aa5c-f6ef9a011372,cf479b1d-16c7-11ed-9b5f-1234bde3cd05,Mirofam,Thornton,Co,39.8696,-104.985,3/28/2008,['7841821'],...,NaN,NaN,"{'Most_Recent': [{'Datum': {'Id': 33099688, 'T...",NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,16862,01db098e-3394-40a0-bb4c-350431b9685b,d96be5a2-16c7-11ed-9b5f-1234bde3cd05,Menogenix,Aurora,Co,39.7405,-104.831,7/22/2009,['9216206'],...,NaN,NaN,"{'Most_Recent': [{'Datum': {'Id': 33483688, 'T...",NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,16867,01dd4861-b537-4f33-a995-b8dcc1effa69,c1ad42d2-16c7-11ed-9b5f-1234bde3cd05,Moxion Power,Mill Valley,Ca,37.9060,-122.545,6/1/2021,['11283273'],...,NaN,{'Street_Address': '78 Lovell Ave.\Nmill Valle...,"{'Most_Recent': [{'Datum': {'Id': 77945758, 'T...",78 Lovell Ave.,Mill Valley,Ca,San Francisco,Ca,Us_De,1.0
4,16936,01ef4c0c-2ff6-4c09-8781-385a68ff3220,17f7f348-16c8-11ed-9b5f-1234bde3cd05,Swicherz,Santa Monica,Ca,34.0195,-118.491,1/31/2003,['7147399'],...,[{'Trademark_Registration': {'Mark_Details': {...,"{'Street_Address': '3278 Wilshire Blvd., #603\...","{'Most_Recent': [{'Datum': {'Id': 111545150, '...","3278 Wilshire Blvd., #603",Los Angeles,Ca,NaN,NaN,NaN,1.0

In [8]:
# df1.to_csv("../csvResults/mergedOCResultsAndPVInputClnNames.csv",index=False)

# Standardize City and State Names

In [1]:
import pandas as pd
import numpy as np
import time
import re
import string
import os
import warnings
warnings.filterwarnings('ignore')

### start timer
t0=time.time()

### set the path for the input file and save to variable
results_folder = "../csvResults/"
input_file = "mergedOCResultsAndPVInputClnNames.csv"

input_directory=os.path.join(results_folder,input_file)
print(input_directory,"\n")

### import the output file from OC API matching and select columns
df=pd.read_csv(input_directory)

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %.3f" % (total/60), "mins\n")
print("The number of unique assignee IDs are:",df.assignee.nunique(),"\n")

### print general stats and first 5 records for dataset
display(df.info(null_counts=True),df.head())

../csvResults/mergedOCResultsAndPVInputClnNames.csv

Total time is 0.000 mins

The number of unique assignee IDs are: 462

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 27 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    579 non-null    int64
 1   assignee                              579 non-null    object
 2   location                              579 non-null    object
 3   organization                          579 non-null    object
 4   city                                  579 non-null    object
 5   state                                 579 non-null    object
 6   latitude                              579 non-null    float64
 7   longitude                             579 non-null    float64
 8   dateFiledMin                          579 non-null    object
 9   patentList                            579 non-null    object
 10  name                                  579 non-null    object
 11  jurisdiction_code                     579 non-null    object
 12  incorporation_date                    579 non-null    object
 13  branch_status                         134 non-null    object
 14  agent_address                         209 non-null    object
 15  alternative_names_clean               579 non-null    object
 16  previous_names_clean                  579 non-null    object
 17  trademark_registrations               142 non-null    object
 18  registered_address                    390 non-null    object
 19  data                                  337 non-null    object
 20  street_address                        355 non-null    object
 21  address_city                          352 non-null    object
 22  address_state                         344 non-null    object
 23  agent_city                            142 non-null    object
 24  agent_state                           138 non-null    object
 25  controlling_entity_jurisdiction_code  125 non-null    object
 26  match_num                             579 non-null    float64
dtypes: float64(3), int64(1), object(23)
memory usage: 122.3+ KB

None

,ID,assignee,location,organization,city,state,latitude,longitude,dateFiledMin,patentList,...,trademark_registrations,registered_address,data,street_address,address_city,address_state,agent_city,agent_state,controlling_entity_jurisdiction_code,match_num
0,933,012b6757-2d16-4c6d-8aa7-fefbe6328e1c,5d0d1602-16c8-11ed-9b5f-1234bde3cd05,Anemergonics,Arvada,Co,39.8006,-105.081,2/8/2008,['8161698'],...,[{'Trademark_Registration': {'Mark_Details': {...,NaN,"{'Most_Recent': [{'Datum': {'Id': 32555265, 'T...",NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,1189,0179132f-48af-4c06-aa5c-f6ef9a011372,cf479b1d-16c7-11ed-9b5f-1234bde3cd05,Mirofam,Thornton,Co,39.8696,-104.985,3/28/2008,['7841821'],...,NaN,NaN,"{'Most_Recent': [{'Datum': {'Id': 33099688, 'T...",NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,16862,01db098e-3394-40a0-bb4c-350431b9685b,d96be5a2-16c7-11ed-9b5f-1234bde3cd05,Menogenix,Aurora,Co,39.7405,-104.831,7/22/2009,['9216206'],...,NaN,NaN,"{'Most_Recent': [{'Datum': {'Id': 33483688, 'T...",NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,16867,01dd4861-b537-4f33-a995-b8dcc1effa69,c1ad42d2-16c7-11ed-9b5f-1234bde3cd05,Moxion Power,Mill Valley,Ca,37.9060,-122.545,6/1/2021,['11283273'],...,NaN,{'Street_Address': '78 Lovell Ave.\Nmill Valle...,"{'Most_Recent': [{'Datum': {'Id': 77945758, 'T...",78 Lovell Ave.,Mill Valley,Ca,San Francisco,Ca,Us_De,1.0
4,16936,01ef4c0c-2ff6-4c09-8781-385a68ff3220,17f7f348-16c8-11ed-9b5f-1234bde3cd05,Swicherz,Santa Monica,Ca,34.0195,-118.491,1/31/2003,['7147399'],...,[{'Trademark_Registration': {'Mark_Details': {...,"{'Street_Address': '3278 Wilshire Blvd., #603\...","{'Most_Recent': [{'Datum': {'Id': 111545150, '...","3278 Wilshire Blvd., #603",Los Angeles,Ca,NaN,NaN,NaN,1.0

In [2]:
### start timer
t0=time.time()

df['city']=df['city'].str.replace("St\. |^St ","Saint ")
df['city']=df['city'].str.replace("Ft\. |^Ft ","Fort ")
df['city']=df['city'].str.replace("Mt\. |^Mt ","Mount ")
df['city']=df['city'].str.replace("Pte\. |^Pte ","Pointe ")

df['address_city']=df['address_city'].str.replace("St\. |^St ","Saint ")
df['address_city']=df['address_city'].str.replace("Ft\. |^Ft ","Fort ")
df['address_city']=df['address_city'].str.replace("Mt\. |^Mt ","Mount ")
df['address_city']=df['address_city'].str.replace("Pte\. |^Pte ","Pointe ")
df['address_city']=df['address_city'].str.replace("Mpls","Minneapolis")
df['address_city']=df['address_city'].str.replace("^.+?, ","")

df['agent_city']=df['agent_city'].str.replace("St\. |^St ","Saint ")
df['agent_city']=df['agent_city'].str.replace("Ft\. |^Ft ","Fort ")
df['agent_city']=df['agent_city'].str.replace("Mt\. |^Mt ","Mount ")
df['agent_city']=df['agent_city'].str.replace("Pte\. |^Pte ","Pointe ")
df['agent_city']=df['agent_city'].str.replace("Mpls","Minneapolis")
df['agent_city']=df['agent_city'].str.replace("^.+?, ","")

df['data']=df['data'].str.replace("St\. |^St ","Saint ")
df['data']=df['data'].str.replace("Ft\. |^Ft ","Fort ")
df['data']=df['data'].str.replace("Mt\. |^Mt ","Mount ")
df['data']=df['data'].str.replace("Pte\. |^Pte ","Pointe ")

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins")

display(df.info(),df.head())

Total time is 0.000392 mins
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 27 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    579 non-null    int64
 1   assignee                              579 non-null    object
 2   location                              579 non-null    object
 3   organization                          579 non-null    object
 4   city                                  579 non-null    object
 5   state                                 579 non-null    object
 6   latitude                              579 non-null    float64
 7   longitude                             579 non-null    float64
 8   dateFiledMin                          579 non-null    object
 9   patentList                            579 non-null    object
 10  name                                  579 non-null    object
 11  jurisdiction_code                     579 non-null    object
 12  incorporation_date                    579 non-null    object
 13  branch_status                         134 non-null    object
 14  agent_address                         209 non-null    object
 15  alternative_names_clean               579 non-null    object
 16  previous_names_clean                  579 non-null    object
 17  trademark_registrations               142 non-null    object
 18  registered_address                    390 non-null    object
 19  data                                  337 non-null    object
 20  street_address                        355 non-null    object
 21  address_city                          352 non-null    object
 22  address_state                         344 non-null    object
 23  agent_city                            142 non-null    object
 24  agent_state                           138 non-null    object
 25  controlling_entity_jurisdiction_code  125 non-null    object
 26  match_num                             579 non-null    float64
dtypes: float64(3), int64(1), object(23)
memory usage: 122.3+ KB

None

,ID,assignee,location,organization,city,state,latitude,longitude,dateFiledMin,patentList,...,trademark_registrations,registered_address,data,street_address,address_city,address_state,agent_city,agent_state,controlling_entity_jurisdiction_code,match_num
0,933,012b6757-2d16-4c6d-8aa7-fefbe6328e1c,5d0d1602-16c8-11ed-9b5f-1234bde3cd05,Anemergonics,Arvada,Co,39.8006,-105.081,2/8/2008,['8161698'],...,[{'Trademark_Registration': {'Mark_Details': {...,NaN,"{'Most_Recent': [{'Datum': {'Id': 32555265, 'T...",NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,1189,0179132f-48af-4c06-aa5c-f6ef9a011372,cf479b1d-16c7-11ed-9b5f-1234bde3cd05,Mirofam,Thornton,Co,39.8696,-104.985,3/28/2008,['7841821'],...,NaN,NaN,"{'Most_Recent': [{'Datum': {'Id': 33099688, 'T...",NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,16862,01db098e-3394-40a0-bb4c-350431b9685b,d96be5a2-16c7-11ed-9b5f-1234bde3cd05,Menogenix,Aurora,Co,39.7405,-104.831,7/22/2009,['9216206'],...,NaN,NaN,"{'Most_Recent': [{'Datum': {'Id': 33483688, 'T...",NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,16867,01dd4861-b537-4f33-a995-b8dcc1effa69,c1ad42d2-16c7-11ed-9b5f-1234bde3cd05,Moxion Power,Mill Valley,Ca,37.9060,-122.545,6/1/2021,['11283273'],...,NaN,{'Street_Address': '78 Lovell Ave.\Nmill Valle...,"{'Most_Recent': [{'Datum': {'Id': 77945758, 'T...",78 Lovell Ave.,Mill Valley,Ca,San Francisco,Ca,Us_De,1.0
4,16936,01ef4c0c-2ff6-4c09-8781-385a68ff3220,17f7f348-16c8-11ed-9b5f-1234bde3cd05,Swicherz,Santa Monica,Ca,34.0195,-118.491,1/31/2003,['7147399'],...,[{'Trademark_Registration': {'Mark_Details': {...,"{'Street_Address': '3278 Wilshire Blvd., #603\...","{'Most_Recent': [{'Datum': {'Id': 111545150, '...","3278 Wilshire Blvd., #603",Los Angeles,Ca,NaN,NaN,NaN,1.0

In [3]:
### start timer
t0=time.time()

df['address_state']=df['address_state'].str.replace("^.+?, ","")
df['address_state']=df['address_state'].str.replace("^Pa [0-9].*","Pa")
df['address_state']=df['address_state'].str.replace("^.*Of ","")

df['agent_state']=df['agent_state'].str.replace("^.+?, ","")
df['agent_state']=df['agent_state'].str.replace("^Pa [0-9].*","Pa")
df['agent_state']=df['agent_state'].str.replace("^.*Of ","")

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins")

display(df.info(),df.head())

Total time is 0.000065 mins
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 27 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    579 non-null    int64
 1   assignee                              579 non-null    object
 2   location                              579 non-null    object
 3   organization                          579 non-null    object
 4   city                                  579 non-null    object
 5   state                                 579 non-null    object
 6   latitude                              579 non-null    float64
 7   longitude                             579 non-null    float64
 8   dateFiledMin                          579 non-null    object
 9   patentList                            579 non-null    object
 10  name                                  579 non-null    object
 11  jurisdiction_code                     579 non-null    object
 12  incorporation_date                    579 non-null    object
 13  branch_status                         134 non-null    object
 14  agent_address                         209 non-null    object
 15  alternative_names_clean               579 non-null    object
 16  previous_names_clean                  579 non-null    object
 17  trademark_registrations               142 non-null    object
 18  registered_address                    390 non-null    object
 19  data                                  337 non-null    object
 20  street_address                        355 non-null    object
 21  address_city                          352 non-null    object
 22  address_state                         344 non-null    object
 23  agent_city                            142 non-null    object
 24  agent_state                           138 non-null    object
 25  controlling_entity_jurisdiction_code  125 non-null    object
 26  match_num                             579 non-null    float64
dtypes: float64(3), int64(1), object(23)
memory usage: 122.3+ KB

None

,ID,assignee,location,organization,city,state,latitude,longitude,dateFiledMin,patentList,...,trademark_registrations,registered_address,data,street_address,address_city,address_state,agent_city,agent_state,controlling_entity_jurisdiction_code,match_num
0,933,012b6757-2d16-4c6d-8aa7-fefbe6328e1c,5d0d1602-16c8-11ed-9b5f-1234bde3cd05,Anemergonics,Arvada,Co,39.8006,-105.081,2/8/2008,['8161698'],...,[{'Trademark_Registration': {'Mark_Details': {...,NaN,"{'Most_Recent': [{'Datum': {'Id': 32555265, 'T...",NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,1189,0179132f-48af-4c06-aa5c-f6ef9a011372,cf479b1d-16c7-11ed-9b5f-1234bde3cd05,Mirofam,Thornton,Co,39.8696,-104.985,3/28/2008,['7841821'],...,NaN,NaN,"{'Most_Recent': [{'Datum': {'Id': 33099688, 'T...",NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,16862,01db098e-3394-40a0-bb4c-350431b9685b,d96be5a2-16c7-11ed-9b5f-1234bde3cd05,Menogenix,Aurora,Co,39.7405,-104.831,7/22/2009,['9216206'],...,NaN,NaN,"{'Most_Recent': [{'Datum': {'Id': 33483688, 'T...",NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,16867,01dd4861-b537-4f33-a995-b8dcc1effa69,c1ad42d2-16c7-11ed-9b5f-1234bde3cd05,Moxion Power,Mill Valley,Ca,37.9060,-122.545,6/1/2021,['11283273'],...,NaN,{'Street_Address': '78 Lovell Ave.\Nmill Valle...,"{'Most_Recent': [{'Datum': {'Id': 77945758, 'T...",78 Lovell Ave.,Mill Valley,Ca,San Francisco,Ca,Us_De,1.0
4,16936,01ef4c0c-2ff6-4c09-8781-385a68ff3220,17f7f348-16c8-11ed-9b5f-1234bde3cd05,Swicherz,Santa Monica,Ca,34.0195,-118.491,1/31/2003,['7147399'],...,[{'Trademark_Registration': {'Mark_Details': {...,"{'Street_Address': '3278 Wilshire Blvd., #603\...","{'Most_Recent': [{'Datum': {'Id': 111545150, '...","3278 Wilshire Blvd., #603",Los Angeles,Ca,NaN,NaN,NaN,1.0

In [4]:
### start timer
t0=time.time()
matchesC=[]
matchesS=[]

for i in range(len(df)):
    if df.iloc[i,4] == df.iloc[i,21]:
        matchesC.append(1)
    
    elif df.iloc[i,4] == df.iloc[i,23]:
        matchesC.append(1)
    
    else:
        matchesC.append(0)      

df['cityMatches']=matchesC   

for i in range(len(df)):
    if df.iloc[i,5] == df.iloc[i,22]:
        matchesS.append(1)
    
    elif df.iloc[i,5] == df.iloc[i,24]:
        matchesS.append(1)
    
    else:
        matchesS.append(0)      

df['stateMatches']=matchesS

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %.3f" % (total/60), "mins\n")

display(df.info(),df.head())

Total time is 0.001 mins

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 29 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    579 non-null    int64
 1   assignee                              579 non-null    object
 2   location                              579 non-null    object
 3   organization                          579 non-null    object
 4   city                                  579 non-null    object
 5   state                                 579 non-null    object
 6   latitude                              579 non-null    float64
 7   longitude                             579 non-null    float64
 8   dateFiledMin                          579 non-null    object
 9   patentList                            579 non-null    object
 10  name                                  579 non-null    object
 11  jurisdiction_code                     579 non-null    object
 12  incorporation_date                    579 non-null    object
 13  branch_status                         134 non-null    object
 14  agent_address                         209 non-null    object
 15  alternative_names_clean               579 non-null    object
 16  previous_names_clean                  579 non-null    object
 17  trademark_registrations               142 non-null    object
 18  registered_address                    390 non-null    object
 19  data                                  337 non-null    object
 20  street_address                        355 non-null    object
 21  address_city                          352 non-null    object
 22  address_state                         344 non-null    object
 23  agent_city                            142 non-null    object
 24  agent_state                           138 non-null    object
 25  controlling_entity_jurisdiction_code  125 non-null    object
 26  match_num                             579 non-null    float64
 27  cityMatches                           579 non-null    int64
 28  stateMatches                          579 non-null    int64
dtypes: float64(3), int64(3), object(23)
memory usage: 131.3+ KB

None

,ID,assignee,location,organization,city,state,latitude,longitude,dateFiledMin,patentList,...,data,street_address,address_city,address_state,agent_city,agent_state,controlling_entity_jurisdiction_code,match_num,cityMatches,stateMatches
0,933,012b6757-2d16-4c6d-8aa7-fefbe6328e1c,5d0d1602-16c8-11ed-9b5f-1234bde3cd05,Anemergonics,Arvada,Co,39.8006,-105.081,2/8/2008,['8161698'],...,"{'Most_Recent': [{'Datum': {'Id': 32555265, 'T...",NaN,NaN,NaN,NaN,NaN,NaN,1.0,0,0
1,1189,0179132f-48af-4c06-aa5c-f6ef9a011372,cf479b1d-16c7-11ed-9b5f-1234bde3cd05,Mirofam,Thornton,Co,39.8696,-104.985,3/28/2008,['7841821'],...,"{'Most_Recent': [{'Datum': {'Id': 33099688, 'T...",NaN,NaN,NaN,NaN,NaN,NaN,1.0,0,0
2,16862,01db098e-3394-40a0-bb4c-350431b9685b,d96be5a2-16c7-11ed-9b5f-1234bde3cd05,Menogenix,Aurora,Co,39.7405,-104.831,7/22/2009,['9216206'],...,"{'Most_Recent': [{'Datum': {'Id': 33483688, 'T...",NaN,NaN,NaN,NaN,NaN,NaN,1.0,0,0
3,16867,01dd4861-b537-4f33-a995-b8dcc1effa69,c1ad42d2-16c7-11ed-9b5f-1234bde3cd05,Moxion Power,Mill Valley,Ca,37.9060,-122.545,6/1/2021,['11283273'],...,"{'Most_Recent': [{'Datum': {'Id': 77945758, 'T...",78 Lovell Ave.,Mill Valley,Ca,San Francisco,Ca,Us_De,1.0,1,1
4,16936,01ef4c0c-2ff6-4c09-8781-385a68ff3220,17f7f348-16c8-11ed-9b5f-1234bde3cd05,Swicherz,Santa Monica,Ca,34.0195,-118.491,1/31/2003,['7147399'],...,"{'Most_Recent': [{'Datum': {'Id': 111545150, '...","3278 Wilshire Blvd., #603",Los Angeles,Ca,NaN,NaN,NaN,1.0,0,1

In [5]:
### start timer
t0=time.time()

### creates 2 empty lists to be filled with the extracted organization names
sub_finalCity = []
finalCity = []

regex="'Description': '[A-Za-z0-9].+?'"
regex1="'[A-Za-z].+': "

### the for loop is initiated to review each record individually to extract the organization names
### under the previous_names column
for j in range(len(df)):

    ### if the record is empty or nan the record will be skipped
    if pd.isna(df.iloc[j,19]) is True:
        pass
    
#     elif df.iloc[j,26] == 1:
    elif df.iloc[j,27] == 1:
        pass
    
    ### non-empty records have the curly brackets removed from the right and left of the list of
    ### strings. The findall function searches the list for all instances that match the regex
    ### variable and saves the list to the match variable. The length of this list is determined
    ### and provide to the nested loop below
    else:
        a=df.iloc[j,19][2:-2]
        match = re.findall(regex, a)
        c=len(match)
        
        ### for any length of c greater than 0, this for loop will evaluate each instance for the
        ### organization name by using the regex1 variable to remove characters that are not
        ### required. Once a match is found, the first character in each string is converted to
        ### an uppercase and saved to the sub_finalPre list. The for loop repeats as many times
        ### that is equal to c
        for i in range(c):
            match1 = re.sub(regex1,"",match[i])
            match1 = match1.replace("'","")
            match1 = re.sub('\s+',' ',match1)
            match2=match1.split(",")

            for k in range(len(match2)):
                match2[k]=match2[k].lstrip().rstrip()

                if match2[k] == df.iloc[j,4] and len(sub_finalCity) == 0:
                    sub_finalCity.append(match2[k])

    ### after the nested for loop is finished extracting all possible organization names, the
    ### sub_finalPre list is appended to the finalAlt list. The finalPre list is updated with 
    ### the previous names for each record after the for loops are finished and resets the
    ### sub_finalPre to an empty list
    finalCity.append(sub_finalCity)
    sub_finalCity = []
    
### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")

Total time is 0.000847 mins

In [6]:
### start timer
t0=time.time()

### creates 2 empty lists to be filled with the extracted organization names
sub_finalState = []
finalState = []

regex="'Description': '[A-Za-z0-9].+?'"
regex1="'[A-Za-z].+': "

### the for loop is initiated to review each record individually to extract the organization names
### under the previous_names column
for j in range(len(df)):

    ### if the record is empty or nan the record will be skipped
    if pd.isna(df.iloc[j,19]) is True:
        pass
    
#     elif df.iloc[j,27] == 1:
    elif df.iloc[j,28] == 1:
        pass
    
    ### non-empty records have the curly brackets removed from the right and left of the list of
    ### strings. The findall function searches the list for all instances that match the regex
    ### variable and saves the list to the match variable. The length of this list is determined
    ### and provide to the nested loop below
    else:
        a=df.iloc[j,19][2:-2]
        match = re.findall(regex, a)
        c=len(match)
        
        ### for any length of c greater than 0, this for loop will evaluate each instance for the
        ### organization name by using the regex1 variable to remove characters that are not
        ### required. Once a match is found, the first character in each string is converted to
        ### an uppercase and saved to the sub_finalPre list. The for loop repeats as many times
        ### that is equal to c
        for i in range(c):
            match1 = re.sub(regex1,"",match[i])
            match1 = match1.replace("'","")
            match1 = re.sub('\s+',' ',match1)
            match2=match1.split(",")

            for k in range(len(match2)):
                match2[k]=match2[k].lstrip().rstrip()
                    
                if match2[k] == df.iloc[j,5] and len(sub_finalState) == 0:
                    sub_finalState.append(match2[k])

    ### after the nested for loop is finished extracting all possible organization names, the
    ### sub_finalPre list is appended to the finalAlt list. The finalPre list is updated with 
    ### the previous names for each record after the for loops are finished and resets the
    ### sub_finalPre to an empty list

    finalState.append(sub_finalState)
    sub_finalState = []
    
### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")

Total time is 0.000519 mins

In [7]:
### start timer
t0=time.time()

### append the OC_results dataset with the finalAlt and finalPre lists with a _clean suffix
df['data_city'] = finalCity
df['data_state'] = finalState

df1=df.copy()
df1.drop(labels=['cityMatches','stateMatches'],axis=1,inplace=True)

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")
print("The number of unique assignee IDs are:",df1.assignee.nunique(),"\n")

### print general stats and first 5 records for dataset
display(df1.info(),df1.head())

Total time is 0.000050 mins

The number of unique assignee IDs are: 462

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 29 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    579 non-null    int64
 1   assignee                              579 non-null    object
 2   location                              579 non-null    object
 3   organization                          579 non-null    object
 4   city                                  579 non-null    object
 5   state                                 579 non-null    object
 6   latitude                              579 non-null    float64
 7   longitude                             579 non-null    float64
 8   dateFiledMin                          579 non-null    object
 9   patentList                            579 non-null    object
 10  name                                  579 non-null    object
 11  jurisdiction_code                     579 non-null    object
 12  incorporation_date                    579 non-null    object
 13  branch_status                         134 non-null    object
 14  agent_address                         209 non-null    object
 15  alternative_names_clean               579 non-null    object
 16  previous_names_clean                  579 non-null    object
 17  trademark_registrations               142 non-null    object
 18  registered_address                    390 non-null    object
 19  data                                  337 non-null    object
 20  street_address                        355 non-null    object
 21  address_city                          352 non-null    object
 22  address_state                         344 non-null    object
 23  agent_city                            142 non-null    object
 24  agent_state                           138 non-null    object
 25  controlling_entity_jurisdiction_code  125 non-null    object
 26  match_num                             579 non-null    float64
 27  data_city                             579 non-null    object
 28  data_state                            579 non-null    object
dtypes: float64(3), int64(1), object(25)
memory usage: 131.3+ KB

None

,ID,assignee,location,organization,city,state,latitude,longitude,dateFiledMin,patentList,...,data,street_address,address_city,address_state,agent_city,agent_state,controlling_entity_jurisdiction_code,match_num,data_city,data_state
0,933,012b6757-2d16-4c6d-8aa7-fefbe6328e1c,5d0d1602-16c8-11ed-9b5f-1234bde3cd05,Anemergonics,Arvada,Co,39.8006,-105.081,2/8/2008,['8161698'],...,"{'Most_Recent': [{'Datum': {'Id': 32555265, 'T...",NaN,NaN,NaN,NaN,NaN,NaN,1.0,[],[Co]
1,1189,0179132f-48af-4c06-aa5c-f6ef9a011372,cf479b1d-16c7-11ed-9b5f-1234bde3cd05,Mirofam,Thornton,Co,39.8696,-104.985,3/28/2008,['7841821'],...,"{'Most_Recent': [{'Datum': {'Id': 33099688, 'T...",NaN,NaN,NaN,NaN,NaN,NaN,1.0,[],[]
2,16862,01db098e-3394-40a0-bb4c-350431b9685b,d96be5a2-16c7-11ed-9b5f-1234bde3cd05,Menogenix,Aurora,Co,39.7405,-104.831,7/22/2009,['9216206'],...,"{'Most_Recent': [{'Datum': {'Id': 33483688, 'T...",NaN,NaN,NaN,NaN,NaN,NaN,1.0,[Aurora],[Co]
3,16867,01dd4861-b537-4f33-a995-b8dcc1effa69,c1ad42d2-16c7-11ed-9b5f-1234bde3cd05,Moxion Power,Mill Valley,Ca,37.9060,-122.545,6/1/2021,['11283273'],...,"{'Most_Recent': [{'Datum': {'Id': 77945758, 'T...",78 Lovell Ave.,Mill Valley,Ca,San Francisco,Ca,Us_De,1.0,[],[]
4,16936,01ef4c0c-2ff6-4c09-8781-385a68ff3220,17f7f348-16c8-11ed-9b5f-1234bde3cd05,Swicherz,Santa Monica,Ca,34.0195,-118.491,1/31/2003,['7147399'],...,"{'Most_Recent': [{'Datum': {'Id': 111545150, '...","3278 Wilshire Blvd., #603",Los Angeles,Ca,NaN,NaN,NaN,1.0,[],[]

In [8]:
### start timer
t0=time.time()

sub_newCity=[]
newCity=[]
sub_newState=[]
newState=[]

for t in range(len(df1)):
    state=''.join(map(str,df1.data_state[t]))
    city=''.join(map(str,df1.data_city[t]))

    if df1.city[t] == df1.address_city[t]:
        sub_newCity.append(df1.address_city[t])
        pass
    
    elif df1.city[t] == df1.agent_city[t]:
        sub_newCity.append(df1.agent_city[t])
        pass
    
    elif df1.city[t] == city:
        sub_newCity.append(city)
        pass
    
    else:
        sub_newCity.append("")
    
    newCity.append(sub_newCity)
    sub_newCity=[]
           
    if df1.state[t] == df1.address_state[t]:
        sub_newState.append(df1.address_state[t])
        pass
    
    elif df1.state[t] == df1.agent_state[t]:
        sub_newState.append(df1.agent_state[t])
        pass
    
    elif df1.state[t] == state:
        sub_newState.append(state)
        pass
    
    else:
        sub_newState.append("")
        
    newState.append(sub_newState)
    sub_newState=[]

        
df1['cityMatch']=newCity
df1['stateMatch']=newState

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")

### print general stats and first 5 records for dataset
display(df1.info(),df1.head())

Total time is 0.000586 mins

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 31 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    579 non-null    int64
 1   assignee                              579 non-null    object
 2   location                              579 non-null    object
 3   organization                          579 non-null    object
 4   city                                  579 non-null    object
 5   state                                 579 non-null    object
 6   latitude                              579 non-null    float64
 7   longitude                             579 non-null    float64
 8   dateFiledMin                          579 non-null    object
 9   patentList                            579 non-null    object
 10  name                                  579 non-null    object
 11  jurisdiction_code                     579 non-null    object
 12  incorporation_date                    579 non-null    object
 13  branch_status                         134 non-null    object
 14  agent_address                         209 non-null    object
 15  alternative_names_clean               579 non-null    object
 16  previous_names_clean                  579 non-null    object
 17  trademark_registrations               142 non-null    object
 18  registered_address                    390 non-null    object
 19  data                                  337 non-null    object
 20  street_address                        355 non-null    object
 21  address_city                          352 non-null    object
 22  address_state                         344 non-null    object
 23  agent_city                            142 non-null    object
 24  agent_state                           138 non-null    object
 25  controlling_entity_jurisdiction_code  125 non-null    object
 26  match_num                             579 non-null    float64
 27  data_city                             579 non-null    object
 28  data_state                            579 non-null    object
 29  cityMatch                             579 non-null    object
 30  stateMatch                            579 non-null    object
dtypes: float64(3), int64(1), object(27)
memory usage: 140.4+ KB

None

,ID,assignee,location,organization,city,state,latitude,longitude,dateFiledMin,patentList,...,address_city,address_state,agent_city,agent_state,controlling_entity_jurisdiction_code,match_num,data_city,data_state,cityMatch,stateMatch
0,933,012b6757-2d16-4c6d-8aa7-fefbe6328e1c,5d0d1602-16c8-11ed-9b5f-1234bde3cd05,Anemergonics,Arvada,Co,39.8006,-105.081,2/8/2008,['8161698'],...,NaN,NaN,NaN,NaN,NaN,1.0,[],[Co],[],[Co]
1,1189,0179132f-48af-4c06-aa5c-f6ef9a011372,cf479b1d-16c7-11ed-9b5f-1234bde3cd05,Mirofam,Thornton,Co,39.8696,-104.985,3/28/2008,['7841821'],...,NaN,NaN,NaN,NaN,NaN,1.0,[],[],[],[]
2,16862,01db098e-3394-40a0-bb4c-350431b9685b,d96be5a2-16c7-11ed-9b5f-1234bde3cd05,Menogenix,Aurora,Co,39.7405,-104.831,7/22/2009,['9216206'],...,NaN,NaN,NaN,NaN,NaN,1.0,[Aurora],[Co],[Aurora],[Co]
3,16867,01dd4861-b537-4f33-a995-b8dcc1effa69,c1ad42d2-16c7-11ed-9b5f-1234bde3cd05,Moxion Power,Mill Valley,Ca,37.9060,-122.545,6/1/2021,['11283273'],...,Mill Valley,Ca,San Francisco,Ca,Us_De,1.0,[],[],[Mill Valley],[Ca]
4,16936,01ef4c0c-2ff6-4c09-8781-385a68ff3220,17f7f348-16c8-11ed-9b5f-1234bde3cd05,Swicherz,Santa Monica,Ca,34.0195,-118.491,1/31/2003,['7147399'],...,Los Angeles,Ca,NaN,NaN,NaN,1.0,[],[],[],[Ca]

In [9]:
### start timer
t0=time.time()

df2=df1.copy()
df2.drop(labels=['data','data_city','data_state'],axis=1,inplace=True)

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")

### print general stats and first 5 records for dataset
display(df2.info(),df2.head())

Total time is 0.000000 mins

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 28 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    579 non-null    int64
 1   assignee                              579 non-null    object
 2   location                              579 non-null    object
 3   organization                          579 non-null    object
 4   city                                  579 non-null    object
 5   state                                 579 non-null    object
 6   latitude                              579 non-null    float64
 7   longitude                             579 non-null    float64
 8   dateFiledMin                          579 non-null    object
 9   patentList                            579 non-null    object
 10  name                                  579 non-null    object
 11  jurisdiction_code                     579 non-null    object
 12  incorporation_date                    579 non-null    object
 13  branch_status                         134 non-null    object
 14  agent_address                         209 non-null    object
 15  alternative_names_clean               579 non-null    object
 16  previous_names_clean                  579 non-null    object
 17  trademark_registrations               142 non-null    object
 18  registered_address                    390 non-null    object
 19  street_address                        355 non-null    object
 20  address_city                          352 non-null    object
 21  address_state                         344 non-null    object
 22  agent_city                            142 non-null    object
 23  agent_state                           138 non-null    object
 24  controlling_entity_jurisdiction_code  125 non-null    object
 25  match_num                             579 non-null    float64
 26  cityMatch                             579 non-null    object
 27  stateMatch                            579 non-null    object
dtypes: float64(3), int64(1), object(24)
memory usage: 126.8+ KB

None

,ID,assignee,location,organization,city,state,latitude,longitude,dateFiledMin,patentList,...,registered_address,street_address,address_city,address_state,agent_city,agent_state,controlling_entity_jurisdiction_code,match_num,cityMatch,stateMatch
0,933,012b6757-2d16-4c6d-8aa7-fefbe6328e1c,5d0d1602-16c8-11ed-9b5f-1234bde3cd05,Anemergonics,Arvada,Co,39.8006,-105.081,2/8/2008,['8161698'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,[],[Co]
1,1189,0179132f-48af-4c06-aa5c-f6ef9a011372,cf479b1d-16c7-11ed-9b5f-1234bde3cd05,Mirofam,Thornton,Co,39.8696,-104.985,3/28/2008,['7841821'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,[],[]
2,16862,01db098e-3394-40a0-bb4c-350431b9685b,d96be5a2-16c7-11ed-9b5f-1234bde3cd05,Menogenix,Aurora,Co,39.7405,-104.831,7/22/2009,['9216206'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,[Aurora],[Co]
3,16867,01dd4861-b537-4f33-a995-b8dcc1effa69,c1ad42d2-16c7-11ed-9b5f-1234bde3cd05,Moxion Power,Mill Valley,Ca,37.9060,-122.545,6/1/2021,['11283273'],...,{'Street_Address': '78 Lovell Ave.\Nmill Valle...,78 Lovell Ave.,Mill Valley,Ca,San Francisco,Ca,Us_De,1.0,[Mill Valley],[Ca]
4,16936,01ef4c0c-2ff6-4c09-8781-385a68ff3220,17f7f348-16c8-11ed-9b5f-1234bde3cd05,Swicherz,Santa Monica,Ca,34.0195,-118.491,1/31/2003,['7147399'],...,"{'Street_Address': '3278 Wilshire Blvd., #603\...","3278 Wilshire Blvd., #603",Los Angeles,Ca,NaN,NaN,NaN,1.0,[],[Ca]

In [10]:
### start timer
t0=time.time()

# df3=df2.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,15,16,25,26,20,21,22,23,13,18,19,14,17,24]].copy()
df3=df2.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,15,16,26,27,20,21,22,23,13,18,19,14,17,24,25]].copy()


### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")
print("The number of unique assignee IDs are:",df3.assignee.nunique(),"\n")

### print general stats and first 5 records for dataset
display(df3.info(),df3.head())

Total time is 0.000018 mins

The number of unique assignee IDs are: 462

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 28 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    579 non-null    int64
 1   assignee                              579 non-null    object
 2   location                              579 non-null    object
 3   organization                          579 non-null    object
 4   city                                  579 non-null    object
 5   state                                 579 non-null    object
 6   latitude                              579 non-null    float64
 7   longitude                             579 non-null    float64
 8   dateFiledMin                          579 non-null    object
 9   patentList                            579 non-null    object
 10  name                                  579 non-null    object
 11  jurisdiction_code                     579 non-null    object
 12  incorporation_date                    579 non-null    object
 13  alternative_names_clean               579 non-null    object
 14  previous_names_clean                  579 non-null    object
 15  cityMatch                             579 non-null    object
 16  stateMatch                            579 non-null    object
 17  address_city                          352 non-null    object
 18  address_state                         344 non-null    object
 19  agent_city                            142 non-null    object
 20  agent_state                           138 non-null    object
 21  branch_status                         134 non-null    object
 22  registered_address                    390 non-null    object
 23  street_address                        355 non-null    object
 24  agent_address                         209 non-null    object
 25  trademark_registrations               142 non-null    object
 26  controlling_entity_jurisdiction_code  125 non-null    object
 27  match_num                             579 non-null    float64
dtypes: float64(3), int64(1), object(24)
memory usage: 126.8+ KB

None

,ID,assignee,location,organization,city,state,latitude,longitude,dateFiledMin,patentList,...,address_state,agent_city,agent_state,branch_status,registered_address,street_address,agent_address,trademark_registrations,controlling_entity_jurisdiction_code,match_num
0,933,012b6757-2d16-4c6d-8aa7-fefbe6328e1c,5d0d1602-16c8-11ed-9b5f-1234bde3cd05,Anemergonics,Arvada,Co,39.8006,-105.081,2/8/2008,['8161698'],...,NaN,NaN,NaN,NaN,NaN,NaN,"1428 S Humboldt St, Denver, Co, 80210, Us",[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0
1,1189,0179132f-48af-4c06-aa5c-f6ef9a011372,cf479b1d-16c7-11ed-9b5f-1234bde3cd05,Mirofam,Thornton,Co,39.8696,-104.985,3/28/2008,['7841821'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,16862,01db098e-3394-40a0-bb4c-350431b9685b,d96be5a2-16c7-11ed-9b5f-1234bde3cd05,Menogenix,Aurora,Co,39.7405,-104.831,7/22/2009,['9216206'],...,NaN,NaN,NaN,NaN,NaN,NaN,"2560 Kinnikinnick Rd Unit F4, Apt. 803C, Vail,...",NaN,NaN,1.0
3,16867,01dd4861-b537-4f33-a995-b8dcc1effa69,c1ad42d2-16c7-11ed-9b5f-1234bde3cd05,Moxion Power,Mill Valley,Ca,37.9060,-122.545,6/1/2021,['11283273'],...,Ca,San Francisco,Ca,branch of an out-of-jurisdiction company,{'Street_Address': '78 Lovell Ave.\Nmill Valle...,78 Lovell Ave.,"{'Street_Address': '1428 Shotwell Street', 'Lo...",NaN,Us_De,1.0
4,16936,01ef4c0c-2ff6-4c09-8781-385a68ff3220,17f7f348-16c8-11ed-9b5f-1234bde3cd05,Swicherz,Santa Monica,Ca,34.0195,-118.491,1/31/2003,['7147399'],...,Ca,NaN,NaN,NaN,"{'Street_Address': '3278 Wilshire Blvd., #603\...","3278 Wilshire Blvd., #603",NaN,[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0

In [11]:
# df3.to_csv("../csvResults/mergedOCResultsAndPVInputClnNamesClnStCy.csv",index=False)

## Add Coordinates to all City Locations

In [1]:
import pandas as pd
import numpy as np
import os
import time
import warnings
warnings.filterwarnings('ignore')

### start timer
t0=time.time()

### set the path for the input file and save to variable
sour_folder="../sourceFiles/"
input_file = "location_suppLatLong1.tsv"

input_directory=os.path.join(sour_folder,input_file)
print(input_directory,"\n")

### import the output file from OC API matching and select columns
latLong=pd.read_csv(input_directory,sep="\t",usecols=['city','state','latitude','longitude'])

latLong.city=latLong.city.str.title()
latLong.state=latLong.state.str.title()
latLong.drop_duplicates(keep='first',inplace=True)

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %.3f" % (total/60), "mins\n")

### print general stats and first 5 records for dataset
display(latLong.info(null_counts=True),latLong.head())

../sourceFiles/location_suppLatLong1.tsv

Total time is 0.001 mins

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32927 entries, 0 to 32944
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   city       32927 non-null  object
 1   state      32927 non-null  object
 2   latitude   32927 non-null  float64
 3   longitude  32927 non-null  float64
dtypes: float64(2), object(2)
memory usage: 1.3+ MB

None

             city state  latitude  longitude
0           Alder    Mt   45.3247  -112.1080
1         Knowles    Ok   36.8734  -100.1930
2  Court Florency    Ky   38.0393   -84.4862
3    Mount Herman    Nj   39.6176   -74.5943
4  Watauga County    Nc   36.2514   -81.7044

In [2]:
### start timer
t0=time.time()

### set the path for the input file and save to variable
res_folder = "../csvResults/"
input_file = "mergedOCResultsAndPVInputClnNamesClnStCy.csv"

input_directory=os.path.join(res_folder,input_file)
print(input_directory,"\n")

### import the output file from OC API matching and select columns
cleanCityStates=pd.read_csv(input_directory)
cleanCityStates.stateMatch=cleanCityStates.stateMatch.str.replace("\[|'|\]","")
cleanCityStates.cityMatch=cleanCityStates.cityMatch.str.replace("\[|'|\]","")

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %.3f" % (total/60), "mins\n")
print("The number of unique assignee IDs are:",cleanCityStates.assignee.nunique(),"\n")

### print general stats and first 5 records for dataset
display(cleanCityStates.info(null_counts=True),cleanCityStates.head())

../csvResults/mergedOCResultsAndPVInputClnNamesClnStCy.csv

Total time is 0.000 mins

The number of unique assignee IDs are: 462

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 28 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    579 non-null    int64
 1   assignee                              579 non-null    object
 2   location                              579 non-null    object
 3   organization                          579 non-null    object
 4   city                                  579 non-null    object
 5   state                                 579 non-null    object
 6   latitude                              579 non-null    float64
 7   longitude                             579 non-null    float64
 8   dateFiledMin                          579 non-null    object
 9   patentList                            579 non-null    object
 10  name                                  579 non-null    object
 11  jurisdiction_code                     579 non-null    object
 12  incorporation_date                    579 non-null    object
 13  alternative_names_clean               579 non-null    object
 14  previous_names_clean                  579 non-null    object
 15  cityMatch                             579 non-null    object
 16  stateMatch                            579 non-null    object
 17  address_city                          352 non-null    object
 18  address_state                         344 non-null    object
 19  agent_city                            142 non-null    object
 20  agent_state                           138 non-null    object
 21  branch_status                         134 non-null    object
 22  registered_address                    390 non-null    object
 23  street_address                        355 non-null    object
 24  agent_address                         209 non-null    object
 25  trademark_registrations               142 non-null    object
 26  controlling_entity_jurisdiction_code  125 non-null    object
 27  match_num                             579 non-null    float64
dtypes: float64(3), int64(1), object(24)
memory usage: 126.8+ KB

None

,ID,assignee,location,organization,city,state,latitude,longitude,dateFiledMin,patentList,...,address_state,agent_city,agent_state,branch_status,registered_address,street_address,agent_address,trademark_registrations,controlling_entity_jurisdiction_code,match_num
0,933,012b6757-2d16-4c6d-8aa7-fefbe6328e1c,5d0d1602-16c8-11ed-9b5f-1234bde3cd05,Anemergonics,Arvada,Co,39.8006,-105.081,2/8/2008,['8161698'],...,NaN,NaN,NaN,NaN,NaN,NaN,"1428 S Humboldt St, Denver, Co, 80210, Us",[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0
1,1189,0179132f-48af-4c06-aa5c-f6ef9a011372,cf479b1d-16c7-11ed-9b5f-1234bde3cd05,Mirofam,Thornton,Co,39.8696,-104.985,3/28/2008,['7841821'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,16862,01db098e-3394-40a0-bb4c-350431b9685b,d96be5a2-16c7-11ed-9b5f-1234bde3cd05,Menogenix,Aurora,Co,39.7405,-104.831,7/22/2009,['9216206'],...,NaN,NaN,NaN,NaN,NaN,NaN,"2560 Kinnikinnick Rd Unit F4, Apt. 803C, Vail,...",NaN,NaN,1.0
3,16867,01dd4861-b537-4f33-a995-b8dcc1effa69,c1ad42d2-16c7-11ed-9b5f-1234bde3cd05,Moxion Power,Mill Valley,Ca,37.9060,-122.545,6/1/2021,['11283273'],...,Ca,San Francisco,Ca,branch of an out-of-jurisdiction company,{'Street_Address': '78 Lovell Ave.\Nmill Valle...,78 Lovell Ave.,"{'Street_Address': '1428 Shotwell Street', 'Lo...",NaN,Us_De,1.0
4,16936,01ef4c0c-2ff6-4c09-8781-385a68ff3220,17f7f348-16c8-11ed-9b5f-1234bde3cd05,Swicherz,Santa Monica,Ca,34.0195,-118.491,1/31/2003,['7147399'],...,Ca,NaN,NaN,NaN,"{'Street_Address': '3278 Wilshire Blvd., #603\...","3278 Wilshire Blvd., #603",NaN,[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0

In [3]:
### start timer
t0=time.time()

#convert states from full names to two-letter abbreviations
cleanCityStates.replace({'address_state':{"California":"Ca","Connecticut":"Ct","Massachusetts":"Ma","Florida":"Fl",
                                          "Georgia":"Ga","Washington":"Wa","New York":"Ny","Delaware":"De","Tennessee":"Tn",
                                          "Missouri":"Mo","Texas":"Tx","Indiana":"In","Minnesota":"Mn","Pennsylvania":"Pa",
                                          "Oregon":"Or","Virginia":"Va","Illinois":"Il","Kentucky":"Ky","North Carolina":"Nc",
                                          "New Jersey":"Nj","Colorado":"Co","Maryland":"Md","Ohio":"Oh","Arizona":"Az",
                                          "Nevada":"Nv","Utah":"Ut","Michigan":"Mi","New Hampshire":"Nh","Vermont":"Vt",
                                          "Kansas":"Ks","Oklahoma":"Ok","Iowa":"Ia","Louisiana":"La","Rhode Island":"Ri",
                                          "Wisconsin":"Wi","Hawaii":"Hi","Montana":",Mt","Nebraska":"Ne",
                                          "District Of Columbia":"Dc","West Virginia":"Wv","Alabama":"Al","Idaho":"Id",
                                          "Maine":"Me","New Mexico":"Nm","South Carolina":"Sc","North Dakota":"Nd",
                                          "South Dakota":"Sd","Arkansas":"Ar","Alaska":"Ak","Wyoming":"Wy","Mississippi":"Ms"}},
                        inplace=True)

cleanCityStates.replace({'agent_state':{"California":"Ca","Connecticut":"Ct","Massachusetts":"Ma","Florida":"Fl",
                                          "Georgia":"Ga","Washington":"Wa","New York":"Ny","Delaware":"De","Tennessee":"Tn",
                                          "Missouri":"Mo","Texas":"Tx","Indiana":"In","Minnesota":"Mn","Pennsylvania":"Pa",
                                          "Oregon":"Or","Virginia":"Va","Illinois":"Il","Kentucky":"Ky","North Carolina":"Nc",
                                          "New Jersey":"Nj","Colorado":"Co","Maryland":"Md","Ohio":"Oh","Arizona":"Az",
                                          "Nevada":"Nv","Utah":"Ut","Michigan":"Mi","New Hampshire":"Nh","Vermont":"Vt",
                                          "Kansas":"Ks","Oklahoma":"Ok","Iowa":"Ia","Louisiana":"La","Rhode Island":"Ri",
                                          "Wisconsin":"Wi","Hawaii":"Hi","Montana":",Mt","Nebraska":"Ne",
                                          "District Of Columbia":"Dc","West Virginia":"Wv","Alabama":"Al","Idaho":"Id",
                                          "Maine":"Me","New Mexico":"Nm","South Carolina":"Sc","North Dakota":"Nd",
                                          "South Dakota":"Sd","Arkansas":"Ar","Alaska":"Ak","Wyoming":"Wy","Mississippi":"Ms"}},
                        inplace=True)

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %.3f" % (total/60), "mins\n")
print("The number of unique assignee IDs are:",cleanCityStates.assignee.nunique(),"\n")

### print general stats and first 5 records for dataset
display(cleanCityStates.info(null_counts=True),cleanCityStates.head())

Total time is 0.000 mins

The number of unique assignee IDs are: 462

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 28 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    579 non-null    int64
 1   assignee                              579 non-null    object
 2   location                              579 non-null    object
 3   organization                          579 non-null    object
 4   city                                  579 non-null    object
 5   state                                 579 non-null    object
 6   latitude                              579 non-null    float64
 7   longitude                             579 non-null    float64
 8   dateFiledMin                          579 non-null    object
 9   patentList                            579 non-null    object
 10  name                                  579 non-null    object
 11  jurisdiction_code                     579 non-null    object
 12  incorporation_date                    579 non-null    object
 13  alternative_names_clean               579 non-null    object
 14  previous_names_clean                  579 non-null    object
 15  cityMatch                             579 non-null    object
 16  stateMatch                            579 non-null    object
 17  address_city                          352 non-null    object
 18  address_state                         344 non-null    object
 19  agent_city                            142 non-null    object
 20  agent_state                           138 non-null    object
 21  branch_status                         134 non-null    object
 22  registered_address                    390 non-null    object
 23  street_address                        355 non-null    object
 24  agent_address                         209 non-null    object
 25  trademark_registrations               142 non-null    object
 26  controlling_entity_jurisdiction_code  125 non-null    object
 27  match_num                             579 non-null    float64
dtypes: float64(3), int64(1), object(24)
memory usage: 126.8+ KB

None

,ID,assignee,location,organization,city,state,latitude,longitude,dateFiledMin,patentList,...,address_state,agent_city,agent_state,branch_status,registered_address,street_address,agent_address,trademark_registrations,controlling_entity_jurisdiction_code,match_num
0,933,012b6757-2d16-4c6d-8aa7-fefbe6328e1c,5d0d1602-16c8-11ed-9b5f-1234bde3cd05,Anemergonics,Arvada,Co,39.8006,-105.081,2/8/2008,['8161698'],...,NaN,NaN,NaN,NaN,NaN,NaN,"1428 S Humboldt St, Denver, Co, 80210, Us",[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0
1,1189,0179132f-48af-4c06-aa5c-f6ef9a011372,cf479b1d-16c7-11ed-9b5f-1234bde3cd05,Mirofam,Thornton,Co,39.8696,-104.985,3/28/2008,['7841821'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,16862,01db098e-3394-40a0-bb4c-350431b9685b,d96be5a2-16c7-11ed-9b5f-1234bde3cd05,Menogenix,Aurora,Co,39.7405,-104.831,7/22/2009,['9216206'],...,NaN,NaN,NaN,NaN,NaN,NaN,"2560 Kinnikinnick Rd Unit F4, Apt. 803C, Vail,...",NaN,NaN,1.0
3,16867,01dd4861-b537-4f33-a995-b8dcc1effa69,c1ad42d2-16c7-11ed-9b5f-1234bde3cd05,Moxion Power,Mill Valley,Ca,37.9060,-122.545,6/1/2021,['11283273'],...,Ca,San Francisco,Ca,branch of an out-of-jurisdiction company,{'Street_Address': '78 Lovell Ave.\Nmill Valle...,78 Lovell Ave.,"{'Street_Address': '1428 Shotwell Street', 'Lo...",NaN,Us_De,1.0
4,16936,01ef4c0c-2ff6-4c09-8781-385a68ff3220,17f7f348-16c8-11ed-9b5f-1234bde3cd05,Swicherz,Santa Monica,Ca,34.0195,-118.491,1/31/2003,['7147399'],...,Ca,NaN,NaN,NaN,"{'Street_Address': '3278 Wilshire Blvd., #603\...","3278 Wilshire Blvd., #603",NaN,[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0

In [4]:
### start timer
t0=time.time()

for s in range(len(cleanCityStates)):
    if cleanCityStates.stateMatch[s] == "":
        cleanCityStates.stateMatch[s]=cleanCityStates.jurisdiction_code[s][3:]

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %.3f" % (total/60), "mins\n")
print("The number of unique assignee IDs are:",cleanCityStates.assignee.nunique(),"\n")

### print general stats and first 5 records for dataset
display(cleanCityStates.info(null_counts=True),cleanCityStates.head())

Total time is 0.000 mins

The number of unique assignee IDs are: 462

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 28 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    579 non-null    int64
 1   assignee                              579 non-null    object
 2   location                              579 non-null    object
 3   organization                          579 non-null    object
 4   city                                  579 non-null    object
 5   state                                 579 non-null    object
 6   latitude                              579 non-null    float64
 7   longitude                             579 non-null    float64
 8   dateFiledMin                          579 non-null    object
 9   patentList                            579 non-null    object
 10  name                                  579 non-null    object
 11  jurisdiction_code                     579 non-null    object
 12  incorporation_date                    579 non-null    object
 13  alternative_names_clean               579 non-null    object
 14  previous_names_clean                  579 non-null    object
 15  cityMatch                             579 non-null    object
 16  stateMatch                            579 non-null    object
 17  address_city                          352 non-null    object
 18  address_state                         344 non-null    object
 19  agent_city                            142 non-null    object
 20  agent_state                           138 non-null    object
 21  branch_status                         134 non-null    object
 22  registered_address                    390 non-null    object
 23  street_address                        355 non-null    object
 24  agent_address                         209 non-null    object
 25  trademark_registrations               142 non-null    object
 26  controlling_entity_jurisdiction_code  125 non-null    object
 27  match_num                             579 non-null    float64
dtypes: float64(3), int64(1), object(24)
memory usage: 126.8+ KB

None

,ID,assignee,location,organization,city,state,latitude,longitude,dateFiledMin,patentList,...,address_state,agent_city,agent_state,branch_status,registered_address,street_address,agent_address,trademark_registrations,controlling_entity_jurisdiction_code,match_num
0,933,012b6757-2d16-4c6d-8aa7-fefbe6328e1c,5d0d1602-16c8-11ed-9b5f-1234bde3cd05,Anemergonics,Arvada,Co,39.8006,-105.081,2/8/2008,['8161698'],...,NaN,NaN,NaN,NaN,NaN,NaN,"1428 S Humboldt St, Denver, Co, 80210, Us",[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0
1,1189,0179132f-48af-4c06-aa5c-f6ef9a011372,cf479b1d-16c7-11ed-9b5f-1234bde3cd05,Mirofam,Thornton,Co,39.8696,-104.985,3/28/2008,['7841821'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,16862,01db098e-3394-40a0-bb4c-350431b9685b,d96be5a2-16c7-11ed-9b5f-1234bde3cd05,Menogenix,Aurora,Co,39.7405,-104.831,7/22/2009,['9216206'],...,NaN,NaN,NaN,NaN,NaN,NaN,"2560 Kinnikinnick Rd Unit F4, Apt. 803C, Vail,...",NaN,NaN,1.0
3,16867,01dd4861-b537-4f33-a995-b8dcc1effa69,c1ad42d2-16c7-11ed-9b5f-1234bde3cd05,Moxion Power,Mill Valley,Ca,37.9060,-122.545,6/1/2021,['11283273'],...,Ca,San Francisco,Ca,branch of an out-of-jurisdiction company,{'Street_Address': '78 Lovell Ave.\Nmill Valle...,78 Lovell Ave.,"{'Street_Address': '1428 Shotwell Street', 'Lo...",NaN,Us_De,1.0
4,16936,01ef4c0c-2ff6-4c09-8781-385a68ff3220,17f7f348-16c8-11ed-9b5f-1234bde3cd05,Swicherz,Santa Monica,Ca,34.0195,-118.491,1/31/2003,['7147399'],...,Ca,NaN,NaN,NaN,"{'Street_Address': '3278 Wilshire Blvd., #603\...","3278 Wilshire Blvd., #603",NaN,[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0

In [5]:
### merge was performed ot join the lat/long coordinate data with the patentview/OC data

### start timer
t0=time.time()

matchLatLong=cleanCityStates.merge(latLong,left_on=['cityMatch','stateMatch'],right_on=['city','state'],
                                  how='outer',indicator=True)

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %.3f" % (total/60), "mins\n")

### print general stats and first 5 records for dataset
display(matchLatLong.info(),matchLatLong.head())

Total time is 0.001 mins

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33325 entries, 0 to 33324
Data columns (total 33 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    579 non-null    float64
 1   assignee                              579 non-null    object
 2   location                              579 non-null    object
 3   organization                          579 non-null    object
 4   city_x                                579 non-null    object
 5   state_x                               579 non-null    object
 6   latitude_x                            579 non-null    float64
 7   longitude_x                           579 non-null    float64
 8   dateFiledMin                          579 non-null    object
 9   patentList                            579 non-null    object
 10  name                                  579 non-null    object
 11  jurisdiction_code                     579 non-null    object
 12  incorporation_date                    579 non-null    object
 13  alternative_names_clean               579 non-null    object
 14  previous_names_clean                  579 non-null    object
 15  cityMatch                             579 non-null    object
 16  stateMatch                            579 non-null    object
 17  address_city                          352 non-null    object
 18  address_state                         344 non-null    object
 19  agent_city                            142 non-null    object
 20  agent_state                           138 non-null    object
 21  branch_status                         134 non-null    object
 22  registered_address                    390 non-null    object
 23  street_address                        355 non-null    object
 24  agent_address                         209 non-null    object
 25  trademark_registrations               142 non-null    object
 26  controlling_entity_jurisdiction_code  125 non-null    object
 27  match_num                             579 non-null    float64
 28  city_y                                32999 non-null  object
 29  state_y                               32999 non-null  object
 30  latitude_y                            32999 non-null  float64
 31  longitude_y                           32999 non-null  float64
 32  _merge                                33325 non-null  category
dtypes: category(1), float64(6), object(26)
memory usage: 8.4+ MB

None

,ID,assignee,location,organization,city_x,state_x,latitude_x,longitude_x,dateFiledMin,patentList,...,street_address,agent_address,trademark_registrations,controlling_entity_jurisdiction_code,match_num,city_y,state_y,latitude_y,longitude_y,_merge
0,933.0,012b6757-2d16-4c6d-8aa7-fefbe6328e1c,5d0d1602-16c8-11ed-9b5f-1234bde3cd05,Anemergonics,Arvada,Co,39.8006,-105.081,2/8/2008,['8161698'],...,NaN,"1428 S Humboldt St, Denver, Co, 80210, Us",[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0,NaN,NaN,NaN,NaN,left_only
1,1189.0,0179132f-48af-4c06-aa5c-f6ef9a011372,cf479b1d-16c7-11ed-9b5f-1234bde3cd05,Mirofam,Thornton,Co,39.8696,-104.985,3/28/2008,['7841821'],...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,left_only
2,85421.0,17de82e4-0ae6-42b5-93ed-7ad2a49059e8,df413f99-16c7-11ed-9b5f-1234bde3cd05,Floatlogic,Boulder,Co,40.0150,-105.271,8/19/2002,['6830004' '6814019' '6845726' '7156033'],...,NaN,"4129 Arleigh Ct., Berthoud, Co, 80513-8547, Us",NaN,Us_De,1.0,NaN,NaN,NaN,NaN,left_only
3,224202.0,42927571-290b-4c3c-9e3b-6c388656e7f7,d67d3e0b-16c7-11ed-9b5f-1234bde3cd05,Physiodynamics,Littleton,Co,39.6133,-105.017,5/22/1989,['5109848' '5107835' '5109846'],...,NaN,NaN,[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0,NaN,NaN,NaN,NaN,left_only
4,250663.0,508572af-5aee-487d-9498-ccf59c176c31,d94976db-16c7-11ed-9b5f-1234bde3cd05,Abengoa Solar,Lakewood,Co,39.7086,-105.085,4/1/2009,['8322333' '8615960' '9765991' '8844519' '1043...,...,NaN,"7700 E. Arapahoe Road, Suite 220, Centennial, ...",NaN,Us_De,1.0,NaN,NaN,NaN,NaN,left_only

In [6]:
### start timer
t0=time.time()

matchLatLongBoth=matchLatLong.loc[matchLatLong['_merge']=='both']
matchLatLongBoth.rename(columns={'city_x':'city','state_x':'state','latitude_x':'latitude','longitude_x':'longitude',
                                 'latitude_y':'latitude_match','longitude_y':'longitude_match'},inplace=True)
matchLatLongBoth.drop(labels=['_merge','city_y','state_y'],axis=1,inplace=True)

matchLatLongLeft=matchLatLong.loc[matchLatLong['_merge']=='left_only']
matchLatLongLeft.rename(columns={'city_x':'city','state_x':'state','latitude_x':'latitude','longitude_x':'longitude',
                                'latitude_y':'latitude_match','longitude_y':'longitude_match'},inplace=True)
matchLatLongLeft.drop(labels=['_merge','city_y','state_y'],axis=1,inplace=True)

matchLatLongCon=pd.concat([matchLatLongBoth,matchLatLongLeft],axis=0)
matchLatLongCon1=matchLatLongCon.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,28,29,
                                         17,18,19,20,21,22,23,24,25,26,27]].copy()
# matchLatLongCon1=matchLatLongCon.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,27,28,17,18,19,20,21,22,23,24,25,26]].copy()
matchLatLongCon1.drop_duplicates(keep='first',inplace=True)
matchLatLongCon2=matchLatLongCon1.sort_values(by=['ID']).reset_index(drop=True).copy()
matchLatLongCon2.ID=matchLatLongCon2.ID.astype(int)

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %.3f" % (total/60), "mins\n")
print("The number of unique assignee IDs are:",matchLatLongCon2.assignee.nunique(),"\n")

### print general stats and first 5 records for dataset
display(matchLatLongCon2.info(),matchLatLongCon2.head())

Total time is 0.000 mins

The number of unique assignee IDs are: 462

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 30 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    579 non-null    int32
 1   assignee                              579 non-null    object
 2   location                              579 non-null    object
 3   organization                          579 non-null    object
 4   city                                  579 non-null    object
 5   state                                 579 non-null    object
 6   latitude                              579 non-null    float64
 7   longitude                             579 non-null    float64
 8   dateFiledMin                          579 non-null    object
 9   patentList                            579 non-null    object
 10  name                                  579 non-null    object
 11  jurisdiction_code                     579 non-null    object
 12  incorporation_date                    579 non-null    object
 13  alternative_names_clean               579 non-null    object
 14  previous_names_clean                  579 non-null    object
 15  cityMatch                             579 non-null    object
 16  stateMatch                            579 non-null    object
 17  latitude_match                        253 non-null    float64
 18  longitude_match                       253 non-null    float64
 19  address_city                          352 non-null    object
 20  address_state                         344 non-null    object
 21  agent_city                            142 non-null    object
 22  agent_state                           138 non-null    object
 23  branch_status                         134 non-null    object
 24  registered_address                    390 non-null    object
 25  street_address                        355 non-null    object
 26  agent_address                         209 non-null    object
 27  trademark_registrations               142 non-null    object
 28  controlling_entity_jurisdiction_code  125 non-null    object
 29  match_num                             579 non-null    float64
dtypes: float64(5), int32(1), object(24)
memory usage: 133.6+ KB

None

,ID,assignee,location,organization,city,state,latitude,longitude,dateFiledMin,patentList,...,address_state,agent_city,agent_state,branch_status,registered_address,street_address,agent_address,trademark_registrations,controlling_entity_jurisdiction_code,match_num
0,933,012b6757-2d16-4c6d-8aa7-fefbe6328e1c,5d0d1602-16c8-11ed-9b5f-1234bde3cd05,Anemergonics,Arvada,Co,39.8006,-105.081,2/8/2008,['8161698'],...,NaN,NaN,NaN,NaN,NaN,NaN,"1428 S Humboldt St, Denver, Co, 80210, Us",[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0
1,1189,0179132f-48af-4c06-aa5c-f6ef9a011372,cf479b1d-16c7-11ed-9b5f-1234bde3cd05,Mirofam,Thornton,Co,39.8696,-104.985,3/28/2008,['7841821'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,16862,01db098e-3394-40a0-bb4c-350431b9685b,d96be5a2-16c7-11ed-9b5f-1234bde3cd05,Menogenix,Aurora,Co,39.7405,-104.831,7/22/2009,['9216206'],...,NaN,NaN,NaN,NaN,NaN,NaN,"2560 Kinnikinnick Rd Unit F4, Apt. 803C, Vail,...",NaN,NaN,1.0
3,16867,01dd4861-b537-4f33-a995-b8dcc1effa69,c1ad42d2-16c7-11ed-9b5f-1234bde3cd05,Moxion Power,Mill Valley,Ca,37.9060,-122.545,6/1/2021,['11283273'],...,Ca,San Francisco,Ca,branch of an out-of-jurisdiction company,{'Street_Address': '78 Lovell Ave.\Nmill Valle...,78 Lovell Ave.,"{'Street_Address': '1428 Shotwell Street', 'Lo...",NaN,Us_De,1.0
4,16936,01ef4c0c-2ff6-4c09-8781-385a68ff3220,17f7f348-16c8-11ed-9b5f-1234bde3cd05,Swicherz,Santa Monica,Ca,34.0195,-118.491,1/31/2003,['7147399'],...,Ca,NaN,NaN,NaN,"{'Street_Address': '3278 Wilshire Blvd., #603\...","3278 Wilshire Blvd., #603",NaN,[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0

In [7]:
### merge was performed ot join the lat/long coordinate data with the patentview/OC data

### start timer
t0=time.time()

addLatLong=matchLatLongCon2.merge(latLong,left_on=['address_city','address_state'],right_on=['city','state'],
                                  how='outer',indicator=True)

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %.3f" % (total/60), "mins\n")

### print general stats and first 5 records for dataset
display(addLatLong.info(),addLatLong.head())

Total time is 0.001 mins

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33270 entries, 0 to 33269
Data columns (total 35 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    580 non-null    float64
 1   assignee                              580 non-null    object
 2   location                              580 non-null    object
 3   organization                          580 non-null    object
 4   city_x                                580 non-null    object
 5   state_x                               580 non-null    object
 6   latitude_x                            580 non-null    float64
 7   longitude_x                           580 non-null    float64
 8   dateFiledMin                          580 non-null    object
 9   patentList                            580 non-null    object
 10  name                                  580 non-null    object
 11  jurisdiction_code                     580 non-null    object
 12  incorporation_date                    580 non-null    object
 13  alternative_names_clean               580 non-null    object
 14  previous_names_clean                  580 non-null    object
 15  cityMatch                             580 non-null    object
 16  stateMatch                            580 non-null    object
 17  latitude_match                        253 non-null    float64
 18  longitude_match                       253 non-null    float64
 19  address_city                          353 non-null    object
 20  address_state                         345 non-null    object
 21  agent_city                            142 non-null    object
 22  agent_state                           138 non-null    object
 23  branch_status                         135 non-null    object
 24  registered_address                    391 non-null    object
 25  street_address                        356 non-null    object
 26  agent_address                         209 non-null    object
 27  trademark_registrations               142 non-null    object
 28  controlling_entity_jurisdiction_code  126 non-null    object
 29  match_num                             580 non-null    float64
 30  city_y                                33018 non-null  object
 31  state_y                               33018 non-null  object
 32  latitude_y                            33018 non-null  float64
 33  longitude_y                           33018 non-null  float64
 34  _merge                                33270 non-null  category
dtypes: category(1), float64(8), object(26)
memory usage: 8.9+ MB

None

,ID,assignee,location,organization,city_x,state_x,latitude_x,longitude_x,dateFiledMin,patentList,...,street_address,agent_address,trademark_registrations,controlling_entity_jurisdiction_code,match_num,city_y,state_y,latitude_y,longitude_y,_merge
0,933.0,012b6757-2d16-4c6d-8aa7-fefbe6328e1c,5d0d1602-16c8-11ed-9b5f-1234bde3cd05,Anemergonics,Arvada,Co,39.8006,-105.0810,2/8/2008,['8161698'],...,NaN,"1428 S Humboldt St, Denver, Co, 80210, Us",[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0,NaN,NaN,NaN,NaN,left_only
1,1189.0,0179132f-48af-4c06-aa5c-f6ef9a011372,cf479b1d-16c7-11ed-9b5f-1234bde3cd05,Mirofam,Thornton,Co,39.8696,-104.9850,3/28/2008,['7841821'],...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,left_only
2,16862.0,01db098e-3394-40a0-bb4c-350431b9685b,d96be5a2-16c7-11ed-9b5f-1234bde3cd05,Menogenix,Aurora,Co,39.7405,-104.8310,7/22/2009,['9216206'],...,NaN,"2560 Kinnikinnick Rd Unit F4, Apt. 803C, Vail,...",NaN,NaN,1.0,NaN,NaN,NaN,NaN,left_only
3,17435.0,028b6fc4-4f10-41e4-9869-4714c19d3ef0,ca128093-16c7-11ed-9b5f-1234bde3cd05,Trigger Interactive,Tipton,Ia,41.7697,-91.1282,7/27/2018,['10655941' '11131529'],...,NaN,NaN,NaN,Us_Sd,1.0,NaN,NaN,NaN,NaN,left_only
4,18298.0,0342919f-3a5f-467d-bf37-229c61fe760a,c23317c8-16c7-11ed-9b5f-1234bde3cd05,Olababy,Hillsboro,Or,45.5229,-122.9900,5/17/2017,['10667634' '11092473' 'D942216' 'D953816'],...,NaN,"{'Street_Address': '8239 Sw Cirrus Drive', 'Lo...",[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0,NaN,NaN,NaN,NaN,left_only

In [8]:
### start timer
# t0=time.time()

addLatLongBoth=addLatLong.loc[addLatLong['_merge']=='both']
addLatLongBoth.rename(columns={'city_x':'city','state_x':'state','latitude_x':'latitude','longitude_x':'longitude',
                               'latitude_y':'latitude_add','longitude_y':'longitude_add'},inplace=True)
addLatLongBoth.drop(labels=['_merge','city_y','state_y'],axis=1,inplace=True)

addLatLongLeft=addLatLong.loc[addLatLong['_merge']=='left_only']
addLatLongLeft.rename(columns={'city_x':'city','state_x':'state','latitude_x':'latitude','longitude_x':'longitude',
                               'latitude_y':'latitude_add','longitude_y':'longitude_add'},inplace=True)
addLatLongLeft.drop(labels=['_merge','city_y','state_y'],axis=1,inplace=True)

addLatLongCon=pd.concat([addLatLongBoth,addLatLongLeft],axis=0)
# addLatLongCon1=addLatLongCon.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,29,30,21,22,23,24,25,26,27,28]].copy()
addLatLongCon1=addLatLongCon.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,30,31,
                                     21,22,23,24,25,26,27,28,29]].copy()
addLatLongCon1.drop_duplicates(keep='first',inplace=True)
addLatLongCon2=addLatLongCon1.sort_values(by=['ID']).reset_index(drop=True).copy()
addLatLongCon2.ID=addLatLongCon2.ID.astype(int)

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %.3f" % (total/60), "mins\n")
print("The number of unique assignee IDs are:",addLatLongCon2.assignee.nunique(),"\n")

### print general stats and first 5 records for dataset
display(addLatLongCon2.info(),addLatLongCon2.head())

Total time is 0.002 mins

The number of unique assignee IDs are: 462

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 580 entries, 0 to 579
Data columns (total 32 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    580 non-null    int32
 1   assignee                              580 non-null    object
 2   location                              580 non-null    object
 3   organization                          580 non-null    object
 4   city                                  580 non-null    object
 5   state                                 580 non-null    object
 6   latitude                              580 non-null    float64
 7   longitude                             580 non-null    float64
 8   dateFiledMin                          580 non-null    object
 9   patentList                            580 non-null    object
 10  name                                  580 non-null    object
 11  jurisdiction_code                     580 non-null    object
 12  incorporation_date                    580 non-null    object
 13  alternative_names_clean               580 non-null    object
 14  previous_names_clean                  580 non-null    object
 15  cityMatch                             580 non-null    object
 16  stateMatch                            580 non-null    object
 17  latitude_match                        253 non-null    float64
 18  longitude_match                       253 non-null    float64
 19  address_city                          353 non-null    object
 20  address_state                         345 non-null    object
 21  latitude_add                          328 non-null    float64
 22  longitude_add                         328 non-null    float64
 23  agent_city                            142 non-null    object
 24  agent_state                           138 non-null    object
 25  branch_status                         135 non-null    object
 26  registered_address                    391 non-null    object
 27  street_address                        356 non-null    object
 28  agent_address                         209 non-null    object
 29  trademark_registrations               142 non-null    object
 30  controlling_entity_jurisdiction_code  126 non-null    object
 31  match_num                             580 non-null    float64
dtypes: float64(7), int32(1), object(24)
memory usage: 142.9+ KB

None

,ID,assignee,location,organization,city,state,latitude,longitude,dateFiledMin,patentList,...,longitude_add,agent_city,agent_state,branch_status,registered_address,street_address,agent_address,trademark_registrations,controlling_entity_jurisdiction_code,match_num
0,933,012b6757-2d16-4c6d-8aa7-fefbe6328e1c,5d0d1602-16c8-11ed-9b5f-1234bde3cd05,Anemergonics,Arvada,Co,39.8006,-105.081,2/8/2008,['8161698'],...,NaN,NaN,NaN,NaN,NaN,NaN,"1428 S Humboldt St, Denver, Co, 80210, Us",[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0
1,1189,0179132f-48af-4c06-aa5c-f6ef9a011372,cf479b1d-16c7-11ed-9b5f-1234bde3cd05,Mirofam,Thornton,Co,39.8696,-104.985,3/28/2008,['7841821'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,16862,01db098e-3394-40a0-bb4c-350431b9685b,d96be5a2-16c7-11ed-9b5f-1234bde3cd05,Menogenix,Aurora,Co,39.7405,-104.831,7/22/2009,['9216206'],...,NaN,NaN,NaN,NaN,NaN,NaN,"2560 Kinnikinnick Rd Unit F4, Apt. 803C, Vail,...",NaN,NaN,1.0
3,16867,01dd4861-b537-4f33-a995-b8dcc1effa69,c1ad42d2-16c7-11ed-9b5f-1234bde3cd05,Moxion Power,Mill Valley,Ca,37.9060,-122.545,6/1/2021,['11283273'],...,-122.546,San Francisco,Ca,branch of an out-of-jurisdiction company,{'Street_Address': '78 Lovell Ave.\Nmill Valle...,78 Lovell Ave.,"{'Street_Address': '1428 Shotwell Street', 'Lo...",NaN,Us_De,1.0
4,16936,01ef4c0c-2ff6-4c09-8781-385a68ff3220,17f7f348-16c8-11ed-9b5f-1234bde3cd05,Swicherz,Santa Monica,Ca,34.0195,-118.491,1/31/2003,['7147399'],...,-118.287,NaN,NaN,NaN,"{'Street_Address': '3278 Wilshire Blvd., #603\...","3278 Wilshire Blvd., #603",NaN,[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0

In [9]:
### merge was performed ot join the lat/long coordinate data with the patentview/OC data

### start timer
t0=time.time()

agtLatLong=addLatLongCon2.merge(latLong,left_on=['agent_city','agent_state'],right_on=['city','state'],
                                how='outer',indicator=True)

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %.3f" % (total/60), "mins\n")

### print general stats and first 5 records for dataset
display(agtLatLong.info(),agtLatLong.head())

Total time is 0.001 mins

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33404 entries, 0 to 33403
Data columns (total 37 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    580 non-null    float64
 1   assignee                              580 non-null    object
 2   location                              580 non-null    object
 3   organization                          580 non-null    object
 4   city_x                                580 non-null    object
 5   state_x                               580 non-null    object
 6   latitude_x                            580 non-null    float64
 7   longitude_x                           580 non-null    float64
 8   dateFiledMin                          580 non-null    object
 9   patentList                            580 non-null    object
 10  name                                  580 non-null    object
 11  jurisdiction_code                     580 non-null    object
 12  incorporation_date                    580 non-null    object
 13  alternative_names_clean               580 non-null    object
 14  previous_names_clean                  580 non-null    object
 15  cityMatch                             580 non-null    object
 16  stateMatch                            580 non-null    object
 17  latitude_match                        253 non-null    float64
 18  longitude_match                       253 non-null    float64
 19  address_city                          353 non-null    object
 20  address_state                         345 non-null    object
 21  latitude_add                          328 non-null    float64
 22  longitude_add                         328 non-null    float64
 23  agent_city                            142 non-null    object
 24  agent_state                           138 non-null    object
 25  branch_status                         135 non-null    object
 26  registered_address                    391 non-null    object
 27  street_address                        356 non-null    object
 28  agent_address                         209 non-null    object
 29  trademark_registrations               142 non-null    object
 30  controlling_entity_jurisdiction_code  126 non-null    object
 31  match_num                             580 non-null    float64
 32  city_y                                32955 non-null  object
 33  state_y                               32955 non-null  object
 34  latitude_y                            32955 non-null  float64
 35  longitude_y                           32955 non-null  float64
 36  _merge                                33404 non-null  category
dtypes: category(1), float64(10), object(26)
memory usage: 9.5+ MB

None

,ID,assignee,location,organization,city_x,state_x,latitude_x,longitude_x,dateFiledMin,patentList,...,street_address,agent_address,trademark_registrations,controlling_entity_jurisdiction_code,match_num,city_y,state_y,latitude_y,longitude_y,_merge
0,933.0,012b6757-2d16-4c6d-8aa7-fefbe6328e1c,5d0d1602-16c8-11ed-9b5f-1234bde3cd05,Anemergonics,Arvada,Co,39.8006,-105.0810,2/8/2008,['8161698'],...,NaN,"1428 S Humboldt St, Denver, Co, 80210, Us",[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0,NaN,NaN,NaN,NaN,left_only
1,1189.0,0179132f-48af-4c06-aa5c-f6ef9a011372,cf479b1d-16c7-11ed-9b5f-1234bde3cd05,Mirofam,Thornton,Co,39.8696,-104.9850,3/28/2008,['7841821'],...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,left_only
2,16862.0,01db098e-3394-40a0-bb4c-350431b9685b,d96be5a2-16c7-11ed-9b5f-1234bde3cd05,Menogenix,Aurora,Co,39.7405,-104.8310,7/22/2009,['9216206'],...,NaN,"2560 Kinnikinnick Rd Unit F4, Apt. 803C, Vail,...",NaN,NaN,1.0,NaN,NaN,NaN,NaN,left_only
3,16936.0,01ef4c0c-2ff6-4c09-8781-385a68ff3220,17f7f348-16c8-11ed-9b5f-1234bde3cd05,Swicherz,Santa Monica,Ca,34.0195,-118.4910,1/31/2003,['7147399'],...,"3278 Wilshire Blvd., #603",NaN,[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0,NaN,NaN,NaN,NaN,left_only
4,17435.0,028b6fc4-4f10-41e4-9869-4714c19d3ef0,ca128093-16c7-11ed-9b5f-1234bde3cd05,Trigger Interactive,Tipton,Ia,41.7697,-91.1282,7/27/2018,['10655941' '11131529'],...,NaN,NaN,NaN,Us_Sd,1.0,NaN,NaN,NaN,NaN,left_only

In [10]:
### start timer
t0=time.time()

agtLatLongBoth=agtLatLong.loc[agtLatLong['_merge']=='both']
agtLatLongBoth.rename(columns={'city_x':'city','state_x':'state','latitude_x':'latitude','longitude_x':'longitude',
                               'latitude_y':'latitude_agt','longitude_y':'longitude_agt'},inplace=True)
agtLatLongBoth.drop(labels=['_merge','city_y','state_y'],axis=1,inplace=True)

agtLatLongLeft=agtLatLong.loc[agtLatLong['_merge']=='left_only']
agtLatLongLeft.rename(columns={'city_x':'city','state_x':'state','latitude_x':'latitude','longitude_x':'longitude',
                               'latitude_y':'latitude_agt','longitude_y':'longitude_agt'},inplace=True)
agtLatLongLeft.drop(labels=['_merge','city_y','state_y'],axis=1,inplace=True)

agtLatLongCon=pd.concat([agtLatLongBoth,agtLatLongLeft],axis=0)
# agtLatLongCon1=agtLatLongCon.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,31,32,
#                                      25,26,27,28,29,30]].copy()
agtLatLongCon1=agtLatLongCon.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,32,33,
                                     25,26,27,28,29,30,31]].copy()
agtLatLongCon1.drop_duplicates(keep='first',inplace=True)
agtLatLongCon2=agtLatLongCon1.sort_values(by=['ID']).reset_index(drop=True).copy()
agtLatLongCon2.ID=agtLatLongCon2.ID.astype(int)

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %.3f" % (total/60), "mins\n")
print("The number of unique assignee IDs are:",agtLatLongCon2.assignee.nunique(),"\n")

### print general stats and first 5 records for dataset
display(agtLatLongCon2.info(),agtLatLongCon2.head())

Total time is 0.000 mins

The number of unique assignee IDs are: 462

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 580 entries, 0 to 579
Data columns (total 34 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    580 non-null    int32
 1   assignee                              580 non-null    object
 2   location                              580 non-null    object
 3   organization                          580 non-null    object
 4   city                                  580 non-null    object
 5   state                                 580 non-null    object
 6   latitude                              580 non-null    float64
 7   longitude                             580 non-null    float64
 8   dateFiledMin                          580 non-null    object
 9   patentList                            580 non-null    object
 10  name                                  580 non-null    object
 11  jurisdiction_code                     580 non-null    object
 12  incorporation_date                    580 non-null    object
 13  alternative_names_clean               580 non-null    object
 14  previous_names_clean                  580 non-null    object
 15  cityMatch                             580 non-null    object
 16  stateMatch                            580 non-null    object
 17  latitude_match                        253 non-null    float64
 18  longitude_match                       253 non-null    float64
 19  address_city                          353 non-null    object
 20  address_state                         345 non-null    object
 21  latitude_add                          328 non-null    float64
 22  longitude_add                         328 non-null    float64
 23  agent_city                            142 non-null    object
 24  agent_state                           138 non-null    object
 25  latitude_agt                          131 non-null    float64
 26  longitude_agt                         131 non-null    float64
 27  branch_status                         135 non-null    object
 28  registered_address                    391 non-null    object
 29  street_address                        356 non-null    object
 30  agent_address                         209 non-null    object
 31  trademark_registrations               142 non-null    object
 32  controlling_entity_jurisdiction_code  126 non-null    object
 33  match_num                             580 non-null    float64
dtypes: float64(9), int32(1), object(24)
memory usage: 151.9+ KB

None

,ID,assignee,location,organization,city,state,latitude,longitude,dateFiledMin,patentList,...,agent_state,latitude_agt,longitude_agt,branch_status,registered_address,street_address,agent_address,trademark_registrations,controlling_entity_jurisdiction_code,match_num
0,933,012b6757-2d16-4c6d-8aa7-fefbe6328e1c,5d0d1602-16c8-11ed-9b5f-1234bde3cd05,Anemergonics,Arvada,Co,39.8006,-105.081,2/8/2008,['8161698'],...,NaN,NaN,NaN,NaN,NaN,NaN,"1428 S Humboldt St, Denver, Co, 80210, Us",[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0
1,1189,0179132f-48af-4c06-aa5c-f6ef9a011372,cf479b1d-16c7-11ed-9b5f-1234bde3cd05,Mirofam,Thornton,Co,39.8696,-104.985,3/28/2008,['7841821'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,16862,01db098e-3394-40a0-bb4c-350431b9685b,d96be5a2-16c7-11ed-9b5f-1234bde3cd05,Menogenix,Aurora,Co,39.7405,-104.831,7/22/2009,['9216206'],...,NaN,NaN,NaN,NaN,NaN,NaN,"2560 Kinnikinnick Rd Unit F4, Apt. 803C, Vail,...",NaN,NaN,1.0
3,16867,01dd4861-b537-4f33-a995-b8dcc1effa69,c1ad42d2-16c7-11ed-9b5f-1234bde3cd05,Moxion Power,Mill Valley,Ca,37.9060,-122.545,6/1/2021,['11283273'],...,Ca,37.7292,-123.047,branch of an out-of-jurisdiction company,{'Street_Address': '78 Lovell Ave.\Nmill Valle...,78 Lovell Ave.,"{'Street_Address': '1428 Shotwell Street', 'Lo...",NaN,Us_De,1.0
4,16936,01ef4c0c-2ff6-4c09-8781-385a68ff3220,17f7f348-16c8-11ed-9b5f-1234bde3cd05,Swicherz,Santa Monica,Ca,34.0195,-118.491,1/31/2003,['7147399'],...,NaN,NaN,NaN,NaN,"{'Street_Address': '3278 Wilshire Blvd., #603\...","3278 Wilshire Blvd., #603",NaN,[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0

In [11]:
# agtLatLongCon2.to_csv("../csvResults/mergedOCResultsAndPVInputClnNamesClnStCyLongLat.csv",index=False)

# Score the Organization Names for Patentsview against the OC Results

In [1]:
import pandas as pd
import numpy as np
import os
import time
import warnings
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
warnings.filterwarnings('ignore')

### start timer
t0=time.time()

### set the path for the input file and save to variable
res_folder = "../csvResults/"
input_file = "mergedOCResultsAndPVInputClnNamesClnStCyLongLat.csv"

input_directory=os.path.join(res_folder,input_file)
print(input_directory,"\n")

### import the output file from OC API matching and select columns
noOrgScores=pd.read_csv(input_directory)
noOrgScores.name=noOrgScores.name.str.title()

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %.3f" % (total/60), "mins\n")
print("The number of unique assignee IDs are:",noOrgScores.assignee.nunique(),"\n")

### print general stats and first 5 records for dataset
display(noOrgScores.info(null_counts=True),noOrgScores.head())

../csvResults/mergedOCResultsAndPVInputClnNamesClnStCyLongLat.csv

Total time is 0.000 mins

The number of unique assignee IDs are: 462

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 580 entries, 0 to 579
Data columns (total 34 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    580 non-null    int64
 1   assignee                              580 non-null    object
 2   location                              580 non-null    object
 3   organization                          580 non-null    object
 4   city                                  580 non-null    object
 5   state                                 580 non-null    object
 6   latitude                              580 non-null    float64
 7   longitude                             580 non-null    float64
 8   dateFiledMin                          580 non-null    object
 9   patentList                            580 non-null    object
 10  name                                  580 non-null    object
 11  jurisdiction_code                     580 non-null    object
 12  incorporation_date                    580 non-null    object
 13  alternative_names_clean               580 non-null    object
 14  previous_names_clean                  580 non-null    object
 15  cityMatch                             253 non-null    object
 16  stateMatch                            580 non-null    object
 17  latitude_match                        253 non-null    float64
 18  longitude_match                       253 non-null    float64
 19  address_city                          353 non-null    object
 20  address_state                         345 non-null    object
 21  latitude_add                          328 non-null    float64
 22  longitude_add                         328 non-null    float64
 23  agent_city                            142 non-null    object
 24  agent_state                           138 non-null    object
 25  latitude_agt                          131 non-null    float64
 26  longitude_agt                         131 non-null    float64
 27  branch_status                         135 non-null    object
 28  registered_address                    391 non-null    object
 29  street_address                        356 non-null    object
 30  agent_address                         209 non-null    object
 31  trademark_registrations               142 non-null    object
 32  controlling_entity_jurisdiction_code  126 non-null    object
 33  match_num                             580 non-null    float64
dtypes: float64(9), int64(1), object(24)
memory usage: 154.2+ KB

C:\ProgramData\Anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

None

,ID,assignee,location,organization,city,state,latitude,longitude,dateFiledMin,patentList,...,agent_state,latitude_agt,longitude_agt,branch_status,registered_address,street_address,agent_address,trademark_registrations,controlling_entity_jurisdiction_code,match_num
0,933,012b6757-2d16-4c6d-8aa7-fefbe6328e1c,5d0d1602-16c8-11ed-9b5f-1234bde3cd05,Anemergonics,Arvada,Co,39.8006,-105.081,2/8/2008,['8161698'],...,NaN,NaN,NaN,NaN,NaN,NaN,"1428 S Humboldt St, Denver, Co, 80210, Us",[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0
1,1189,0179132f-48af-4c06-aa5c-f6ef9a011372,cf479b1d-16c7-11ed-9b5f-1234bde3cd05,Mirofam,Thornton,Co,39.8696,-104.985,3/28/2008,['7841821'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,16862,01db098e-3394-40a0-bb4c-350431b9685b,d96be5a2-16c7-11ed-9b5f-1234bde3cd05,Menogenix,Aurora,Co,39.7405,-104.831,7/22/2009,['9216206'],...,NaN,NaN,NaN,NaN,NaN,NaN,"2560 Kinnikinnick Rd Unit F4, Apt. 803C, Vail,...",NaN,NaN,1.0
3,16867,01dd4861-b537-4f33-a995-b8dcc1effa69,c1ad42d2-16c7-11ed-9b5f-1234bde3cd05,Moxion Power,Mill Valley,Ca,37.9060,-122.545,6/1/2021,['11283273'],...,Ca,37.7292,-123.047,branch of an out-of-jurisdiction company,{'Street_Address': '78 Lovell Ave.\Nmill Valle...,78 Lovell Ave.,"{'Street_Address': '1428 Shotwell Street', 'Lo...",NaN,Us_De,1.0
4,16936,01ef4c0c-2ff6-4c09-8781-385a68ff3220,17f7f348-16c8-11ed-9b5f-1234bde3cd05,Swicherz,Santa Monica,Ca,34.0195,-118.491,1/31/2003,['7147399'],...,NaN,NaN,NaN,NaN,"{'Street_Address': '3278 Wilshire Blvd., #603\...","3278 Wilshire Blvd., #603",NaN,[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0

In [2]:
### start timer
t0=time.time()

noOrgScores['alternative_names_clean']=noOrgScores['alternative_names_clean'].str.replace("'","")
noOrgScores['previous_names_clean']=noOrgScores['previous_names_clean'].str.replace("'","")

e=[]
f=[]

for y in range(len(noOrgScores)):
    e.append(noOrgScores['alternative_names_clean'][y][1:-1].split(","))
    f.append(noOrgScores['previous_names_clean'][y][1:-1].split(","))
    
### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %.3f" % (total/60), "mins\n")

### print general stats and first 5 records for dataset
display(noOrgScores.info(null_counts=True),noOrgScores.head())

Total time is 0.000 mins

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 580 entries, 0 to 579
Data columns (total 34 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    580 non-null    int64
 1   assignee                              580 non-null    object
 2   location                              580 non-null    object
 3   organization                          580 non-null    object
 4   city                                  580 non-null    object
 5   state                                 580 non-null    object
 6   latitude                              580 non-null    float64
 7   longitude                             580 non-null    float64
 8   dateFiledMin                          580 non-null    object
 9   patentList                            580 non-null    object
 10  name                                  580 non-null    object
 11  jurisdiction_code                     580 non-null    object
 12  incorporation_date                    580 non-null    object
 13  alternative_names_clean               580 non-null    object
 14  previous_names_clean                  580 non-null    object
 15  cityMatch                             253 non-null    object
 16  stateMatch                            580 non-null    object
 17  latitude_match                        253 non-null    float64
 18  longitude_match                       253 non-null    float64
 19  address_city                          353 non-null    object
 20  address_state                         345 non-null    object
 21  latitude_add                          328 non-null    float64
 22  longitude_add                         328 non-null    float64
 23  agent_city                            142 non-null    object
 24  agent_state                           138 non-null    object
 25  latitude_agt                          131 non-null    float64
 26  longitude_agt                         131 non-null    float64
 27  branch_status                         135 non-null    object
 28  registered_address                    391 non-null    object
 29  street_address                        356 non-null    object
 30  agent_address                         209 non-null    object
 31  trademark_registrations               142 non-null    object
 32  controlling_entity_jurisdiction_code  126 non-null    object
 33  match_num                             580 non-null    float64
dtypes: float64(9), int64(1), object(24)
memory usage: 154.2+ KB

None

,ID,assignee,location,organization,city,state,latitude,longitude,dateFiledMin,patentList,...,agent_state,latitude_agt,longitude_agt,branch_status,registered_address,street_address,agent_address,trademark_registrations,controlling_entity_jurisdiction_code,match_num
0,933,012b6757-2d16-4c6d-8aa7-fefbe6328e1c,5d0d1602-16c8-11ed-9b5f-1234bde3cd05,Anemergonics,Arvada,Co,39.8006,-105.081,2/8/2008,['8161698'],...,NaN,NaN,NaN,NaN,NaN,NaN,"1428 S Humboldt St, Denver, Co, 80210, Us",[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0
1,1189,0179132f-48af-4c06-aa5c-f6ef9a011372,cf479b1d-16c7-11ed-9b5f-1234bde3cd05,Mirofam,Thornton,Co,39.8696,-104.985,3/28/2008,['7841821'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,16862,01db098e-3394-40a0-bb4c-350431b9685b,d96be5a2-16c7-11ed-9b5f-1234bde3cd05,Menogenix,Aurora,Co,39.7405,-104.831,7/22/2009,['9216206'],...,NaN,NaN,NaN,NaN,NaN,NaN,"2560 Kinnikinnick Rd Unit F4, Apt. 803C, Vail,...",NaN,NaN,1.0
3,16867,01dd4861-b537-4f33-a995-b8dcc1effa69,c1ad42d2-16c7-11ed-9b5f-1234bde3cd05,Moxion Power,Mill Valley,Ca,37.9060,-122.545,6/1/2021,['11283273'],...,Ca,37.7292,-123.047,branch of an out-of-jurisdiction company,{'Street_Address': '78 Lovell Ave.\Nmill Valle...,78 Lovell Ave.,"{'Street_Address': '1428 Shotwell Street', 'Lo...",NaN,Us_De,1.0
4,16936,01ef4c0c-2ff6-4c09-8781-385a68ff3220,17f7f348-16c8-11ed-9b5f-1234bde3cd05,Swicherz,Santa Monica,Ca,34.0195,-118.491,1/31/2003,['7147399'],...,NaN,NaN,NaN,NaN,"{'Street_Address': '3278 Wilshire Blvd., #603\...","3278 Wilshire Blvd., #603",NaN,[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0

In [3]:
### start timer
t0=time.time()

altPreList=[list(z) for z in zip(e, f)]
altPreList=pd.DataFrame(altPreList,columns=['new_alt','new_pre'])

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %.3f" % (total/60), "mins\n")

### print general stats and first 5 records for dataset
display(altPreList.info(null_counts=True),altPreList.head())

Total time is 0.000 mins

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 580 entries, 0 to 579
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   new_alt  580 non-null    object
 1   new_pre  580 non-null    object
dtypes: object(2)
memory usage: 9.2+ KB

None

  new_alt new_pre
0      []      []
1      []      []
2      []      []
3      []      []
4      []      []

In [4]:
### start timer
t0=time.time()

noOrgScores['newAltClean'] = altPreList['new_alt']
noOrgScores['newPreClean'] = altPreList['new_pre']

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %.3f" % (total/60), "mins\n")

### print general stats and first 5 records for dataset
display(noOrgScores.info(),noOrgScores.head())

Total time is 0.000 mins

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 580 entries, 0 to 579
Data columns (total 36 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    580 non-null    int64
 1   assignee                              580 non-null    object
 2   location                              580 non-null    object
 3   organization                          580 non-null    object
 4   city                                  580 non-null    object
 5   state                                 580 non-null    object
 6   latitude                              580 non-null    float64
 7   longitude                             580 non-null    float64
 8   dateFiledMin                          580 non-null    object
 9   patentList                            580 non-null    object
 10  name                                  580 non-null    object
 11  jurisdiction_code                     580 non-null    object
 12  incorporation_date                    580 non-null    object
 13  alternative_names_clean               580 non-null    object
 14  previous_names_clean                  580 non-null    object
 15  cityMatch                             253 non-null    object
 16  stateMatch                            580 non-null    object
 17  latitude_match                        253 non-null    float64
 18  longitude_match                       253 non-null    float64
 19  address_city                          353 non-null    object
 20  address_state                         345 non-null    object
 21  latitude_add                          328 non-null    float64
 22  longitude_add                         328 non-null    float64
 23  agent_city                            142 non-null    object
 24  agent_state                           138 non-null    object
 25  latitude_agt                          131 non-null    float64
 26  longitude_agt                         131 non-null    float64
 27  branch_status                         135 non-null    object
 28  registered_address                    391 non-null    object
 29  street_address                        356 non-null    object
 30  agent_address                         209 non-null    object
 31  trademark_registrations               142 non-null    object
 32  controlling_entity_jurisdiction_code  126 non-null    object
 33  match_num                             580 non-null    float64
 34  newAltClean                           580 non-null    object
 35  newPreClean                           580 non-null    object
dtypes: float64(9), int64(1), object(26)
memory usage: 163.2+ KB

None

,ID,assignee,location,organization,city,state,latitude,longitude,dateFiledMin,patentList,...,longitude_agt,branch_status,registered_address,street_address,agent_address,trademark_registrations,controlling_entity_jurisdiction_code,match_num,newAltClean,newPreClean
0,933,012b6757-2d16-4c6d-8aa7-fefbe6328e1c,5d0d1602-16c8-11ed-9b5f-1234bde3cd05,Anemergonics,Arvada,Co,39.8006,-105.081,2/8/2008,['8161698'],...,NaN,NaN,NaN,NaN,"1428 S Humboldt St, Denver, Co, 80210, Us",[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0,[],[]
1,1189,0179132f-48af-4c06-aa5c-f6ef9a011372,cf479b1d-16c7-11ed-9b5f-1234bde3cd05,Mirofam,Thornton,Co,39.8696,-104.985,3/28/2008,['7841821'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,[],[]
2,16862,01db098e-3394-40a0-bb4c-350431b9685b,d96be5a2-16c7-11ed-9b5f-1234bde3cd05,Menogenix,Aurora,Co,39.7405,-104.831,7/22/2009,['9216206'],...,NaN,NaN,NaN,NaN,"2560 Kinnikinnick Rd Unit F4, Apt. 803C, Vail,...",NaN,NaN,1.0,[],[]
3,16867,01dd4861-b537-4f33-a995-b8dcc1effa69,c1ad42d2-16c7-11ed-9b5f-1234bde3cd05,Moxion Power,Mill Valley,Ca,37.9060,-122.545,6/1/2021,['11283273'],...,-123.047,branch of an out-of-jurisdiction company,{'Street_Address': '78 Lovell Ave.\Nmill Valle...,78 Lovell Ave.,"{'Street_Address': '1428 Shotwell Street', 'Lo...",NaN,Us_De,1.0,[],[]
4,16936,01ef4c0c-2ff6-4c09-8781-385a68ff3220,17f7f348-16c8-11ed-9b5f-1234bde3cd05,Swicherz,Santa Monica,Ca,34.0195,-118.491,1/31/2003,['7147399'],...,NaN,NaN,"{'Street_Address': '3278 Wilshire Blvd., #603\...","3278 Wilshire Blvd., #603",NaN,[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0,[],[]

In [5]:
### start timer
t0=time.time()

noOrgScores.drop(labels=['alternative_names_clean','previous_names_clean'],axis=1,inplace=True)
noOrgScores.rename(columns={'newAltClean':'alternative_names_clean', 'newPreClean':'previous_names_clean'},
                   inplace=True)

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %.3f" % (total/60), "mins\n")

### print general stats and first 5 records for dataset
display(noOrgScores.info(),noOrgScores.head())

Total time is 0.000 mins

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 580 entries, 0 to 579
Data columns (total 34 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    580 non-null    int64
 1   assignee                              580 non-null    object
 2   location                              580 non-null    object
 3   organization                          580 non-null    object
 4   city                                  580 non-null    object
 5   state                                 580 non-null    object
 6   latitude                              580 non-null    float64
 7   longitude                             580 non-null    float64
 8   dateFiledMin                          580 non-null    object
 9   patentList                            580 non-null    object
 10  name                                  580 non-null    object
 11  jurisdiction_code                     580 non-null    object
 12  incorporation_date                    580 non-null    object
 13  cityMatch                             253 non-null    object
 14  stateMatch                            580 non-null    object
 15  latitude_match                        253 non-null    float64
 16  longitude_match                       253 non-null    float64
 17  address_city                          353 non-null    object
 18  address_state                         345 non-null    object
 19  latitude_add                          328 non-null    float64
 20  longitude_add                         328 non-null    float64
 21  agent_city                            142 non-null    object
 22  agent_state                           138 non-null    object
 23  latitude_agt                          131 non-null    float64
 24  longitude_agt                         131 non-null    float64
 25  branch_status                         135 non-null    object
 26  registered_address                    391 non-null    object
 27  street_address                        356 non-null    object
 28  agent_address                         209 non-null    object
 29  trademark_registrations               142 non-null    object
 30  controlling_entity_jurisdiction_code  126 non-null    object
 31  match_num                             580 non-null    float64
 32  alternative_names_clean               580 non-null    object
 33  previous_names_clean                  580 non-null    object
dtypes: float64(9), int64(1), object(24)
memory usage: 154.2+ KB

None

,ID,assignee,location,organization,city,state,latitude,longitude,dateFiledMin,patentList,...,longitude_agt,branch_status,registered_address,street_address,agent_address,trademark_registrations,controlling_entity_jurisdiction_code,match_num,alternative_names_clean,previous_names_clean
0,933,012b6757-2d16-4c6d-8aa7-fefbe6328e1c,5d0d1602-16c8-11ed-9b5f-1234bde3cd05,Anemergonics,Arvada,Co,39.8006,-105.081,2/8/2008,['8161698'],...,NaN,NaN,NaN,NaN,"1428 S Humboldt St, Denver, Co, 80210, Us",[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0,[],[]
1,1189,0179132f-48af-4c06-aa5c-f6ef9a011372,cf479b1d-16c7-11ed-9b5f-1234bde3cd05,Mirofam,Thornton,Co,39.8696,-104.985,3/28/2008,['7841821'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,[],[]
2,16862,01db098e-3394-40a0-bb4c-350431b9685b,d96be5a2-16c7-11ed-9b5f-1234bde3cd05,Menogenix,Aurora,Co,39.7405,-104.831,7/22/2009,['9216206'],...,NaN,NaN,NaN,NaN,"2560 Kinnikinnick Rd Unit F4, Apt. 803C, Vail,...",NaN,NaN,1.0,[],[]
3,16867,01dd4861-b537-4f33-a995-b8dcc1effa69,c1ad42d2-16c7-11ed-9b5f-1234bde3cd05,Moxion Power,Mill Valley,Ca,37.9060,-122.545,6/1/2021,['11283273'],...,-123.047,branch of an out-of-jurisdiction company,{'Street_Address': '78 Lovell Ave.\Nmill Valle...,78 Lovell Ave.,"{'Street_Address': '1428 Shotwell Street', 'Lo...",NaN,Us_De,1.0,[],[]
4,16936,01ef4c0c-2ff6-4c09-8781-385a68ff3220,17f7f348-16c8-11ed-9b5f-1234bde3cd05,Swicherz,Santa Monica,Ca,34.0195,-118.491,1/31/2003,['7147399'],...,NaN,NaN,"{'Street_Address': '3278 Wilshire Blvd., #603\...","3278 Wilshire Blvd., #603",NaN,[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0,[],[]

In [6]:
### score the organization names against the name, alternative_names_clean, and previous_names_clean features

t0=time.time()

noOrgScores['organization']=noOrgScores['organization'].str.lstrip()
noOrgScores['organization']=noOrgScores['organization'].str.rstrip()

a=len(noOrgScores)
mat1=[]
mat2=[]

for i in range(a):
    
    ### try/except is used to bypass cells with an NaN. Removing this will force the user
    ### to deal with exception errors
    try:

        ### calculate the fuzzy score for further evaluation
        q=fuzz.ratio(noOrgScores['organization'][i], noOrgScores['name'][i])
        ### most simplest and most representative in the data; if the score is 100, it is
        ### a perfect match, otherwise, the remaining code will resolve score differences
        if q == 100:
            mat1.append(q)
            mat2.append(noOrgScores['name'][i])

        elif ( q != 100 ):
            ### calculate the size of the data in each row for the alternative_names_clean
            ### column and previous_names_clean column
            r=len(noOrgScores['alternative_names_clean'][i])
            d=len(noOrgScores['previous_names_clean'][i])

            ### the remaining parts of the code uses if statements to step through the many
            ### conditions that may be present in the data. As each conditions is satisfied,
            ### the mat1 and mat2 lists are appended with the data; take note that q is the
            ### original score and s, v, e, and f are separate scores that are compared
            ### against q
            if r == 0 and d == 0:
                mat1.append(q)
                mat2.append(noOrgScores['name'][i])

            ### calculate the score for the alternative_names_clean and previous_names_clean
            ### columns. Once calculated, they are compared against each other and q to
            ### determine the score that is highest. The 'best' score is appened to mat1 and
            ### the name of the organization is appended to mat2. The same scorer is utilized 
            ### as the above but the process.extractOne function retrieves the organization
            ### match with the highest score and saves it as a tuple
            elif r == 1 and d == 1:
                s=process.extractOne(noOrgScores['organization'][i],
                                     noOrgScores['alternative_names_clean'][i],scorer=fuzz.ratio)
                e=process.extractOne(noOrgScores['organization'][i],
                                     noOrgScores['previous_names_clean'][i],scorer=fuzz.ratio)
                
                if s[1] > e[1] and s[1] > q:
                    mat1.append(s[1])
                    mat2.append(s[0])
                
                elif e[1] > s[1] and e[1] > q:
                    mat1.append(e[1])
                    mat2.append(e[0])

                else:
                    mat1.append(q)
                    mat2.append(noOrgScores['name'][i])


            ### this section is the same as above, except the code is looking at the
            ### alternative_names_clean column only
            elif r == 1 or d == 1:
                s=process.extractOne(noOrgScores['organization'][i],
                                     noOrgScores['alternative_names_clean'][i],scorer=fuzz.ratio)
                e=process.extractOne(noOrgScores['organization'][i],
                                     noOrgScores['previous_names_clean'][i],scorer=fuzz.ratio)

                if s[1] > q and s[1] > e[1]:
                    mat1.append(s[1])
                    mat2.append(s[0])
                
                elif e[1] > q and e[1] > s[1]:
                    mat1.append(e[1])
                    mat2.append(e[0])

                else:
                    mat1.append(q)
                    mat2.append(noOrgScores['name'][i])

            
            ### the following two sections resolve r and d lengths greater than 1 (i.e.,
            ### records that have more than 1 company names in the alternative_names_clean 
            ### and previous_names_clean columns)
            elif r > 1:
                v=process.extractOne(noOrgScores['organization'][i],
                                     noOrgScores['alternative_names_clean'][i],scorer=fuzz.ratio)                

                for p in range(r):

                    if v[1][p] > q:
                        mat1.append(v[1])
                        mat2.append(v[0])

                    elif v[1][p] == q:
                        mat1.append(q)
                        mat2.append(noOrgScores['name'][i])

                    else:
                        mat1.append(q)
                        mat2.append(noOrgScores['name'][i])
            
            elif d > 1:
                f=process.extractOne(noOrgScores['organization'][i], noOrgScores['previous_names_clean'][i],scorer=fuzz.ratio)

                for p in range(d):
                    
                    if f[1][p] > q:
                        mat1.append(f[1])
                        mat2.append(f[0])

                    elif f[1][p] == q:
                        mat1.append(q)
                        mat2.append(noOrgScores['name'][i])                    

                    else:
                        mat1.append(q)
                        mat2.append(noOrgScores['name'][i])

    except:
        ### error handling that places an NaN for every cells that does not have a value
        ### in the mat1 and/or mat2 lists
        mat1.append(np.nan)
        mat2.append(np.nan)
        
### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %.3f" % (total/60), "mins\n")

Total time is 0.001 mins

In [7]:
### start timer
t0=time.time()

### concatenates the mat1 and mat2 lists into a dataframe
finalList=[list(w) for w in zip(mat1, mat2)]
finalListDf=pd.DataFrame(finalList,columns=['scores','names'])

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %.3f" % (total/60), "mins\n")

### print general stats and first 5 records for dataset
display(finalListDf.info(),finalListDf.head())

Total time is 0.000 mins

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 580 entries, 0 to 579
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   scores  579 non-null    float64
 1   names   579 non-null    object
dtypes: float64(1), object(1)
memory usage: 9.2+ KB

None

   scores         names
0   100.0  Anemergonics
1   100.0       Mirofam
2   100.0     Menogenix
3   100.0  Moxion Power
4   100.0      Swicherz

In [8]:
### start timer
t0=time.time()

### appends the dataframe in which the organization names came from with the
### results from the scoring steps in the preceeding code blocks
noOrgScores['nameScores'] = finalListDf['scores']
noOrgScores['matchNames'] = finalListDf['names']

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %.3f" % (total/60), "mins\n")

### print general stats and first 5 records for dataset
display(noOrgScores.info(),noOrgScores.head())

Total time is 0.000 mins

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 580 entries, 0 to 579
Data columns (total 36 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    580 non-null    int64
 1   assignee                              580 non-null    object
 2   location                              580 non-null    object
 3   organization                          580 non-null    object
 4   city                                  580 non-null    object
 5   state                                 580 non-null    object
 6   latitude                              580 non-null    float64
 7   longitude                             580 non-null    float64
 8   dateFiledMin                          580 non-null    object
 9   patentList                            580 non-null    object
 10  name                                  580 non-null    object
 11  jurisdiction_code                     580 non-null    object
 12  incorporation_date                    580 non-null    object
 13  cityMatch                             253 non-null    object
 14  stateMatch                            580 non-null    object
 15  latitude_match                        253 non-null    float64
 16  longitude_match                       253 non-null    float64
 17  address_city                          353 non-null    object
 18  address_state                         345 non-null    object
 19  latitude_add                          328 non-null    float64
 20  longitude_add                         328 non-null    float64
 21  agent_city                            142 non-null    object
 22  agent_state                           138 non-null    object
 23  latitude_agt                          131 non-null    float64
 24  longitude_agt                         131 non-null    float64
 25  branch_status                         135 non-null    object
 26  registered_address                    391 non-null    object
 27  street_address                        356 non-null    object
 28  agent_address                         209 non-null    object
 29  trademark_registrations               142 non-null    object
 30  controlling_entity_jurisdiction_code  126 non-null    object
 31  match_num                             580 non-null    float64
 32  alternative_names_clean               580 non-null    object
 33  previous_names_clean                  580 non-null    object
 34  nameScores                            579 non-null    float64
 35  matchNames                            579 non-null    object
dtypes: float64(10), int64(1), object(25)
memory usage: 163.2+ KB

None

,ID,assignee,location,organization,city,state,latitude,longitude,dateFiledMin,patentList,...,registered_address,street_address,agent_address,trademark_registrations,controlling_entity_jurisdiction_code,match_num,alternative_names_clean,previous_names_clean,nameScores,matchNames
0,933,012b6757-2d16-4c6d-8aa7-fefbe6328e1c,5d0d1602-16c8-11ed-9b5f-1234bde3cd05,Anemergonics,Arvada,Co,39.8006,-105.081,2/8/2008,['8161698'],...,NaN,NaN,"1428 S Humboldt St, Denver, Co, 80210, Us",[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0,[],[],100.0,Anemergonics
1,1189,0179132f-48af-4c06-aa5c-f6ef9a011372,cf479b1d-16c7-11ed-9b5f-1234bde3cd05,Mirofam,Thornton,Co,39.8696,-104.985,3/28/2008,['7841821'],...,NaN,NaN,NaN,NaN,NaN,1.0,[],[],100.0,Mirofam
2,16862,01db098e-3394-40a0-bb4c-350431b9685b,d96be5a2-16c7-11ed-9b5f-1234bde3cd05,Menogenix,Aurora,Co,39.7405,-104.831,7/22/2009,['9216206'],...,NaN,NaN,"2560 Kinnikinnick Rd Unit F4, Apt. 803C, Vail,...",NaN,NaN,1.0,[],[],100.0,Menogenix
3,16867,01dd4861-b537-4f33-a995-b8dcc1effa69,c1ad42d2-16c7-11ed-9b5f-1234bde3cd05,Moxion Power,Mill Valley,Ca,37.9060,-122.545,6/1/2021,['11283273'],...,{'Street_Address': '78 Lovell Ave.\Nmill Valle...,78 Lovell Ave.,"{'Street_Address': '1428 Shotwell Street', 'Lo...",NaN,Us_De,1.0,[],[],100.0,Moxion Power
4,16936,01ef4c0c-2ff6-4c09-8781-385a68ff3220,17f7f348-16c8-11ed-9b5f-1234bde3cd05,Swicherz,Santa Monica,Ca,34.0195,-118.491,1/31/2003,['7147399'],...,"{'Street_Address': '3278 Wilshire Blvd., #603\...","3278 Wilshire Blvd., #603",NaN,[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0,[],[],100.0,Swicherz

In [9]:
### start timer
t0=time.time()

noOrgScores1=noOrgScores.iloc[:,[0,1,2,3,4,5,6,7,8,9,35,34,11,12,13,14,15,16,17,18,19,20,
                                 21,22,23,24,25,26,27,28,29,30,31]].copy()
noOrgScores1.sort_values(by=['ID','nameScores'],ascending=[True,False],inplace=True)

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %.3f" % (total/60), "mins\n")
print("The number of unique assignee IDs are:",noOrgScores1.assignee.nunique(),"\n")

### print general stats and first 5 records for dataset
display(noOrgScores1.info(),noOrgScores1.head())

Total time is 0.000 mins

The number of unique assignee IDs are: 462

<class 'pandas.core.frame.DataFrame'>
Int64Index: 580 entries, 0 to 578
Data columns (total 33 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    580 non-null    int64
 1   assignee                              580 non-null    object
 2   location                              580 non-null    object
 3   organization                          580 non-null    object
 4   city                                  580 non-null    object
 5   state                                 580 non-null    object
 6   latitude                              580 non-null    float64
 7   longitude                             580 non-null    float64
 8   dateFiledMin                          580 non-null    object
 9   patentList                            580 non-null    object
 10  matchNames                            579 non-null    object
 11  nameScores                            579 non-null    float64
 12  jurisdiction_code                     580 non-null    object
 13  incorporation_date                    580 non-null    object
 14  cityMatch                             253 non-null    object
 15  stateMatch                            580 non-null    object
 16  latitude_match                        253 non-null    float64
 17  longitude_match                       253 non-null    float64
 18  address_city                          353 non-null    object
 19  address_state                         345 non-null    object
 20  latitude_add                          328 non-null    float64
 21  longitude_add                         328 non-null    float64
 22  agent_city                            142 non-null    object
 23  agent_state                           138 non-null    object
 24  latitude_agt                          131 non-null    float64
 25  longitude_agt                         131 non-null    float64
 26  branch_status                         135 non-null    object
 27  registered_address                    391 non-null    object
 28  street_address                        356 non-null    object
 29  agent_address                         209 non-null    object
 30  trademark_registrations               142 non-null    object
 31  controlling_entity_jurisdiction_code  126 non-null    object
 32  match_num                             580 non-null    float64
dtypes: float64(10), int64(1), object(22)
memory usage: 154.1+ KB

None

,ID,assignee,location,organization,city,state,latitude,longitude,dateFiledMin,patentList,...,agent_state,latitude_agt,longitude_agt,branch_status,registered_address,street_address,agent_address,trademark_registrations,controlling_entity_jurisdiction_code,match_num
0,933,012b6757-2d16-4c6d-8aa7-fefbe6328e1c,5d0d1602-16c8-11ed-9b5f-1234bde3cd05,Anemergonics,Arvada,Co,39.8006,-105.081,2/8/2008,['8161698'],...,NaN,NaN,NaN,NaN,NaN,NaN,"1428 S Humboldt St, Denver, Co, 80210, Us",[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0
1,1189,0179132f-48af-4c06-aa5c-f6ef9a011372,cf479b1d-16c7-11ed-9b5f-1234bde3cd05,Mirofam,Thornton,Co,39.8696,-104.985,3/28/2008,['7841821'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,16862,01db098e-3394-40a0-bb4c-350431b9685b,d96be5a2-16c7-11ed-9b5f-1234bde3cd05,Menogenix,Aurora,Co,39.7405,-104.831,7/22/2009,['9216206'],...,NaN,NaN,NaN,NaN,NaN,NaN,"2560 Kinnikinnick Rd Unit F4, Apt. 803C, Vail,...",NaN,NaN,1.0
3,16867,01dd4861-b537-4f33-a995-b8dcc1effa69,c1ad42d2-16c7-11ed-9b5f-1234bde3cd05,Moxion Power,Mill Valley,Ca,37.9060,-122.545,6/1/2021,['11283273'],...,Ca,37.7292,-123.047,branch of an out-of-jurisdiction company,{'Street_Address': '78 Lovell Ave.\Nmill Valle...,78 Lovell Ave.,"{'Street_Address': '1428 Shotwell Street', 'Lo...",NaN,Us_De,1.0
4,16936,01ef4c0c-2ff6-4c09-8781-385a68ff3220,17f7f348-16c8-11ed-9b5f-1234bde3cd05,Swicherz,Santa Monica,Ca,34.0195,-118.491,1/31/2003,['7147399'],...,NaN,NaN,NaN,NaN,"{'Street_Address': '3278 Wilshire Blvd., #603\...","3278 Wilshire Blvd., #603",NaN,[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0

In [10]:
# noOrgScores1.to_csv("../csvResults/mergedOCResultsAndPVInputClnNamesClnStCyLongLatOrgScore.csv",index=False)

# Calculate Date and Location Differences

In [1]:
import pandas as pd
import numpy as np
import os
import time
import warnings
from datetime import timedelta
from geopy.distance import geodesic
warnings.filterwarnings('ignore')

### start timer
t0=time.time()

### set the path for the input file and save to variable
res_folder = "../csvResults/"
input_file = "mergedOCResultsAndPVInputClnNamesClnStCyLongLatOrgScore.csv"

input_directory=os.path.join(res_folder,input_file)
print(input_directory,"\n")

### import the output file from OC API matching and select columns
noDiff=pd.read_csv(input_directory)

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %.3f" % (total/60), "mins\n")
print("The number of unique assignee IDs are:",noDiff.assignee.nunique(),"\n")

### print general stats and first 5 records for dataset
display(noDiff.info(null_counts=True),noDiff.head())

../csvResults/mergedOCResultsAndPVInputClnNamesClnStCyLongLatOrgScore.csv

Total time is 0.000 mins

The number of unique assignee IDs are: 462

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 580 entries, 0 to 579
Data columns (total 33 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    580 non-null    int64
 1   assignee                              580 non-null    object
 2   location                              580 non-null    object
 3   organization                          580 non-null    object
 4   city                                  580 non-null    object
 5   state                                 580 non-null    object
 6   latitude                              580 non-null    float64
 7   longitude                             580 non-null    float64
 8   dateFiledMin                          580 non-null    object
 9   patentList                            580 non-null    object
 10  matchNames                            579 non-null    object
 11  nameScores                            579 non-null    float64
 12  jurisdiction_code                     580 non-null    object
 13  incorporation_date                    580 non-null    object
 14  cityMatch                             253 non-null    object
 15  stateMatch                            580 non-null    object
 16  latitude_match                        253 non-null    float64
 17  longitude_match                       253 non-null    float64
 18  address_city                          353 non-null    object
 19  address_state                         345 non-null    object
 20  latitude_add                          328 non-null    float64
 21  longitude_add                         328 non-null    float64
 22  agent_city                            142 non-null    object
 23  agent_state                           138 non-null    object
 24  latitude_agt                          131 non-null    float64
 25  longitude_agt                         131 non-null    float64
 26  branch_status                         135 non-null    object
 27  registered_address                    391 non-null    object
 28  street_address                        356 non-null    object
 29  agent_address                         209 non-null    object
 30  trademark_registrations               142 non-null    object
 31  controlling_entity_jurisdiction_code  126 non-null    object
 32  match_num                             580 non-null    float64
dtypes: float64(10), int64(1), object(22)
memory usage: 149.7+ KB

None

,ID,assignee,location,organization,city,state,latitude,longitude,dateFiledMin,patentList,...,agent_state,latitude_agt,longitude_agt,branch_status,registered_address,street_address,agent_address,trademark_registrations,controlling_entity_jurisdiction_code,match_num
0,933,012b6757-2d16-4c6d-8aa7-fefbe6328e1c,5d0d1602-16c8-11ed-9b5f-1234bde3cd05,Anemergonics,Arvada,Co,39.8006,-105.081,2/8/2008,['8161698'],...,NaN,NaN,NaN,NaN,NaN,NaN,"1428 S Humboldt St, Denver, Co, 80210, Us",[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0
1,1189,0179132f-48af-4c06-aa5c-f6ef9a011372,cf479b1d-16c7-11ed-9b5f-1234bde3cd05,Mirofam,Thornton,Co,39.8696,-104.985,3/28/2008,['7841821'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,16862,01db098e-3394-40a0-bb4c-350431b9685b,d96be5a2-16c7-11ed-9b5f-1234bde3cd05,Menogenix,Aurora,Co,39.7405,-104.831,7/22/2009,['9216206'],...,NaN,NaN,NaN,NaN,NaN,NaN,"2560 Kinnikinnick Rd Unit F4, Apt. 803C, Vail,...",NaN,NaN,1.0
3,16867,01dd4861-b537-4f33-a995-b8dcc1effa69,c1ad42d2-16c7-11ed-9b5f-1234bde3cd05,Moxion Power,Mill Valley,Ca,37.9060,-122.545,6/1/2021,['11283273'],...,Ca,37.7292,-123.047,branch of an out-of-jurisdiction company,{'Street_Address': '78 Lovell Ave.\Nmill Valle...,78 Lovell Ave.,"{'Street_Address': '1428 Shotwell Street', 'Lo...",NaN,Us_De,1.0
4,16936,01ef4c0c-2ff6-4c09-8781-385a68ff3220,17f7f348-16c8-11ed-9b5f-1234bde3cd05,Swicherz,Santa Monica,Ca,34.0195,-118.491,1/31/2003,['7147399'],...,NaN,NaN,NaN,NaN,"{'Street_Address': '3278 Wilshire Blvd., #603\...","3278 Wilshire Blvd., #603",NaN,[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0

In [2]:
### start timer
t0=time.time()

noDiff['incorporation_date'] = pd.to_datetime(noDiff['incorporation_date'],errors='coerce')
noDiff['dateFiledMin'] = pd.to_datetime(noDiff['dateFiledMin'],errors='coerce')
noDiff['dateDiff']=round(abs(noDiff['incorporation_date']-noDiff['dateFiledMin'])/timedelta(days=365),3)

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %.3f" % (total/60), "mins\n")
print("The number of unique assignee IDs are:",noDiff.assignee.nunique(),"\n")

### print general stats and first 5 records for dataset
display(noDiff.info(),noDiff.head())

Total time is 0.000 mins

The number of unique assignee IDs are: 462

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 580 entries, 0 to 579
Data columns (total 34 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    580 non-null    int64
 1   assignee                              580 non-null    object
 2   location                              580 non-null    object
 3   organization                          580 non-null    object
 4   city                                  580 non-null    object
 5   state                                 580 non-null    object
 6   latitude                              580 non-null    float64
 7   longitude                             580 non-null    float64
 8   dateFiledMin                          580 non-null    datetime64[ns]
 9   patentList                            580 non-null    object
 10  matchNames                            579 non-null    object
 11  nameScores                            579 non-null    float64
 12  jurisdiction_code                     580 non-null    object
 13  incorporation_date                    579 non-null    datetime64[ns]
 14  cityMatch                             253 non-null    object
 15  stateMatch                            580 non-null    object
 16  latitude_match                        253 non-null    float64
 17  longitude_match                       253 non-null    float64
 18  address_city                          353 non-null    object
 19  address_state                         345 non-null    object
 20  latitude_add                          328 non-null    float64
 21  longitude_add                         328 non-null    float64
 22  agent_city                            142 non-null    object
 23  agent_state                           138 non-null    object
 24  latitude_agt                          131 non-null    float64
 25  longitude_agt                         131 non-null    float64
 26  branch_status                         135 non-null    object
 27  registered_address                    391 non-null    object
 28  street_address                        356 non-null    object
 29  agent_address                         209 non-null    object
 30  trademark_registrations               142 non-null    object
 31  controlling_entity_jurisdiction_code  126 non-null    object
 32  match_num                             580 non-null    float64
 33  dateDiff                              579 non-null    float64
dtypes: datetime64[ns](2), float64(11), int64(1), object(20)
memory usage: 154.2+ KB

None

,ID,assignee,location,organization,city,state,latitude,longitude,dateFiledMin,patentList,...,latitude_agt,longitude_agt,branch_status,registered_address,street_address,agent_address,trademark_registrations,controlling_entity_jurisdiction_code,match_num,dateDiff
0,933,012b6757-2d16-4c6d-8aa7-fefbe6328e1c,5d0d1602-16c8-11ed-9b5f-1234bde3cd05,Anemergonics,Arvada,Co,39.8006,-105.081,2008-02-08,['8161698'],...,NaN,NaN,NaN,NaN,NaN,"1428 S Humboldt St, Denver, Co, 80210, Us",[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0,2.690
1,1189,0179132f-48af-4c06-aa5c-f6ef9a011372,cf479b1d-16c7-11ed-9b5f-1234bde3cd05,Mirofam,Thornton,Co,39.8696,-104.985,2008-03-28,['7841821'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.403
2,16862,01db098e-3394-40a0-bb4c-350431b9685b,d96be5a2-16c7-11ed-9b5f-1234bde3cd05,Menogenix,Aurora,Co,39.7405,-104.831,2009-07-22,['9216206'],...,NaN,NaN,NaN,NaN,NaN,"2560 Kinnikinnick Rd Unit F4, Apt. 803C, Vail,...",NaN,NaN,1.0,0.907
3,16867,01dd4861-b537-4f33-a995-b8dcc1effa69,c1ad42d2-16c7-11ed-9b5f-1234bde3cd05,Moxion Power,Mill Valley,Ca,37.9060,-122.545,2021-06-01,['11283273'],...,37.7292,-123.047,branch of an out-of-jurisdiction company,{'Street_Address': '78 Lovell Ave.\Nmill Valle...,78 Lovell Ave.,"{'Street_Address': '1428 Shotwell Street', 'Lo...",NaN,Us_De,1.0,1.258
4,16936,01ef4c0c-2ff6-4c09-8781-385a68ff3220,17f7f348-16c8-11ed-9b5f-1234bde3cd05,Swicherz,Santa Monica,Ca,34.0195,-118.491,2003-01-31,['7147399'],...,NaN,NaN,NaN,"{'Street_Address': '3278 Wilshire Blvd., #603\...","3278 Wilshire Blvd., #603",NaN,[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0,3.019

In [3]:
### start timer
t0=time.time()

### the distance between cities are calculated by utilizing the city_lat/city_long and the add_lat/add_long,
### agt_lat/agt_long, and data_lat/data_long features.
cityAddrCor=[]
cityAgtCor=[]
cityDataCor=[]

### each for loop below calculates the distance between the city found in PatentsView and the
### cities from the address_city, agent_city, and data_city. The try/except is included to deal
### with exception errors
for p in range(len(noDiff)):
    
    try:
        cityCor = (noDiff.iloc[p,6], noDiff.iloc[p,7])
        cityMatchCor = (noDiff.iloc[p,16], noDiff.iloc[p,17])

        cityDataCor.append(geodesic(cityCor, cityMatchCor).miles)
    
    except:
        cityDataCor.append(np.nan)
        
for p in range(len(noDiff)):
    
    try:
        cityCor = (noDiff.iloc[p,6], noDiff.iloc[p,7])
        cityAddressCor = (noDiff.iloc[p,20], noDiff.iloc[p,21])

        cityAddrCor.append(geodesic(cityCor, cityAddressCor).miles)
    
    except:
        cityAddrCor.append(np.nan)
        
for p in range(len(noDiff)):
    
    try:
        cityCor = (noDiff.iloc[p,6], noDiff.iloc[p,7])
        cityAgentCor = (noDiff.iloc[p,24], noDiff.iloc[p,25])

        cityAgtCor.append(geodesic(cityCor, cityAgentCor).miles)
    
    except:
        cityAgtCor.append(np.nan)


        
### add the distance to the input dataframe and round the value
cityAddrCor1=[round(num, 1) for num in cityAddrCor]
cityAgtCor1=[round(num1, 1) for num1 in cityAgtCor]
cityDataCor1=[round(num1, 1) for num1 in cityDataCor]

noDiff['cityToAddrDistance'] = cityAddrCor1
noDiff['cityToAgtDistance'] = cityAgtCor1
noDiff['cityToDataDistance'] = cityDataCor1

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins")

### print general stats and first 5 records for dataset
display(noDiff.info(),noDiff.head())

Total time is 0.003517 mins
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 580 entries, 0 to 579
Data columns (total 37 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    580 non-null    int64
 1   assignee                              580 non-null    object
 2   location                              580 non-null    object
 3   organization                          580 non-null    object
 4   city                                  580 non-null    object
 5   state                                 580 non-null    object
 6   latitude                              580 non-null    float64
 7   longitude                             580 non-null    float64
 8   dateFiledMin                          580 non-null    datetime64[ns]
 9   patentList                            580 non-null    object
 10  matchNames                            579 non-null    object
 11  nameScores                            579 non-null    float64
 12  jurisdiction_code                     580 non-null    object
 13  incorporation_date                    579 non-null    datetime64[ns]
 14  cityMatch                             253 non-null    object
 15  stateMatch                            580 non-null    object
 16  latitude_match                        253 non-null    float64
 17  longitude_match                       253 non-null    float64
 18  address_city                          353 non-null    object
 19  address_state                         345 non-null    object
 20  latitude_add                          328 non-null    float64
 21  longitude_add                         328 non-null    float64
 22  agent_city                            142 non-null    object
 23  agent_state                           138 non-null    object
 24  latitude_agt                          131 non-null    float64
 25  longitude_agt                         131 non-null    float64
 26  branch_status                         135 non-null    object
 27  registered_address                    391 non-null    object
 28  street_address                        356 non-null    object
 29  agent_address                         209 non-null    object
 30  trademark_registrations               142 non-null    object
 31  controlling_entity_jurisdiction_code  126 non-null    object
 32  match_num                             580 non-null    float64
 33  dateDiff                              579 non-null    float64
 34  cityToAddrDistance                    328 non-null    float64
 35  cityToAgtDistance                     131 non-null    float64
 36  cityToDataDistance                    253 non-null    float64
dtypes: datetime64[ns](2), float64(14), int64(1), object(20)
memory usage: 167.8+ KB

None

,ID,assignee,location,organization,city,state,latitude,longitude,dateFiledMin,patentList,...,registered_address,street_address,agent_address,trademark_registrations,controlling_entity_jurisdiction_code,match_num,dateDiff,cityToAddrDistance,cityToAgtDistance,cityToDataDistance
0,933,012b6757-2d16-4c6d-8aa7-fefbe6328e1c,5d0d1602-16c8-11ed-9b5f-1234bde3cd05,Anemergonics,Arvada,Co,39.8006,-105.081,2008-02-08,['8161698'],...,NaN,NaN,"1428 S Humboldt St, Denver, Co, 80210, Us",[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0,2.690,NaN,NaN,NaN
1,1189,0179132f-48af-4c06-aa5c-f6ef9a011372,cf479b1d-16c7-11ed-9b5f-1234bde3cd05,Mirofam,Thornton,Co,39.8696,-104.985,2008-03-28,['7841821'],...,NaN,NaN,NaN,NaN,NaN,1.0,0.403,NaN,NaN,NaN
2,16862,01db098e-3394-40a0-bb4c-350431b9685b,d96be5a2-16c7-11ed-9b5f-1234bde3cd05,Menogenix,Aurora,Co,39.7405,-104.831,2009-07-22,['9216206'],...,NaN,NaN,"2560 Kinnikinnick Rd Unit F4, Apt. 803C, Vail,...",NaN,NaN,1.0,0.907,NaN,NaN,1.9
3,16867,01dd4861-b537-4f33-a995-b8dcc1effa69,c1ad42d2-16c7-11ed-9b5f-1234bde3cd05,Moxion Power,Mill Valley,Ca,37.9060,-122.545,2021-06-01,['11283273'],...,{'Street_Address': '78 Lovell Ave.\Nmill Valle...,78 Lovell Ave.,"{'Street_Address': '1428 Shotwell Street', 'Lo...",NaN,Us_De,1.0,1.258,0.2,30.1,0.2
4,16936,01ef4c0c-2ff6-4c09-8781-385a68ff3220,17f7f348-16c8-11ed-9b5f-1234bde3cd05,Swicherz,Santa Monica,Ca,34.0195,-118.491,2003-01-31,['7147399'],...,"{'Street_Address': '3278 Wilshire Blvd., #603\...","3278 Wilshire Blvd., #603",NaN,[{'Trademark_Registration': {'Mark_Details': {...,NaN,1.0,3.019,11.7,NaN,NaN

In [4]:
### start timer
t0=time.time()

noDiff1=noDiff.iloc[:,[0,1,2,3,4,5,8,9,10,11,12,13,14,15,18,19,22,23,33,34,35,36,31,32]].reset_index(drop=True).copy()


### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")
print("The number of unique assignee IDs are:",noDiff1.assignee.nunique(),"\n")

### print general stats and first 5 records for dataset
display(noDiff1.info(),noDiff1.head())

Total time is 0.000033 mins

The number of unique assignee IDs are: 462

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 580 entries, 0 to 579
Data columns (total 24 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    580 non-null    int64
 1   assignee                              580 non-null    object
 2   location                              580 non-null    object
 3   organization                          580 non-null    object
 4   city                                  580 non-null    object
 5   state                                 580 non-null    object
 6   dateFiledMin                          580 non-null    datetime64[ns]
 7   patentList                            580 non-null    object
 8   matchNames                            579 non-null    object
 9   nameScores                            579 non-null    float64
 10  jurisdiction_code                     580 non-null    object
 11  incorporation_date                    579 non-null    datetime64[ns]
 12  cityMatch                             253 non-null    object
 13  stateMatch                            580 non-null    object
 14  address_city                          353 non-null    object
 15  address_state                         345 non-null    object
 16  agent_city                            142 non-null    object
 17  agent_state                           138 non-null    object
 18  dateDiff                              579 non-null    float64
 19  cityToAddrDistance                    328 non-null    float64
 20  cityToAgtDistance                     131 non-null    float64
 21  cityToDataDistance                    253 non-null    float64
 22  controlling_entity_jurisdiction_code  126 non-null    object
 23  match_num                             580 non-null    float64
dtypes: datetime64[ns](2), float64(6), int64(1), object(15)
memory usage: 108.9+ KB

None

,ID,assignee,location,organization,city,state,dateFiledMin,patentList,matchNames,nameScores,...,address_city,address_state,agent_city,agent_state,dateDiff,cityToAddrDistance,cityToAgtDistance,cityToDataDistance,controlling_entity_jurisdiction_code,match_num
0,933,012b6757-2d16-4c6d-8aa7-fefbe6328e1c,5d0d1602-16c8-11ed-9b5f-1234bde3cd05,Anemergonics,Arvada,Co,2008-02-08,['8161698'],Anemergonics,100.0,...,NaN,NaN,NaN,NaN,2.690,NaN,NaN,NaN,NaN,1.0
1,1189,0179132f-48af-4c06-aa5c-f6ef9a011372,cf479b1d-16c7-11ed-9b5f-1234bde3cd05,Mirofam,Thornton,Co,2008-03-28,['7841821'],Mirofam,100.0,...,NaN,NaN,NaN,NaN,0.403,NaN,NaN,NaN,NaN,1.0
2,16862,01db098e-3394-40a0-bb4c-350431b9685b,d96be5a2-16c7-11ed-9b5f-1234bde3cd05,Menogenix,Aurora,Co,2009-07-22,['9216206'],Menogenix,100.0,...,NaN,NaN,NaN,NaN,0.907,NaN,NaN,1.9,NaN,1.0
3,16867,01dd4861-b537-4f33-a995-b8dcc1effa69,c1ad42d2-16c7-11ed-9b5f-1234bde3cd05,Moxion Power,Mill Valley,Ca,2021-06-01,['11283273'],Moxion Power,100.0,...,Mill Valley,Ca,San Francisco,Ca,1.258,0.2,30.1,0.2,Us_De,1.0
4,16936,01ef4c0c-2ff6-4c09-8781-385a68ff3220,17f7f348-16c8-11ed-9b5f-1234bde3cd05,Swicherz,Santa Monica,Ca,2003-01-31,['7147399'],Swicherz,100.0,...,Los Angeles,Ca,NaN,NaN,3.019,11.7,NaN,NaN,NaN,1.0

In [5]:
# noDiff1.to_csv("../csvResults/readyForScoring.csv",index=False)
# noDiff1.to_csv("../csvResults/readyForScoring2.csv",index=False)
# noDiff1.to_csv("../csvResults/readyForScoring5.csv",index=False)