In [1]:
import pandas as pd
import os
import time
import warnings
warnings.filterwarnings('ignore')

t0=time.time()

srcFiles="../sourceFiles"

# loads assignee dataset and filters for US company or corp (2)
assignee=pd.read_csv(os.path.join(srcFiles,"assignee.tsv"),sep='\t',
                     usecols=['patent_id','assignee_id','disambig_assignee_organization','assignee_type','location_id'])
subAssignee=assignee.loc[(assignee['assignee_type']==2)].copy()

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")
print("The total number of unique assignee ids are:",len(subAssignee['assignee_id'].unique()))
print("The total number of unique patents are:",len(subAssignee['patent_id'].unique()),"\n")

display(subAssignee.info(null_counts=True),subAssignee.head())

Total time is 0.146691 mins

The total number of unique assignee ids are: 195378
The total number of unique patents are: 3602900

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3638392 entries, 1 to 7508931
Data columns (total 5 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   patent_id                       3638392 non-null  object
 1   assignee_id                     3638392 non-null  object
 2   disambig_assignee_organization  3638069 non-null  object
 3   assignee_type                   3638392 non-null  float64
 4   location_id                     3626259 non-null  object
dtypes: float64(1), object(4)
memory usage: 166.6+ MB

None

,patent_id,assignee_id,disambig_assignee_organization,assignee_type,location_id
1,5856666,ce408f15-1f08-43b0-bcbd-25313822ccd7,U.S. Philips Corporation,2.0,92237ca2-16c8-11ed-9b5f-1234bde3cd05
2,5204210,3ad56bd6-6bbe-4404-a6af-a4fd664673ad,Xerox Corporation,2.0,0cd1998f-16c8-11ed-9b5f-1234bde3cd05
6,6584517,631d8a77-2272-4d20-aea2-d6937ec9b800,Cypress Semiconductor Corporation,2.0,13f05eea-16c8-11ed-9b5f-1234bde3cd05
10,6970439,f59562a5-30ea-4e4b-8a34-2bb52b2b6228,"Motorola, Inc.",2.0,e5e40109-16c7-11ed-9b5f-1234bde3cd05
11,D519753,da17331e-e89d-44ca-b340-7defb0295cec,Liberty Hardware Mfg. Corp.,2.0,ed7fecdb-16c7-11ed-9b5f-1234bde3cd05

In [2]:
t0=time.time()

# rename columns
subAssignee.rename(columns={'patent_id':'patent','disambig_assignee_organization':'organization',
                    'assignee_type':'type','location_id':'location'},inplace=True)

subAssignee=subAssignee.dropna(subset=['organization','location'])

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")
print("The total number of unique assignee ids are:",len(subAssignee['assignee_id'].unique()))
print("The total number of unique patents are:",len(subAssignee['patent'].unique()),"\n")

display(subAssignee.info(null_counts=True),subAssignee.head())

Total time is 0.009613 mins

The total number of unique assignee ids are: 194363
The total number of unique patents are: 3590751

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3625937 entries, 1 to 7508931
Data columns (total 5 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   patent        3625937 non-null  object
 1   assignee_id   3625937 non-null  object
 2   organization  3625937 non-null  object
 3   type          3625937 non-null  float64
 4   location      3625937 non-null  object
dtypes: float64(1), object(4)
memory usage: 166.0+ MB

None

,patent,assignee_id,organization,type,location
1,5856666,ce408f15-1f08-43b0-bcbd-25313822ccd7,U.S. Philips Corporation,2.0,92237ca2-16c8-11ed-9b5f-1234bde3cd05
2,5204210,3ad56bd6-6bbe-4404-a6af-a4fd664673ad,Xerox Corporation,2.0,0cd1998f-16c8-11ed-9b5f-1234bde3cd05
6,6584517,631d8a77-2272-4d20-aea2-d6937ec9b800,Cypress Semiconductor Corporation,2.0,13f05eea-16c8-11ed-9b5f-1234bde3cd05
10,6970439,f59562a5-30ea-4e4b-8a34-2bb52b2b6228,"Motorola, Inc.",2.0,e5e40109-16c7-11ed-9b5f-1234bde3cd05
11,D519753,da17331e-e89d-44ca-b340-7defb0295cec,Liberty Hardware Mfg. Corp.,2.0,ed7fecdb-16c7-11ed-9b5f-1234bde3cd05

In [3]:
t0=time.time()

# loads location dataset for businesses and individuals
location=pd.read_csv(os.path.join(srcFiles,"location.tsv"),sep='\t',
                    usecols=['location_id','disambig_city','disambig_state','disambig_country','latitude','longitude'])

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")

display(location.info(null_counts=True),location.head())

Total time is 0.001702 mins

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77755 entries, 0 to 77754
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   location_id       77755 non-null  object
 1   disambig_city     77620 non-null  object
 2   disambig_state    26882 non-null  object
 3   disambig_country  77747 non-null  object
 4   latitude          77755 non-null  float64
 5   longitude         77755 non-null  float64
dtypes: float64(2), object(4)
memory usage: 3.6+ MB

None

,location_id,disambig_city,disambig_state,disambig_country,latitude,longitude
0,00235947-16c8-11ed-9b5f-1234bde3cd05,Westfield,PA,US,41.9192,-77.5389
1,00236a27-16c8-11ed-9b5f-1234bde3cd05,Helfenstein,PA,US,40.7505,-76.4473
2,00236f47-16c8-11ed-9b5f-1234bde3cd05,Pine Forge,PA,US,40.2819,-75.6922
3,002378d7-16c8-11ed-9b5f-1234bde3cd05,Stumpy Point,NC,US,35.6985,-75.7405
4,00238cb7-16c8-11ed-9b5f-1234bde3cd05,Millers,MD,US,39.6712,-76.8511

In [4]:
t0=time.time()

# loads location dataset for businesses and individuals
location.rename(columns={'location_id':'location','disambig_city':'city','disambig_state':'state',
                         'disambig_country':'country'},inplace=True)

subLocation=location.loc[location['country']=='US'].copy()

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")

print("There are",len(subLocation['location'].unique()),"unique locations\n")
display(subLocation.info(null_counts=True),subLocation.head())

Total time is 0.000167 mins

There are 24757 unique locations

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24757 entries, 0 to 77747
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   location   24757 non-null  object
 1   city       24756 non-null  object
 2   state      24755 non-null  object
 3   country    24757 non-null  object
 4   latitude   24757 non-null  float64
 5   longitude  24757 non-null  float64
dtypes: float64(2), object(4)
memory usage: 1.3+ MB

None

,location,city,state,country,latitude,longitude
0,00235947-16c8-11ed-9b5f-1234bde3cd05,Westfield,PA,US,41.9192,-77.5389
1,00236a27-16c8-11ed-9b5f-1234bde3cd05,Helfenstein,PA,US,40.7505,-76.4473
2,00236f47-16c8-11ed-9b5f-1234bde3cd05,Pine Forge,PA,US,40.2819,-75.6922
3,002378d7-16c8-11ed-9b5f-1234bde3cd05,Stumpy Point,NC,US,35.6985,-75.7405
4,00238cb7-16c8-11ed-9b5f-1234bde3cd05,Millers,MD,US,39.6712,-76.8511

In [5]:
t0=time.time()

# loads patent_id and patent_date - not really sure if this is important right now 1.31.2023
patentX=pd.read_csv(os.path.join(srcFiles,"patent.tsv"),sep='\t',usecols=['patent_id','patent_date'])

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")
print("The total number of unique patents are:",len(patentX['patent_id'].unique()),"\n")

display(patentX.info(null_counts=True),patentX.head())

Total time is 0.313927 mins

The total number of unique patents are: 8169776

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8169776 entries, 0 to 8169775
Data columns (total 2 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   patent_id    8169776 non-null  object
 1   patent_date  8169776 non-null  object
dtypes: object(2)
memory usage: 124.7+ MB

None

  patent_id patent_date
0  10000000  2018-06-19
1  10000001  2018-06-19
2  10000002  2018-06-19
3  10000003  2018-06-19
4  10000004  2018-06-19

In [6]:
t0=time.time()

# loads location dataset for businesses and individuals
patentX.rename(columns={'patent_id':'patent','patent_date':'dateGranted'},inplace=True)
patentX.dateGranted=pd.to_datetime(patentX.dateGranted,errors='coerce')
patentX.dateGranted=patentX.dateGranted.dt.strftime('%m/%d/%Y')

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")
print("The total number of unique patents are:",len(patentX['patent'].unique()),"\n")

display(patentX.info(null_counts=True),patentX.head())

Total time is 0.779983 mins

The total number of unique patents are: 8169776

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8169776 entries, 0 to 8169775
Data columns (total 2 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   patent       8169776 non-null  object
 1   dateGranted  8169776 non-null  object
dtypes: object(2)
memory usage: 124.7+ MB

None

     patent dateGranted
0  10000000  06/19/2018
1  10000001  06/19/2018
2  10000002  06/19/2018
3  10000003  06/19/2018
4  10000004  06/19/2018

In [7]:
import datetime

t0=time.time()

# loads patent_assignee dataset and is used as a xwalk between the assignee and location datasets
appDate=pd.read_csv(os.path.join(srcFiles,"application.tsv"),sep='\t',usecols=['patent_id','filing_date'])

appDate.rename(columns={'patent_id':'patent','filing_date':'dateFiled'},inplace=True)
appDate.dateFiled=pd.to_datetime(appDate.dateFiled,errors='coerce')
appDate.dateFiled=appDate.dateFiled.dt.strftime('%m/%d/%Y')
appDate=appDate.dropna(subset=['dateFiled'])

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")
print("The total number of unique patents are:",len(appDate['patent'].unique()),"\n")

display(appDate.info(null_counts=True),appDate.head())

Total time is 0.895555 mins

The total number of unique patents are: 8167482

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8167482 entries, 0 to 8167516
Data columns (total 2 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   patent     8167482 non-null  object
 1   dateFiled  8167482 non-null  object
dtypes: object(2)
memory usage: 186.9+ MB

None

    patent   dateFiled
0  D345393  12/21/1992
1  5164715  04/10/1990
2  5177974  06/23/1988
3  5379515  02/16/1994
4  5264790  07/01/1991

In [8]:
t0=time.time()

# convert patent numbers from object to integer
patentX.patent=patentX.patent.astype(str)
appDate.patent=appDate.patent.astype(str)

# construct a dataset with date filed and date granted for each patent
patDates=appDate.merge(patentX,on='patent',how='inner')

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins")
print("The total number of unique patents are:",len(patDates['patent'].unique()),"\n")

display(patDates.info(null_counts=True),patDates.head())

Total time is 0.196138 mins
The total number of unique patents are: 8167482

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8167482 entries, 0 to 8167481
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   patent       8167482 non-null  object
 1   dateFiled    8167482 non-null  object
 2   dateGranted  8167482 non-null  object
dtypes: object(3)
memory usage: 249.3+ MB

None

    patent   dateFiled dateGranted
0  D345393  12/21/1992  03/22/1994
1  5164715  04/10/1990  11/17/1992
2  5177974  06/23/1988  01/12/1993
3  5379515  02/16/1994  01/10/1995
4  5264790  07/01/1991  11/23/1993

In [9]:
t0=time.time()

# convert patent numbers to object
subAssignee.patent=subAssignee.patent.astype(str)
patDates.patent=patDates.patent.astype(str)

# add the organization information to the patDates dataset
patDatesAssignee=patDates.merge(subAssignee,on='patent',how='inner')

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")
print("The total number of unique assignee ids are:",len(patDatesAssignee['assignee_id'].unique()))
print("The total number of unique patents are:",len(patDatesAssignee['patent'].unique()),"\n")

display(patDatesAssignee.info(null_counts=True),patDatesAssignee.head())

Total time is 0.143267 mins

The total number of unique assignee ids are: 194355
The total number of unique patents are: 3590105

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3625287 entries, 0 to 3625286
Data columns (total 7 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   patent        3625287 non-null  object
 1   dateFiled     3625287 non-null  object
 2   dateGranted   3625287 non-null  object
 3   assignee_id   3625287 non-null  object
 4   organization  3625287 non-null  object
 5   type          3625287 non-null  float64
 6   location      3625287 non-null  object
dtypes: float64(1), object(6)
memory usage: 221.3+ MB

None

,patent,dateFiled,dateGranted,assignee_id,organization,type,location
0,5300544,03/12/1993,04/05/1994,eb056892-fd91-4dbb-a3ae-699b87efd115,Ciba-Geigy Corporation,2.0,09c7c29d-16c8-11ed-9b5f-1234bde3cd05
1,3991268,12/24/1948,11/09/1976,bf13084d-d864-4ac4-a597-fa2bb69313cd,"Bell Telephone Laboratories, Incorporated",2.0,0cba572f-16c8-11ed-9b5f-1234bde3cd05
2,4112849,02/11/1949,09/12/1978,45e79de6-9557-4297-86c9-0d35b6adc581,California Institute of Technology Texas A & M,2.0,198b2267-16c8-11ed-9b5f-1234bde3cd05
3,4773946,09/10/1987,09/27/1988,0a3d0e22-793c-4af2-b11d-063b7f355781,Cleveland State University,2.0,1ac6cccb-16c8-11ed-9b5f-1234bde3cd05
4,4956805,09/22/1987,09/11/1990,71e8d5bd-4005-4371-9d53-0d2f01f7e2bc,"International Anasazi, Inc.",2.0,c6929fc0-16c7-11ed-9b5f-1234bde3cd05

In [10]:
t0=time.time()

# convert location numbers to object
patDatesAssignee.location=patDatesAssignee.location.astype(str)
subLocation.location=subLocation.location.astype(str)

# add the organization information to the patDates dataset
patDatesAssigneeLoc=patDatesAssignee.merge(subLocation,on='location',how='inner')

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")
print("The total number of unique assignee ids are:",len(patDatesAssigneeLoc['assignee_id'].unique()))
print("The total number of unique patents are:",len(patDatesAssigneeLoc['patent'].unique()),"\n")

display(patDatesAssigneeLoc.info(null_counts=True),patDatesAssigneeLoc.head())

Total time is 0.032084 mins

The total number of unique assignee ids are: 194112
The total number of unique patents are: 3556544

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3591190 entries, 0 to 3591189
Data columns (total 12 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   patent        3591190 non-null  object
 1   dateFiled     3591190 non-null  object
 2   dateGranted   3591190 non-null  object
 3   assignee_id   3591190 non-null  object
 4   organization  3591190 non-null  object
 5   type          3591190 non-null  float64
 6   location      3591190 non-null  object
 7   city          3583714 non-null  object
 8   state         3591189 non-null  object
 9   country       3591190 non-null  object
 10  latitude      3591190 non-null  float64
 11  longitude     3591190 non-null  float64
dtypes: float64(3), object(9)
memory usage: 356.2+ MB

None

,patent,dateFiled,dateGranted,assignee_id,organization,type,location,city,state,country,latitude,longitude
0,5300544,03/12/1993,04/05/1994,eb056892-fd91-4dbb-a3ae-699b87efd115,Ciba-Geigy Corporation,2.0,09c7c29d-16c8-11ed-9b5f-1234bde3cd05,Ardsley,NY,US,41.0107,-73.8437
1,4058529,02/02/1965,11/15/1977,eb056892-fd91-4dbb-a3ae-699b87efd115,Ciba-Geigy Corporation,2.0,09c7c29d-16c8-11ed-9b5f-1234bde3cd05,Ardsley,NY,US,41.0107,-73.8437
2,4075237,04/10/1968,02/21/1978,42a5ac0c-e1ec-4549-9331-03409a7406b9,Ciba-Geigy Corporation a Corp. of New York,2.0,09c7c29d-16c8-11ed-9b5f-1234bde3cd05,Ardsley,NY,US,41.0107,-73.8437
3,4686294,12/20/1968,08/11/1987,eb056892-fd91-4dbb-a3ae-699b87efd115,Ciba-Geigy Corporation,2.0,09c7c29d-16c8-11ed-9b5f-1234bde3cd05,Ardsley,NY,US,41.0107,-73.8437
4,3968142,10/07/1969,07/06/1976,eb056892-fd91-4dbb-a3ae-699b87efd115,Ciba-Geigy Corporation,2.0,09c7c29d-16c8-11ed-9b5f-1234bde3cd05,Ardsley,NY,US,41.0107,-73.8437

In [11]:
t0=time.time()

# add the organization information to the patDates dataset
dfPreFinal=patDatesAssigneeLoc.iloc[:,[3,6,4,7,8,10,11,0,1,2]].copy()

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")
print("The total number of unique assignee ids are:",len(dfPreFinal['assignee_id'].unique()))
print("The total number of unique patents are:",len(dfPreFinal['patent'].unique()),"\n")

display(dfPreFinal.info(null_counts=True),dfPreFinal.head())

Total time is 0.027641 mins

The total number of unique assignee ids are: 194112
The total number of unique patents are: 3556544

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3591190 entries, 0 to 3591189
Data columns (total 10 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   assignee_id   3591190 non-null  object
 1   location      3591190 non-null  object
 2   organization  3591190 non-null  object
 3   city          3583714 non-null  object
 4   state         3591189 non-null  object
 5   latitude      3591190 non-null  float64
 6   longitude     3591190 non-null  float64
 7   patent        3591190 non-null  object
 8   dateFiled     3591190 non-null  object
 9   dateGranted   3591190 non-null  object
dtypes: float64(2), object(8)
memory usage: 301.4+ MB

None

,assignee_id,location,organization,city,state,latitude,longitude,patent,dateFiled,dateGranted
0,eb056892-fd91-4dbb-a3ae-699b87efd115,09c7c29d-16c8-11ed-9b5f-1234bde3cd05,Ciba-Geigy Corporation,Ardsley,NY,41.0107,-73.8437,5300544,03/12/1993,04/05/1994
1,eb056892-fd91-4dbb-a3ae-699b87efd115,09c7c29d-16c8-11ed-9b5f-1234bde3cd05,Ciba-Geigy Corporation,Ardsley,NY,41.0107,-73.8437,4058529,02/02/1965,11/15/1977
2,42a5ac0c-e1ec-4549-9331-03409a7406b9,09c7c29d-16c8-11ed-9b5f-1234bde3cd05,Ciba-Geigy Corporation a Corp. of New York,Ardsley,NY,41.0107,-73.8437,4075237,04/10/1968,02/21/1978
3,eb056892-fd91-4dbb-a3ae-699b87efd115,09c7c29d-16c8-11ed-9b5f-1234bde3cd05,Ciba-Geigy Corporation,Ardsley,NY,41.0107,-73.8437,4686294,12/20/1968,08/11/1987
4,eb056892-fd91-4dbb-a3ae-699b87efd115,09c7c29d-16c8-11ed-9b5f-1234bde3cd05,Ciba-Geigy Corporation,Ardsley,NY,41.0107,-73.8437,3968142,10/07/1969,07/06/1976

## Extract Minimum Dates for Filed and Granted

In [12]:
t0=time.time()

dfPreFinal.dateFiled=pd.to_datetime(dfPreFinal.dateFiled,errors='coerce')
# dfPreFinal.dateFiled=dfPreFinal.dateFiled.dt.strftime('%m/%d/%Y')

dfPreFinal.dateGranted=pd.to_datetime(dfPreFinal.dateGranted,errors='coerce')
# dfPreFinal.dateGranted=dfPreFinal.dateGranted.dt.strftime('%m/%d/%Y')

dfDate=dfPreFinal.sort_values(['patent','assignee_id'],
                              ascending=False).groupby(['assignee_id'],as_index=False)['dateFiled'].min()
dgDate=dfPreFinal.sort_values(['patent','assignee_id'],
                              ascending=False).groupby(['assignee_id'],as_index=False)['dateGranted'].min()

dfDate.rename(columns={'dateFiled':'dateFiledMin'},inplace=True)
dgDate.rename(columns={'dateGranted':'dateGrantedMin'},inplace=True)

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")

display(dfDate.info(null_counts=True),dgDate.info(null_counts=True))

Total time is 0.548397 mins

<class 'pandas.core.frame.DataFrame'>
Int64Index: 194112 entries, 0 to 194111
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   assignee_id   194112 non-null  object
 1   dateFiledMin  194112 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 4.4+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 194112 entries, 0 to 194111
Data columns (total 2 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   assignee_id     194112 non-null  object
 1   dateGrantedMin  194112 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 4.4+ MB

None

None

In [13]:
t0=time.time()

minDates=dfDate.merge(dgDate,on='assignee_id',how='inner')

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")

display(minDates.info(null_counts=True),minDates.head())

Total time is 0.002631 mins

<class 'pandas.core.frame.DataFrame'>
Int64Index: 194112 entries, 0 to 194111
Data columns (total 3 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   assignee_id     194112 non-null  object
 1   dateFiledMin    194112 non-null  datetime64[ns]
 2   dateGrantedMin  194112 non-null  datetime64[ns]
dtypes: datetime64[ns](2), object(1)
memory usage: 5.9+ MB

None

                            assignee_id dateFiledMin dateGrantedMin
0  00000ce5-b13f-4a23-a8fb-c14409ad7b68   1999-09-22     2001-12-04
1  00002c39-aad3-40df-ac8a-3356cd85af13   2011-09-21     2013-07-09
2  00005eb6-f714-45c4-840d-5321ac806380   1974-09-06     1976-01-13
3  0001365f-96ee-48f7-a26d-3206e8ecc33b   1996-07-03     1998-05-05
4  0001d1a0-7e84-47d2-a477-cfa36731d3e6   2004-10-05     2007-01-16

In [14]:
t0=time.time()

dfPreFinalMinDates=dfPreFinal.merge(minDates,on='assignee_id',how='inner')

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")
print("The total number of unique assignee ids are:",len(dfPreFinalMinDates['assignee_id'].unique()))
print("The total number of unique patents are:",len(dfPreFinalMinDates['patent'].unique()),"\n")

display(dfPreFinalMinDates.info(null_counts=True),dfPreFinalMinDates.head())

Total time is 0.033952 mins

The total number of unique assignee ids are: 194112
The total number of unique patents are: 3556544

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3591190 entries, 0 to 3591189
Data columns (total 12 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   assignee_id     3591190 non-null  object
 1   location        3591190 non-null  object
 2   organization    3591190 non-null  object
 3   city            3583714 non-null  object
 4   state           3591189 non-null  object
 5   latitude        3591190 non-null  float64
 6   longitude       3591190 non-null  float64
 7   patent          3591190 non-null  object
 8   dateFiled       3591190 non-null  datetime64[ns]
 9   dateGranted     3591190 non-null  datetime64[ns]
 10  dateFiledMin    3591190 non-null  datetime64[ns]
 11  dateGrantedMin  3591190 non-null  datetime64[ns]
dtypes: datetime64[ns](4), float64(2), object(6)
memory usage: 356.2+ MB

None

,assignee_id,location,organization,city,state,latitude,longitude,patent,dateFiled,dateGranted,dateFiledMin,dateGrantedMin
0,eb056892-fd91-4dbb-a3ae-699b87efd115,09c7c29d-16c8-11ed-9b5f-1234bde3cd05,Ciba-Geigy Corporation,Ardsley,NY,41.0107,-73.8437,5300544,1993-03-12,1994-04-05,1965-02-02,1976-01-06
1,eb056892-fd91-4dbb-a3ae-699b87efd115,09c7c29d-16c8-11ed-9b5f-1234bde3cd05,Ciba-Geigy Corporation,Ardsley,NY,41.0107,-73.8437,4058529,1965-02-02,1977-11-15,1965-02-02,1976-01-06
2,eb056892-fd91-4dbb-a3ae-699b87efd115,09c7c29d-16c8-11ed-9b5f-1234bde3cd05,Ciba-Geigy Corporation,Ardsley,NY,41.0107,-73.8437,4686294,1968-12-20,1987-08-11,1965-02-02,1976-01-06
3,eb056892-fd91-4dbb-a3ae-699b87efd115,09c7c29d-16c8-11ed-9b5f-1234bde3cd05,Ciba-Geigy Corporation,Ardsley,NY,41.0107,-73.8437,3968142,1969-10-07,1976-07-06,1965-02-02,1976-01-06
4,eb056892-fd91-4dbb-a3ae-699b87efd115,09c7c29d-16c8-11ed-9b5f-1234bde3cd05,Ciba-Geigy Corporation,Ardsley,NY,41.0107,-73.8437,4258149,1979-03-08,1981-03-24,1965-02-02,1976-01-06

## Groupby Assignee Only

In [15]:
t0=time.time()

patList=dfPreFinalMinDates.groupby('assignee_id',as_index=False)['patent'].agg(['unique']).reset_index(drop=False)
patList.rename(columns={'unique':'patentList'},inplace=True)

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")
print("The total number of unique assignee ids are:",len(patList['assignee_id'].unique()),"\n")

display(patList.info(null_counts=True),patList.head())

Total time is 0.173425 mins

The total number of unique assignee ids are: 194112

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194112 entries, 0 to 194111
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   assignee_id  194112 non-null  object
 1   patentList   194112 non-null  object
dtypes: object(2)
memory usage: 3.0+ MB

None

,assignee_id,patentList
0,00000ce5-b13f-4a23-a8fb-c14409ad7b68,[6327609]
1,00002c39-aad3-40df-ac8a-3356cd85af13,"[8479461, 8569977, 9657927]"
2,00005eb6-f714-45c4-840d-5321ac806380,"[3953896, 3931648, D242957, D243716, 4193140, ..."
3,0001365f-96ee-48f7-a26d-3206e8ecc33b,[5746024]
4,0001d1a0-7e84-47d2-a477-cfa36731d3e6,[7163196]

In [16]:
t0=time.time()

dfFinal=dfPreFinalMinDates.merge(patList,on='assignee_id',how='inner')

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")
print("The total number of unique assignee ids are:",len(dfFinal['assignee_id'].unique()))
print("The total number of unique patents are:",len(dfFinal['patent'].unique()),"\n")

display(dfFinal.info(null_counts=True),dfFinal.head())

Total time is 0.019194 mins

The total number of unique assignee ids are: 194112
The total number of unique patents are: 3556544

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3591190 entries, 0 to 3591189
Data columns (total 13 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   assignee_id     3591190 non-null  object
 1   location        3591190 non-null  object
 2   organization    3591190 non-null  object
 3   city            3583714 non-null  object
 4   state           3591189 non-null  object
 5   latitude        3591190 non-null  float64
 6   longitude       3591190 non-null  float64
 7   patent          3591190 non-null  object
 8   dateFiled       3591190 non-null  datetime64[ns]
 9   dateGranted     3591190 non-null  datetime64[ns]
 10  dateFiledMin    3591190 non-null  datetime64[ns]
 11  dateGrantedMin  3591190 non-null  datetime64[ns]
 12  patentList      3591190 non-null  object
dtypes: datetime64[ns](4), float64(2), object(7)
memory usage: 383.6+ MB

None

,assignee_id,location,organization,city,state,latitude,longitude,patent,dateFiled,dateGranted,dateFiledMin,dateGrantedMin,patentList
0,eb056892-fd91-4dbb-a3ae-699b87efd115,09c7c29d-16c8-11ed-9b5f-1234bde3cd05,Ciba-Geigy Corporation,Ardsley,NY,41.0107,-73.8437,5300544,1993-03-12,1994-04-05,1965-02-02,1976-01-06,"[5300544, 4058529, 4686294, 3968142, 4258149, ..."
1,eb056892-fd91-4dbb-a3ae-699b87efd115,09c7c29d-16c8-11ed-9b5f-1234bde3cd05,Ciba-Geigy Corporation,Ardsley,NY,41.0107,-73.8437,4058529,1965-02-02,1977-11-15,1965-02-02,1976-01-06,"[5300544, 4058529, 4686294, 3968142, 4258149, ..."
2,eb056892-fd91-4dbb-a3ae-699b87efd115,09c7c29d-16c8-11ed-9b5f-1234bde3cd05,Ciba-Geigy Corporation,Ardsley,NY,41.0107,-73.8437,4686294,1968-12-20,1987-08-11,1965-02-02,1976-01-06,"[5300544, 4058529, 4686294, 3968142, 4258149, ..."
3,eb056892-fd91-4dbb-a3ae-699b87efd115,09c7c29d-16c8-11ed-9b5f-1234bde3cd05,Ciba-Geigy Corporation,Ardsley,NY,41.0107,-73.8437,3968142,1969-10-07,1976-07-06,1965-02-02,1976-01-06,"[5300544, 4058529, 4686294, 3968142, 4258149, ..."
4,eb056892-fd91-4dbb-a3ae-699b87efd115,09c7c29d-16c8-11ed-9b5f-1234bde3cd05,Ciba-Geigy Corporation,Ardsley,NY,41.0107,-73.8437,4258149,1979-03-08,1981-03-24,1965-02-02,1976-01-06,"[5300544, 4058529, 4686294, 3968142, 4258149, ..."

In [17]:
t0=time.time()

dfFinal1=dfFinal.sort_values(['assignee_id','dateFiled','patent'],ascending=[False,True,False]).copy()

dfFinal1.drop_duplicates(subset=['assignee_id'],keep='first',inplace=True)
dfFinal2=dfFinal1.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12]].sort_values('assignee_id').reset_index(drop=True).copy()

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")
print("The total number of unique assignee ids are:",len(dfFinal2['assignee_id'].unique()))
print("The total number of unique patents are:",len(dfFinal2['patent'].unique()),"\n")

display(dfFinal2.info(null_counts=True),dfFinal2.head())

Total time is 0.249364 mins

The total number of unique assignee ids are: 194112
The total number of unique patents are: 193666

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194112 entries, 0 to 194111
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   assignee_id     194112 non-null  object
 1   location        194112 non-null  object
 2   organization    194112 non-null  object
 3   city            193192 non-null  object
 4   state           194112 non-null  object
 5   latitude        194112 non-null  float64
 6   longitude       194112 non-null  float64
 7   patent          194112 non-null  object
 8   dateFiled       194112 non-null  datetime64[ns]
 9   dateGranted     194112 non-null  datetime64[ns]
 10  dateFiledMin    194112 non-null  datetime64[ns]
 11  dateGrantedMin  194112 non-null  datetime64[ns]
 12  patentList      194112 non-null  object
dtypes: datetime64[ns](4), float64(2), object(7)
memory usage: 19.3+ MB

None

,assignee_id,location,organization,city,state,latitude,longitude,patent,dateFiled,dateGranted,dateFiledMin,dateGrantedMin,patentList
0,00000ce5-b13f-4a23-a8fb-c14409ad7b68,c3f19987-16c7-11ed-9b5f-1234bde3cd05,"AudioBase, Inc.",Sausalito,CA,37.8590,-122.4850,6327609,1999-09-22,2001-12-04,1999-09-22,2001-12-04,[6327609]
1,00002c39-aad3-40df-ac8a-3356cd85af13,e0ed625f-16c7-11ed-9b5f-1234bde3cd05,"Nine 24, Inc.",Louisville,KY,38.2542,-85.7594,8479461,2011-09-21,2013-07-09,2011-09-21,2013-07-09,"[8479461, 8569977, 9657927]"
2,00005eb6-f714-45c4-840d-5321ac806380,cc8b6517-16c7-11ed-9b5f-1234bde3cd05,"Richards Manufacturing Company, a New Jersey L...",Memphis,TN,35.1335,-89.9669,3953896,1974-09-06,1976-05-04,1974-09-06,1976-01-13,"[3953896, 3931648, D242957, D243716, 4193140, ..."
3,0001365f-96ee-48f7-a26d-3206e8ecc33b,c4111b71-16c7-11ed-9b5f-1234bde3cd05,"Rogers Foods, Inc.",Turlock,CA,37.4947,-120.8470,5746024,1996-07-03,1998-05-05,1996-07-03,1998-05-05,[5746024]
4,0001d1a0-7e84-47d2-a477-cfa36731d3e6,dbb582b9-16c7-11ed-9b5f-1234bde3cd05,Behr Innovations LLC,Northfield,MN,44.4582,-93.1612,7163196,2004-10-05,2007-01-16,2004-10-05,2007-01-16,[7163196]

In [18]:
# dfFinal2.to_csv("../csvResults/pvDatasetPubCompanyAssignee.csv",index=False)

## Append Assignment Data to Dataset

In [1]:
import pandas as pd
import os
import time
import warnings
warnings.filterwarnings('ignore')

t0=time.time()

srcFiles="../csvResults/"

ra=pd.read_csv(os.path.join(srcFiles,"reassignment.csv"),usecols=['assignee','assignor','record_date','grant_num'])
ra.rename(columns={'assignee':'assignee_id'},inplace=True)

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")
print("The total number of unique patents are:",ra.grant_num.nunique(),"\n")

display(ra.info(null_counts=True),ra.head())

Total time is 0.239886 mins

The total number of unique patents are: 6373953

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10358253 entries, 0 to 10358252
Data columns (total 4 columns):
 #   Column       Non-Null Count     Dtype
---  ------       --------------     -----
 0   assignee_id  10358252 non-null  object
 1   assignor     10358253 non-null  object
 2   record_date  10358253 non-null  object
 3   grant_num    10358253 non-null  object
dtypes: object(4)
memory usage: 316.1+ MB

None

,assignee_id,assignor,record_date,grant_num
0,CHILDREN'S MEDICAL CENTER CORPORATION,"ATALA, ANTHONY",1994-12-30,5858003
1,NORTHERN TELECOM LIMITED,NORTHERN ELECTRIC COMPANY LIMITED,1979-03-05,4149772
2,NORTHERN TELECOM LIMITED,NORTHERN ELECTRIC COMPANY LIMITED,1979-03-05,4131690
3,NORTHERN TELECOM LIMITED,NORTHERN ELECTRIC COMPANY LIMITED,1979-03-05,4497695
4,PARADYNE CORPORATION,"ARMSTRONG, THOMAS R.",1979-03-02,4273955

In [2]:
t0=time.time()

pvDataPubComp=pd.read_csv(os.path.join(srcFiles,"pvDatasetPubCompanyAssignee.csv"))

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")
print("The total number of unique patents are:",pvDataPubComp.patent.nunique())
print("The total number of unique assignee ids are:",len(pvDataPubComp['assignee_id'].unique()),"\n")

display(pvDataPubComp.info(null_counts=True),pvDataPubComp.head())

Total time is 0.013450 mins

The total number of unique patents are: 193666
The total number of unique assignee ids are: 194112

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194112 entries, 0 to 194111
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   assignee_id     194112 non-null  object
 1   location        194112 non-null  object
 2   organization    194112 non-null  object
 3   city            193192 non-null  object
 4   state           194112 non-null  object
 5   latitude        194112 non-null  float64
 6   longitude       194112 non-null  float64
 7   patent          194112 non-null  object
 8   dateFiled       194112 non-null  object
 9   dateGranted     194112 non-null  object
 10  dateFiledMin    194112 non-null  object
 11  dateGrantedMin  194112 non-null  object
 12  patentList      194112 non-null  object
dtypes: float64(2), object(11)
memory usage: 19.3+ MB

None

,assignee_id,location,organization,city,state,latitude,longitude,patent,dateFiled,dateGranted,dateFiledMin,dateGrantedMin,patentList
0,00000ce5-b13f-4a23-a8fb-c14409ad7b68,c3f19987-16c7-11ed-9b5f-1234bde3cd05,"AudioBase, Inc.",Sausalito,CA,37.8590,-122.4850,6327609,1999-09-22,2001-12-04,1999-09-22,2001-12-04,['6327609']
1,00002c39-aad3-40df-ac8a-3356cd85af13,e0ed625f-16c7-11ed-9b5f-1234bde3cd05,"Nine 24, Inc.",Louisville,KY,38.2542,-85.7594,8479461,2011-09-21,2013-07-09,2011-09-21,2013-07-09,['8479461' '8569977' '9657927']
2,00005eb6-f714-45c4-840d-5321ac806380,cc8b6517-16c7-11ed-9b5f-1234bde3cd05,"Richards Manufacturing Company, a New Jersey L...",Memphis,TN,35.1335,-89.9669,3953896,1974-09-06,1976-05-04,1974-09-06,1976-01-13,['3953896' '3931648' 'D242957' 'D243716' '4193...
3,0001365f-96ee-48f7-a26d-3206e8ecc33b,c4111b71-16c7-11ed-9b5f-1234bde3cd05,"Rogers Foods, Inc.",Turlock,CA,37.4947,-120.8470,5746024,1996-07-03,1998-05-05,1996-07-03,1998-05-05,['5746024']
4,0001d1a0-7e84-47d2-a477-cfa36731d3e6,dbb582b9-16c7-11ed-9b5f-1234bde3cd05,Behr Innovations LLC,Northfield,MN,44.4582,-93.1612,7163196,2004-10-05,2007-01-16,2004-10-05,2007-01-16,['7163196']

In [3]:
t0=time.time()

assignMerge=pvDataPubComp.merge(ra,left_on=['patent'],right_on=['grant_num'],how='outer',indicator=True)
assignMerge.rename(columns={'assignee_id_x':'assignee_id','assignee_id_y':'assignee'},inplace=True)

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")
print("The total number of unique assignee ids are:",len(assignMerge['assignee_id'].unique()))
print("The total number of unique patents are:",len(assignMerge['patent'].unique()),"\n")


display(assignMerge.info(null_counts=True),assignMerge.head())

Total time is 0.290922 mins

The total number of unique assignee ids are: 194113
The total number of unique patents are: 193667

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10388796 entries, 0 to 10388795
Data columns (total 18 columns):
 #   Column          Non-Null Count     Dtype
---  ------          --------------     -----
 0   assignee_id     345365 non-null    object
 1   location        345365 non-null    object
 2   organization    345365 non-null    object
 3   city            343813 non-null    object
 4   state           345365 non-null    object
 5   latitude        345365 non-null    float64
 6   longitude       345365 non-null    float64
 7   patent          345365 non-null    object
 8   dateFiled       345365 non-null    object
 9   dateGranted     345365 non-null    object
 10  dateFiledMin    345365 non-null    object
 11  dateGrantedMin  345365 non-null    object
 12  patentList      345365 non-null    object
 13  assignee        10359321 non-null  object
 14  assignor        10359322 non-null  object
 15  record_date     10359322 non-null  object
 16  grant_num       10359322 non-null  object
 17  _merge          10388796 non-null  category
dtypes: category(1), float64(2), object(15)
memory usage: 1.4+ GB

None

,assignee_id,location,organization,city,state,latitude,longitude,patent,dateFiled,dateGranted,dateFiledMin,dateGrantedMin,patentList,assignee,assignor,record_date,grant_num,_merge
0,00000ce5-b13f-4a23-a8fb-c14409ad7b68,c3f19987-16c7-11ed-9b5f-1234bde3cd05,"AudioBase, Inc.",Sausalito,CA,37.8590,-122.4850,6327609,1999-09-22,2001-12-04,1999-09-22,2001-12-04,['6327609'],"AUDIOBASE, INC.","LUDEWIG, CARL",1999-09-22,6327609,both
1,00002c39-aad3-40df-ac8a-3356cd85af13,e0ed625f-16c7-11ed-9b5f-1234bde3cd05,"Nine 24, Inc.",Louisville,KY,38.2542,-85.7594,8479461,2011-09-21,2013-07-09,2011-09-21,2013-07-09,['8479461' '8569977' '9657927'],"NINE 24, INC.","CARVER, KENNETH R",2011-09-21,8479461,both
2,00005eb6-f714-45c4-840d-5321ac806380,cc8b6517-16c7-11ed-9b5f-1234bde3cd05,"Richards Manufacturing Company, a New Jersey L...",Memphis,TN,35.1335,-89.9669,3953896,1974-09-06,1976-05-04,1974-09-06,1976-01-13,['3953896' '3931648' 'D242957' 'D243716' '4193...,NaN,NaN,NaN,NaN,left_only
3,0001365f-96ee-48f7-a26d-3206e8ecc33b,c4111b71-16c7-11ed-9b5f-1234bde3cd05,"Rogers Foods, Inc.",Turlock,CA,37.4947,-120.8470,5746024,1996-07-03,1998-05-05,1996-07-03,1998-05-05,['5746024'],"ROGERS FOODS, INC.","RICE, ROBERT M.",1996-07-03,5746024,both
4,0001365f-96ee-48f7-a26d-3206e8ecc33b,c4111b71-16c7-11ed-9b5f-1234bde3cd05,"Rogers Foods, Inc.",Turlock,CA,37.4947,-120.8470,5746024,1996-07-03,1998-05-05,1996-07-03,1998-05-05,['5746024'],SENSIENT DEHYDRATED FLAVORS COMPANY,"ROGERS FOODS, INC.",2005-10-25,5746024,both

In [4]:
t0=time.time()

assignMergeboth=assignMerge[assignMerge['_merge']=='both']
assignMergeleft=assignMerge[assignMerge['_merge']=='left_only']

pvDataPubComp1=pd.concat([assignMergeboth,assignMergeleft],axis=0)
pvDataPubComp2=pvDataPubComp1.iloc[:,0:16].reset_index(drop=True).copy()

pvDataPubComp2.assignee=pvDataPubComp2.assignee.str.title()
pvDataPubComp2.assignor=pvDataPubComp2.assignor.str.title()

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")
print("The total number of unique assignee ids are:",len(pvDataPubComp2['assignee_id'].unique()))
print("The total number of unique patents are:",pvDataPubComp2.patent.nunique(),"\n")


display(pvDataPubComp2.info(null_counts=True),pvDataPubComp2.head())

Total time is 0.015116 mins

The total number of unique assignee ids are: 194112
The total number of unique patents are: 193666

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345365 entries, 0 to 345364
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   assignee_id     345365 non-null  object
 1   location        345365 non-null  object
 2   organization    345365 non-null  object
 3   city            343813 non-null  object
 4   state           345365 non-null  object
 5   latitude        345365 non-null  float64
 6   longitude       345365 non-null  float64
 7   patent          345365 non-null  object
 8   dateFiled       345365 non-null  object
 9   dateGranted     345365 non-null  object
 10  dateFiledMin    345365 non-null  object
 11  dateGrantedMin  345365 non-null  object
 12  patentList      345365 non-null  object
 13  assignee        315891 non-null  object
 14  assignor        315891 non-null  object
 15  record_date     315891 non-null  object
dtypes: float64(2), object(14)
memory usage: 42.2+ MB

None

,assignee_id,location,organization,city,state,latitude,longitude,patent,dateFiled,dateGranted,dateFiledMin,dateGrantedMin,patentList,assignee,assignor,record_date
0,00000ce5-b13f-4a23-a8fb-c14409ad7b68,c3f19987-16c7-11ed-9b5f-1234bde3cd05,"AudioBase, Inc.",Sausalito,CA,37.8590,-122.4850,6327609,1999-09-22,2001-12-04,1999-09-22,2001-12-04,['6327609'],"Audiobase, Inc.","Ludewig, Carl",1999-09-22
1,00002c39-aad3-40df-ac8a-3356cd85af13,e0ed625f-16c7-11ed-9b5f-1234bde3cd05,"Nine 24, Inc.",Louisville,KY,38.2542,-85.7594,8479461,2011-09-21,2013-07-09,2011-09-21,2013-07-09,['8479461' '8569977' '9657927'],"Nine 24, Inc.","Carver, Kenneth R",2011-09-21
2,0001365f-96ee-48f7-a26d-3206e8ecc33b,c4111b71-16c7-11ed-9b5f-1234bde3cd05,"Rogers Foods, Inc.",Turlock,CA,37.4947,-120.8470,5746024,1996-07-03,1998-05-05,1996-07-03,1998-05-05,['5746024'],"Rogers Foods, Inc.","Rice, Robert M.",1996-07-03
3,0001365f-96ee-48f7-a26d-3206e8ecc33b,c4111b71-16c7-11ed-9b5f-1234bde3cd05,"Rogers Foods, Inc.",Turlock,CA,37.4947,-120.8470,5746024,1996-07-03,1998-05-05,1996-07-03,1998-05-05,['5746024'],Sensient Dehydrated Flavors Company,"Rogers Foods, Inc.",2005-10-25
4,0001d1a0-7e84-47d2-a477-cfa36731d3e6,dbb582b9-16c7-11ed-9b5f-1234bde3cd05,Behr Innovations LLC,Northfield,MN,44.4582,-93.1612,7163196,2004-10-05,2007-01-16,2004-10-05,2007-01-16,['7163196'],Behr Innovations Llc,"Behr, Jerome P.",2005-10-04

In [5]:
# pvDataPubComp2.to_csv("../csvResults/pvDatasetPubCompanyAssigneeAssignment.csv",index=False)

## Process Data

In [1]:
import pandas as pd
import os
import datetime
import time
import warnings
warnings.filterwarnings('ignore')

t0=time.time()

saveFiles="../csvResults"

pvDataPubComp=pd.read_csv(os.path.join(saveFiles,"pvDatasetPubCompanyAssigneeAssignment.csv"))

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")
print("The total number of unique assignee ids are:",len(pvDataPubComp['assignee_id'].unique()))
print("The total number of unique patents are:",pvDataPubComp['patent'].nunique(),"\n")

display(pvDataPubComp.info(null_counts=True),pvDataPubComp.head())

Total time is 0.020033 mins

The total number of unique assignee ids are: 194112
The total number of unique patents are: 193666

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345365 entries, 0 to 345364
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   assignee_id     345365 non-null  object
 1   location        345365 non-null  object
 2   organization    345365 non-null  object
 3   city            343813 non-null  object
 4   state           345365 non-null  object
 5   latitude        345365 non-null  float64
 6   longitude       345365 non-null  float64
 7   patent          345365 non-null  object
 8   dateFiled       345365 non-null  object
 9   dateGranted     345365 non-null  object
 10  dateFiledMin    345365 non-null  object
 11  dateGrantedMin  345365 non-null  object
 12  patentList      345365 non-null  object
 13  assignee        315891 non-null  object
 14  assignor        315891 non-null  object
 15  record_date     315891 non-null  object
dtypes: float64(2), object(14)
memory usage: 42.2+ MB

None

,assignee_id,location,organization,city,state,latitude,longitude,patent,dateFiled,dateGranted,dateFiledMin,dateGrantedMin,patentList,assignee,assignor,record_date
0,00000ce5-b13f-4a23-a8fb-c14409ad7b68,c3f19987-16c7-11ed-9b5f-1234bde3cd05,"AudioBase, Inc.",Sausalito,CA,37.8590,-122.4850,6327609,1999-09-22,2001-12-04,1999-09-22,2001-12-04,['6327609'],"Audiobase, Inc.","Ludewig, Carl",1999-09-22
1,00002c39-aad3-40df-ac8a-3356cd85af13,e0ed625f-16c7-11ed-9b5f-1234bde3cd05,"Nine 24, Inc.",Louisville,KY,38.2542,-85.7594,8479461,2011-09-21,2013-07-09,2011-09-21,2013-07-09,['8479461' '8569977' '9657927'],"Nine 24, Inc.","Carver, Kenneth R",2011-09-21
2,0001365f-96ee-48f7-a26d-3206e8ecc33b,c4111b71-16c7-11ed-9b5f-1234bde3cd05,"Rogers Foods, Inc.",Turlock,CA,37.4947,-120.8470,5746024,1996-07-03,1998-05-05,1996-07-03,1998-05-05,['5746024'],"Rogers Foods, Inc.","Rice, Robert M.",1996-07-03
3,0001365f-96ee-48f7-a26d-3206e8ecc33b,c4111b71-16c7-11ed-9b5f-1234bde3cd05,"Rogers Foods, Inc.",Turlock,CA,37.4947,-120.8470,5746024,1996-07-03,1998-05-05,1996-07-03,1998-05-05,['5746024'],Sensient Dehydrated Flavors Company,"Rogers Foods, Inc.",2005-10-25
4,0001d1a0-7e84-47d2-a477-cfa36731d3e6,dbb582b9-16c7-11ed-9b5f-1234bde3cd05,Behr Innovations LLC,Northfield,MN,44.4582,-93.1612,7163196,2004-10-05,2007-01-16,2004-10-05,2007-01-16,['7163196'],Behr Innovations Llc,"Behr, Jerome P.",2005-10-04

In [2]:
t0=time.time()

# removes universities and hospitals; list came from Matt
dfPreFinalMinDatesNoUniv=pvDataPubComp[pvDataPubComp['organization'].str.contains('Barts|Berkeley|Coll|Dept|Ecole|Hopkins|Hsch|\
                                 Max Planck|Med Sch|Politec|Polytec|School|Suny|Ucl|Umc|Univ|Institute|university|University|\
                                 faculty|Mit|Caltech|Nyu|Ucl|Univ|College|Ucsd|Cmu|Ucbl|Epfl|Lmu|Interuniv|Harvard|Case|\
                                 Western|Caltech|Cern|Chalmers|Cuny|Mit|Nyu|Riken|Th Darmstadt|Uc Davis|Ucsf|Usc|\
                                 Virginia Tech|Georgia Tech|Trustees Of',case=False)==False]

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")
print("The total number of unique assignee ids are:",len(dfPreFinalMinDatesNoUniv['assignee_id'].unique()))
print("The total number of unique patents are:",dfPreFinalMinDatesNoUniv['patent'].nunique(),"\n")

display(dfPreFinalMinDatesNoUniv.info(null_counts=True),dfPreFinalMinDatesNoUniv.head())

Total time is 0.043649 mins

The total number of unique assignee ids are: 189732
The total number of unique patents are: 189323

<class 'pandas.core.frame.DataFrame'>
Int64Index: 337718 entries, 0 to 345364
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   assignee_id     337718 non-null  object
 1   location        337718 non-null  object
 2   organization    337718 non-null  object
 3   city            336268 non-null  object
 4   state           337718 non-null  object
 5   latitude        337718 non-null  float64
 6   longitude       337718 non-null  float64
 7   patent          337718 non-null  object
 8   dateFiled       337718 non-null  object
 9   dateGranted     337718 non-null  object
 10  dateFiledMin    337718 non-null  object
 11  dateGrantedMin  337718 non-null  object
 12  patentList      337718 non-null  object
 13  assignee        309046 non-null  object
 14  assignor        309046 non-null  object
 15  record_date     309046 non-null  object
dtypes: float64(2), object(14)
memory usage: 43.8+ MB

None

,assignee_id,location,organization,city,state,latitude,longitude,patent,dateFiled,dateGranted,dateFiledMin,dateGrantedMin,patentList,assignee,assignor,record_date
0,00000ce5-b13f-4a23-a8fb-c14409ad7b68,c3f19987-16c7-11ed-9b5f-1234bde3cd05,"AudioBase, Inc.",Sausalito,CA,37.8590,-122.4850,6327609,1999-09-22,2001-12-04,1999-09-22,2001-12-04,['6327609'],"Audiobase, Inc.","Ludewig, Carl",1999-09-22
1,00002c39-aad3-40df-ac8a-3356cd85af13,e0ed625f-16c7-11ed-9b5f-1234bde3cd05,"Nine 24, Inc.",Louisville,KY,38.2542,-85.7594,8479461,2011-09-21,2013-07-09,2011-09-21,2013-07-09,['8479461' '8569977' '9657927'],"Nine 24, Inc.","Carver, Kenneth R",2011-09-21
2,0001365f-96ee-48f7-a26d-3206e8ecc33b,c4111b71-16c7-11ed-9b5f-1234bde3cd05,"Rogers Foods, Inc.",Turlock,CA,37.4947,-120.8470,5746024,1996-07-03,1998-05-05,1996-07-03,1998-05-05,['5746024'],"Rogers Foods, Inc.","Rice, Robert M.",1996-07-03
3,0001365f-96ee-48f7-a26d-3206e8ecc33b,c4111b71-16c7-11ed-9b5f-1234bde3cd05,"Rogers Foods, Inc.",Turlock,CA,37.4947,-120.8470,5746024,1996-07-03,1998-05-05,1996-07-03,1998-05-05,['5746024'],Sensient Dehydrated Flavors Company,"Rogers Foods, Inc.",2005-10-25
4,0001d1a0-7e84-47d2-a477-cfa36731d3e6,dbb582b9-16c7-11ed-9b5f-1234bde3cd05,Behr Innovations LLC,Northfield,MN,44.4582,-93.1612,7163196,2004-10-05,2007-01-16,2004-10-05,2007-01-16,['7163196'],Behr Innovations Llc,"Behr, Jerome P.",2005-10-04

In [3]:
t0=time.time()

srcFiles="../sourceFiles"

disNames=pd.read_stata(os.path.join(srcFiles,"patent_match_id_name.dta"),columns=['name_std'])

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins")

display(disNames.info(null_counts=True),disNames.head())

Total time is 0.029650 mins
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1356337 entries, 0 to 1356336
Data columns (total 1 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   name_std  1356337 non-null  object
dtypes: object(1)
memory usage: 20.7+ MB

None

               name_std
0         GEN ELECTR CO
1          US SURG CORP
2  MARTIN MARIETTA CORP
3    ROCKWELL INTL CORP
4         LOCKHEED CORP

In [4]:
### this section cleans the organization and name fields by standardizing the names to facilitate better merge
### results. Skipping this section will yield poor results in any subsequent merges.

### start timer
t0=time.time()

### converts the first character in each word to Uppercase and remaining characters to lowercase in 
### the string, followed by removing any whitespace that may exist to the left and right of the strings
disNames['name_std']=disNames['name_std'].str.title()
disNames['name_std']=disNames['name_std'].str.lstrip().str.rstrip()
disNames['name_std']=disNames['name_std'].str.replace('\s+',' ')

### some strings must be replaced rather than removed because the resulting organization names would
### not make sense or match incorrectly. For example, Arjang & Co., which is the full name for the
### organization, would become Arjang and would match to multiple records via the merge instead of
### one. This was observed through multiple trials of cleaning the data
disNames['name_std']=disNames['name_std'].str.replace(' & ', ' And ')
disNames['name_std']=disNames['name_std'].str.replace(' (Co\.|Co)$', ' Company')
disNames['name_std']=disNames['name_std'].str.replace(' (Corp\.|Corp)$', ' Corporation')
disNames['name_std']=disNames['name_std'].str.replace('Intl', 'International')
disNames['name_std']=disNames['name_std'].str.replace('Mfg', 'Manufacturing')
disNames['name_std']=disNames['name_std'].str.replace(' (Inc\.|Inc)$| Inc ', ' Incorporated')
disNames['name_std']=disNames['name_std'].str.replace(' (Ltd\.|Ltd)$', ' Limited')
disNames['name_std']=disNames['name_std'].str.replace(' (Mgmt\.|Mgmt)$| (Mgmt\.|Mgmt)', ' Management')
disNames['name_std']=disNames['name_std'].str.replace('Solut$', 'Solutions')
disNames['name_std']=disNames['name_std'].str.replace('Gen Electr|Ge$', 'General Electric')
disNames['name_std']=disNames['name_std'].str.replace(' Gen ', ' General ')
disNames['name_std']=disNames['name_std'].str.replace('R C A', 'Rca')
disNames['name_std']=disNames['name_std'].str.replace('A M P', 'Amp')
disNames['name_std']=disNames['name_std'].str.replace('P P G', 'Ppg')
disNames['name_std']=disNames['name_std'].str.replace('G T E', 'Gte')
disNames['name_std']=disNames['name_std'].str.replace('G A F', 'Gaf')
disNames['name_std']=disNames['name_std'].str.replace('Ibm', 'Ibm Corporation')
disNames['name_std']=disNames['name_std'].str.replace('Sys |Syt$', 'Systems ')
disNames['name_std']=disNames['name_std'].str.replace('Ind ', 'Industries ')

# disNames['name_std']=disNames['name_std'].str.replace('Llc|Llc\.|Pllc|Pllc\.', '')


disNames['name_std']=disNames['name_std'].str.replace('\s+',' ')

### apply the pattern variable to the organization field and clean the resulting whitespace to the
### left and right of the strings
disNames['name_std']=disNames['name_std'].str.lstrip().str.rstrip()

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")

display(disNames.info(),disNames.head())

Total time is 0.476869 mins

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1356337 entries, 0 to 1356336
Data columns (total 1 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   name_std  1356337 non-null  object
dtypes: object(1)
memory usage: 20.7+ MB

None

                             name_std
0            General Electric Company
1                 Us Surg Corporation
2         Martin Marietta Corporation
3  Rockwell International Corporation
4                Lockheed Corporation

In [5]:
### this section cleans the organization and name fields by standardizing the names to facilitate better merge
### results. Skipping this section will yield poor results in any subsequent merges.

### start timer
t0=time.time()

### converts the first character in each word to Uppercase and remaining characters to lowercase in 
### the string, followed by removing any whitespace that may exist to the left and right of the strings
dfPreFinalMinDatesNoUniv['organization']=dfPreFinalMinDatesNoUniv['organization'].str.title()
dfPreFinalMinDatesNoUniv['organization']=dfPreFinalMinDatesNoUniv['organization'].str.lstrip().str.rstrip()
dfPreFinalMinDatesNoUniv['organization']=dfPreFinalMinDatesNoUniv['organization'].str.replace('\s+',' ')

### some strings must be replaced rather than removed because the resulting organization names would
### not make sense or match incorrectly. For example, Arjang & Co., which is the full name for the
### organization, would become Arjang and would match to multiple records via the merge instead of
### one. This was observed through multiple trials of cleaning the data
dfPreFinalMinDatesNoUniv['organization']=dfPreFinalMinDatesNoUniv['organization'].str.replace(' & ', ' And ')
dfPreFinalMinDatesNoUniv['organization']=dfPreFinalMinDatesNoUniv['organization'].str.replace(' (Co\.|Co)$', ' Company')
dfPreFinalMinDatesNoUniv['organization']=dfPreFinalMinDatesNoUniv['organization'].str.replace(' (Corp\.|Corp)$', ' Corporation')
dfPreFinalMinDatesNoUniv['organization']=dfPreFinalMinDatesNoUniv['organization'].str.replace('Intl', 'International')
dfPreFinalMinDatesNoUniv['organization']=dfPreFinalMinDatesNoUniv['organization'].str.replace('Mfg', 'Manufacturing')
dfPreFinalMinDatesNoUniv['organization']=dfPreFinalMinDatesNoUniv['organization'].str.replace(' (Inc\.|Inc)$| Inc ',
                                                                                              ' Incorporated')
dfPreFinalMinDatesNoUniv['organization']=dfPreFinalMinDatesNoUniv['organization'].str.replace(' (Ltd\.|Ltd)$', ' Limited')
dfPreFinalMinDatesNoUniv['organization']=dfPreFinalMinDatesNoUniv['organization'].str.replace(' (Mgmt\.|Mgmt)$| (Mgmt\.|Mgmt)', 
                                                                                              ' Management')
dfPreFinalMinDatesNoUniv['organization']=dfPreFinalMinDatesNoUniv['organization'].str.replace('Solut$', 'Solutions')
dfPreFinalMinDatesNoUniv['organization']=dfPreFinalMinDatesNoUniv['organization'].str.replace('Gen Electr|Ge$', 
                                                                                              'General Electric')
dfPreFinalMinDatesNoUniv['organization']=dfPreFinalMinDatesNoUniv['organization'].str.replace(' Gen ', ' General ')
dfPreFinalMinDatesNoUniv['organization']=dfPreFinalMinDatesNoUniv['organization'].str.replace('R C A', 'Rca')
dfPreFinalMinDatesNoUniv['organization']=dfPreFinalMinDatesNoUniv['organization'].str.replace('A M P', 'Amp')
dfPreFinalMinDatesNoUniv['organization']=dfPreFinalMinDatesNoUniv['organization'].str.replace('P P G', 'Ppg')
dfPreFinalMinDatesNoUniv['organization']=dfPreFinalMinDatesNoUniv['organization'].str.replace('G T E', 'Gte')
dfPreFinalMinDatesNoUniv['organization']=dfPreFinalMinDatesNoUniv['organization'].str.replace('G A F', 'Gaf')
dfPreFinalMinDatesNoUniv['organization']=dfPreFinalMinDatesNoUniv['organization'].str.replace('Ibm', 'Ibm Corporation')
dfPreFinalMinDatesNoUniv['organization']=dfPreFinalMinDatesNoUniv['organization'].str.replace('Sys |Syt$', 'Systems ')
dfPreFinalMinDatesNoUniv['organization']=dfPreFinalMinDatesNoUniv['organization'].str.replace('Ind ', 'Industries ')

dfPreFinalMinDatesNoUniv['organization']=dfPreFinalMinDatesNoUniv['organization'].str.replace('\s+',' ')

### apply the pattern variable to the organization field and clean the resulting whitespace to the
### left and right of the strings
dfPreFinalMinDatesNoUniv['organization']=dfPreFinalMinDatesNoUniv['organization'].str.lstrip().str.rstrip()

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")
print("The total number of unique assignee ids are:",len(dfPreFinalMinDatesNoUniv['assignee_id'].unique()))
print("The total number of unique patents are:",dfPreFinalMinDatesNoUniv['patent'].nunique(),"\n")

display(dfPreFinalMinDatesNoUniv.info(),dfPreFinalMinDatesNoUniv.head())

Total time is 0.087663 mins

The total number of unique assignee ids are: 189732
The total number of unique patents are: 189323

<class 'pandas.core.frame.DataFrame'>
Int64Index: 337718 entries, 0 to 345364
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   assignee_id     337718 non-null  object
 1   location        337718 non-null  object
 2   organization    337718 non-null  object
 3   city            336268 non-null  object
 4   state           337718 non-null  object
 5   latitude        337718 non-null  float64
 6   longitude       337718 non-null  float64
 7   patent          337718 non-null  object
 8   dateFiled       337718 non-null  object
 9   dateGranted     337718 non-null  object
 10  dateFiledMin    337718 non-null  object
 11  dateGrantedMin  337718 non-null  object
 12  patentList      337718 non-null  object
 13  assignee        309046 non-null  object
 14  assignor        309046 non-null  object
 15  record_date     309046 non-null  object
dtypes: float64(2), object(14)
memory usage: 43.8+ MB

None

,assignee_id,location,organization,city,state,latitude,longitude,patent,dateFiled,dateGranted,dateFiledMin,dateGrantedMin,patentList,assignee,assignor,record_date
0,00000ce5-b13f-4a23-a8fb-c14409ad7b68,c3f19987-16c7-11ed-9b5f-1234bde3cd05,"Audiobase, Incorporated",Sausalito,CA,37.8590,-122.4850,6327609,1999-09-22,2001-12-04,1999-09-22,2001-12-04,['6327609'],"Audiobase, Inc.","Ludewig, Carl",1999-09-22
1,00002c39-aad3-40df-ac8a-3356cd85af13,e0ed625f-16c7-11ed-9b5f-1234bde3cd05,"Nine 24, Incorporated",Louisville,KY,38.2542,-85.7594,8479461,2011-09-21,2013-07-09,2011-09-21,2013-07-09,['8479461' '8569977' '9657927'],"Nine 24, Inc.","Carver, Kenneth R",2011-09-21
2,0001365f-96ee-48f7-a26d-3206e8ecc33b,c4111b71-16c7-11ed-9b5f-1234bde3cd05,"Rogers Foods, Incorporated",Turlock,CA,37.4947,-120.8470,5746024,1996-07-03,1998-05-05,1996-07-03,1998-05-05,['5746024'],"Rogers Foods, Inc.","Rice, Robert M.",1996-07-03
3,0001365f-96ee-48f7-a26d-3206e8ecc33b,c4111b71-16c7-11ed-9b5f-1234bde3cd05,"Rogers Foods, Incorporated",Turlock,CA,37.4947,-120.8470,5746024,1996-07-03,1998-05-05,1996-07-03,1998-05-05,['5746024'],Sensient Dehydrated Flavors Company,"Rogers Foods, Inc.",2005-10-25
4,0001d1a0-7e84-47d2-a477-cfa36731d3e6,dbb582b9-16c7-11ed-9b5f-1234bde3cd05,Behr Innovations Llc,Northfield,MN,44.4582,-93.1612,7163196,2004-10-05,2007-01-16,2004-10-05,2007-01-16,['7163196'],Behr Innovations Llc,"Behr, Jerome P.",2005-10-04

In [6]:
t0=time.time()

rmPubMerge=dfPreFinalMinDatesNoUniv.merge(disNames,left_on='organization',right_on='name_std',how='outer',indicator=True)
rmPubMerge1=rmPubMerge.loc[rmPubMerge['_merge']=='left_only'].copy()

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")
print("The total number of unique assignee ids are:",len(rmPubMerge1['assignee_id'].unique()))
print("The total number of unique patents are:",rmPubMerge1['patent'].nunique(),"\n")

display(rmPubMerge1.info(null_counts=True),rmPubMerge1.head())

Total time is 0.036114 mins

The total number of unique assignee ids are: 188188
The total number of unique patents are: 187783

<class 'pandas.core.frame.DataFrame'>
Int64Index: 334310 entries, 0 to 1096176
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   assignee_id     334310 non-null  object
 1   location        334310 non-null  object
 2   organization    334310 non-null  object
 3   city            332865 non-null  object
 4   state           334310 non-null  object
 5   latitude        334310 non-null  float64
 6   longitude       334310 non-null  float64
 7   patent          334310 non-null  object
 8   dateFiled       334310 non-null  object
 9   dateGranted     334310 non-null  object
 10  dateFiledMin    334310 non-null  object
 11  dateGrantedMin  334310 non-null  object
 12  patentList      334310 non-null  object
 13  assignee        306099 non-null  object
 14  assignor        306099 non-null  object
 15  record_date     306099 non-null  object
 16  name_std        0 non-null       object
 17  _merge          334310 non-null  category
dtypes: category(1), float64(2), object(15)
memory usage: 46.2+ MB

None

,assignee_id,location,organization,city,state,latitude,longitude,patent,dateFiled,dateGranted,dateFiledMin,dateGrantedMin,patentList,assignee,assignor,record_date,name_std,_merge
0,00000ce5-b13f-4a23-a8fb-c14409ad7b68,c3f19987-16c7-11ed-9b5f-1234bde3cd05,"Audiobase, Incorporated",Sausalito,CA,37.8590,-122.4850,6327609,1999-09-22,2001-12-04,1999-09-22,2001-12-04,['6327609'],"Audiobase, Inc.","Ludewig, Carl",1999-09-22,NaN,left_only
1,00002c39-aad3-40df-ac8a-3356cd85af13,e0ed625f-16c7-11ed-9b5f-1234bde3cd05,"Nine 24, Incorporated",Louisville,KY,38.2542,-85.7594,8479461,2011-09-21,2013-07-09,2011-09-21,2013-07-09,['8479461' '8569977' '9657927'],"Nine 24, Inc.","Carver, Kenneth R",2011-09-21,NaN,left_only
2,0001365f-96ee-48f7-a26d-3206e8ecc33b,c4111b71-16c7-11ed-9b5f-1234bde3cd05,"Rogers Foods, Incorporated",Turlock,CA,37.4947,-120.8470,5746024,1996-07-03,1998-05-05,1996-07-03,1998-05-05,['5746024'],"Rogers Foods, Inc.","Rice, Robert M.",1996-07-03,NaN,left_only
3,0001365f-96ee-48f7-a26d-3206e8ecc33b,c4111b71-16c7-11ed-9b5f-1234bde3cd05,"Rogers Foods, Incorporated",Turlock,CA,37.4947,-120.8470,5746024,1996-07-03,1998-05-05,1996-07-03,1998-05-05,['5746024'],Sensient Dehydrated Flavors Company,"Rogers Foods, Inc.",2005-10-25,NaN,left_only
4,0001d1a0-7e84-47d2-a477-cfa36731d3e6,dbb582b9-16c7-11ed-9b5f-1234bde3cd05,Behr Innovations Llc,Northfield,MN,44.4582,-93.1612,7163196,2004-10-05,2007-01-16,2004-10-05,2007-01-16,['7163196'],Behr Innovations Llc,"Behr, Jerome P.",2005-10-04,NaN,left_only

In [7]:
t0=time.time()

rmPubMerge2=rmPubMerge1.iloc[:,0:16].copy()

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")
print("The total number of unique assignee ids are:",len(rmPubMerge2['assignee_id'].unique()))
print("The total number of unique patents are:",rmPubMerge2['patent'].nunique(),"\n")

display(rmPubMerge2.info(null_counts=True),rmPubMerge2.head())

Total time is 0.001513 mins

The total number of unique assignee ids are: 188188
The total number of unique patents are: 187783

<class 'pandas.core.frame.DataFrame'>
Int64Index: 334310 entries, 0 to 1096176
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   assignee_id     334310 non-null  object
 1   location        334310 non-null  object
 2   organization    334310 non-null  object
 3   city            332865 non-null  object
 4   state           334310 non-null  object
 5   latitude        334310 non-null  float64
 6   longitude       334310 non-null  float64
 7   patent          334310 non-null  object
 8   dateFiled       334310 non-null  object
 9   dateGranted     334310 non-null  object
 10  dateFiledMin    334310 non-null  object
 11  dateGrantedMin  334310 non-null  object
 12  patentList      334310 non-null  object
 13  assignee        306099 non-null  object
 14  assignor        306099 non-null  object
 15  record_date     306099 non-null  object
dtypes: float64(2), object(14)
memory usage: 43.4+ MB

None

,assignee_id,location,organization,city,state,latitude,longitude,patent,dateFiled,dateGranted,dateFiledMin,dateGrantedMin,patentList,assignee,assignor,record_date
0,00000ce5-b13f-4a23-a8fb-c14409ad7b68,c3f19987-16c7-11ed-9b5f-1234bde3cd05,"Audiobase, Incorporated",Sausalito,CA,37.8590,-122.4850,6327609,1999-09-22,2001-12-04,1999-09-22,2001-12-04,['6327609'],"Audiobase, Inc.","Ludewig, Carl",1999-09-22
1,00002c39-aad3-40df-ac8a-3356cd85af13,e0ed625f-16c7-11ed-9b5f-1234bde3cd05,"Nine 24, Incorporated",Louisville,KY,38.2542,-85.7594,8479461,2011-09-21,2013-07-09,2011-09-21,2013-07-09,['8479461' '8569977' '9657927'],"Nine 24, Inc.","Carver, Kenneth R",2011-09-21
2,0001365f-96ee-48f7-a26d-3206e8ecc33b,c4111b71-16c7-11ed-9b5f-1234bde3cd05,"Rogers Foods, Incorporated",Turlock,CA,37.4947,-120.8470,5746024,1996-07-03,1998-05-05,1996-07-03,1998-05-05,['5746024'],"Rogers Foods, Inc.","Rice, Robert M.",1996-07-03
3,0001365f-96ee-48f7-a26d-3206e8ecc33b,c4111b71-16c7-11ed-9b5f-1234bde3cd05,"Rogers Foods, Incorporated",Turlock,CA,37.4947,-120.8470,5746024,1996-07-03,1998-05-05,1996-07-03,1998-05-05,['5746024'],Sensient Dehydrated Flavors Company,"Rogers Foods, Inc.",2005-10-25
4,0001d1a0-7e84-47d2-a477-cfa36731d3e6,dbb582b9-16c7-11ed-9b5f-1234bde3cd05,Behr Innovations Llc,Northfield,MN,44.4582,-93.1612,7163196,2004-10-05,2007-01-16,2004-10-05,2007-01-16,['7163196'],Behr Innovations Llc,"Behr, Jerome P.",2005-10-04

In [8]:
### start timer
t0=time.time()

## converts the first character in each word to Uppercase and remaining characters to lowercase in 
## the string, followed by removing any whitespace that may exist to the left and right of the strings
rmPubMerge2.organization=rmPubMerge2.organization.str.lstrip().str.rstrip()
rmPubMerge2.organization=rmPubMerge2.organization.str.replace('\s+',' ')

### some strings must be replaced rather than removed because the resulting organization names would
### not make sense or match incorrectly. For example, Arjang & Co., which is the full name for the
### organization, would become Arjang and would match to multiple records via the merge instead of
### one. This was observed through multiple trials of cleaning the data
rmPubMerge2.organization=rmPubMerge2.organization.str.replace('R&D', 'Research And Design')
rmPubMerge2.organization=rmPubMerge2.organization.str.replace('Medrea.+$', 'Medrea')

rmPubMerge2.organization=rmPubMerge2.organization.str.replace('Incorporated|Corporation|L\.P\.|A Division Of.+$| Company$', '')
rmPubMerge2.organization=rmPubMerge2.organization.str.replace('Inc\.$| Company,$| Limited$| Limited,$|L\.L\.C\.| Lp$', '')
rmPubMerge2.organization=rmPubMerge2.organization.str.replace(' Co\.,$|Corp\.,| Company,$| Lcc$| A Div\. Of.+$ Lc$', '')
rmPubMerge2.organization=rmPubMerge2.organization.str.replace(' Llc$|,', '')

rmPubMerge2.organization=rmPubMerge2.organization.str.replace(' Co\.,', ' Company')
rmPubMerge2.organization=rmPubMerge2.organization.str.replace("Int'L", 'International')

rmPubMerge2.organization=rmPubMerge2.organization.str.replace('\s+',' ')

rmPubMerge2=rmPubMerge2[~rmPubMerge2['organization'].str.contains('M\.D\.|Gmbh|Bv$|D/B/A/| Pte$| Pte | Trust$| Trustee ')]
rmPubMerge2=rmPubMerge2[~rmPubMerge2['organization'].str.contains(' b\.v\. ',case=False)]

### apply the pattern variable to the organization field and clean the resulting whitespace to the
### left and right of the strings
rmPubMerge2.organization=rmPubMerge2.organization.str.lstrip().str.rstrip()

### end timer and print total time
t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")
print("The total number of unique assignee ids are:",len(rmPubMerge2['assignee_id'].unique()))
print("The total number of unique patents are:",rmPubMerge2['patent'].nunique(),"\n")

display(rmPubMerge2.info(),rmPubMerge2.head())

Total time is 0.057839 mins

The total number of unique assignee ids are: 187666
The total number of unique patents are: 187279

<class 'pandas.core.frame.DataFrame'>
Int64Index: 333384 entries, 0 to 1096176
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   assignee_id     333384 non-null  object
 1   location        333384 non-null  object
 2   organization    333384 non-null  object
 3   city            331959 non-null  object
 4   state           333384 non-null  object
 5   latitude        333384 non-null  float64
 6   longitude       333384 non-null  float64
 7   patent          333384 non-null  object
 8   dateFiled       333384 non-null  object
 9   dateGranted     333384 non-null  object
 10  dateFiledMin    333384 non-null  object
 11  dateGrantedMin  333384 non-null  object
 12  patentList      333384 non-null  object
 13  assignee        305233 non-null  object
 14  assignor        305233 non-null  object
 15  record_date     305233 non-null  object
dtypes: float64(2), object(14)
memory usage: 43.2+ MB

None

,assignee_id,location,organization,city,state,latitude,longitude,patent,dateFiled,dateGranted,dateFiledMin,dateGrantedMin,patentList,assignee,assignor,record_date
0,00000ce5-b13f-4a23-a8fb-c14409ad7b68,c3f19987-16c7-11ed-9b5f-1234bde3cd05,Audiobase,Sausalito,CA,37.8590,-122.4850,6327609,1999-09-22,2001-12-04,1999-09-22,2001-12-04,['6327609'],"Audiobase, Inc.","Ludewig, Carl",1999-09-22
1,00002c39-aad3-40df-ac8a-3356cd85af13,e0ed625f-16c7-11ed-9b5f-1234bde3cd05,Nine 24,Louisville,KY,38.2542,-85.7594,8479461,2011-09-21,2013-07-09,2011-09-21,2013-07-09,['8479461' '8569977' '9657927'],"Nine 24, Inc.","Carver, Kenneth R",2011-09-21
2,0001365f-96ee-48f7-a26d-3206e8ecc33b,c4111b71-16c7-11ed-9b5f-1234bde3cd05,Rogers Foods,Turlock,CA,37.4947,-120.8470,5746024,1996-07-03,1998-05-05,1996-07-03,1998-05-05,['5746024'],"Rogers Foods, Inc.","Rice, Robert M.",1996-07-03
3,0001365f-96ee-48f7-a26d-3206e8ecc33b,c4111b71-16c7-11ed-9b5f-1234bde3cd05,Rogers Foods,Turlock,CA,37.4947,-120.8470,5746024,1996-07-03,1998-05-05,1996-07-03,1998-05-05,['5746024'],Sensient Dehydrated Flavors Company,"Rogers Foods, Inc.",2005-10-25
4,0001d1a0-7e84-47d2-a477-cfa36731d3e6,dbb582b9-16c7-11ed-9b5f-1234bde3cd05,Behr Innovations,Northfield,MN,44.4582,-93.1612,7163196,2004-10-05,2007-01-16,2004-10-05,2007-01-16,['7163196'],Behr Innovations Llc,"Behr, Jerome P.",2005-10-04

In [9]:
t0=time.time()

rmPubMerge2.organization=rmPubMerge2.organization.astype('str')
rmPubMerge2['rmPunc'] = rmPubMerge2.organization.str.replace('[^\w\s]','')
rmPubMerge2.rmPunc=rmPubMerge2.rmPunc.astype('str')

mask=rmPubMerge2.rmPunc.str.len() < 5
lessThan5=rmPubMerge2.loc[mask]

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")
print("The total number of unique assignee ids are:",len(lessThan5['assignee_id'].unique()))
print("The total number of unique patents are:",lessThan5['patent'].nunique(),"\n")

display(lessThan5.info(null_counts=True),lessThan5.head())

Total time is 0.007533 mins

The total number of unique assignee ids are: 4108
The total number of unique patents are: 4107

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7394 entries, 48 to 1096155
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   assignee_id     7394 non-null   object
 1   location        7394 non-null   object
 2   organization    7394 non-null   object
 3   city            7378 non-null   object
 4   state           7394 non-null   object
 5   latitude        7394 non-null   float64
 6   longitude       7394 non-null   float64
 7   patent          7394 non-null   object
 8   dateFiled       7394 non-null   object
 9   dateGranted     7394 non-null   object
 10  dateFiledMin    7394 non-null   object
 11  dateGrantedMin  7394 non-null   object
 12  patentList      7394 non-null   object
 13  assignee        6807 non-null   object
 14  assignor        6807 non-null   object
 15  record_date     6807 non-null   object
 16  rmPunc          7394 non-null   object
dtypes: float64(2), object(15)
memory usage: 1.0+ MB

None

,assignee_id,location,organization,city,state,latitude,longitude,patent,dateFiled,dateGranted,dateFiledMin,dateGrantedMin,patentList,assignee,assignor,record_date,rmPunc
48,0009f939-5a47-476c-b062-07cbbf75e293,09e25130-16c8-11ed-9b5f-1234bde3cd05,X-Rx,Waltham,MA,42.3756,-71.2358,10011601,2015-04-03,2018-07-03,2015-04-03,2018-07-03,['10011601' '10233182'],"X-Rx, Inc.","Mulvihill, Mark J.",2018-02-27,XRx
49,0009f939-5a47-476c-b062-07cbbf75e293,09e25130-16c8-11ed-9b5f-1234bde3cd05,X-Rx,Waltham,MA,42.3756,-71.2358,10011601,2015-04-03,2018-07-03,2015-04-03,2018-07-03,['10011601' '10233182'],"Pharmaceutical Product Development, Llc (Succe...","Renzetti, Louis",2018-02-27,XRx
50,0009f939-5a47-476c-b062-07cbbf75e293,09e25130-16c8-11ed-9b5f-1234bde3cd05,X-Rx,Waltham,MA,42.3756,-71.2358,10011601,2015-04-03,2018-07-03,2015-04-03,2018-07-03,['10011601' '10233182'],"Ppd Development, Lp","Babiss, Lee",2018-02-27,XRx
51,0009f939-5a47-476c-b062-07cbbf75e293,09e25130-16c8-11ed-9b5f-1234bde3cd05,X-Rx,Waltham,MA,42.3756,-71.2358,10011601,2015-04-03,2018-07-03,2015-04-03,2018-07-03,['10011601' '10233182'],"X-Chem, Inc.","Clark, Matthew A.",2018-02-27,XRx
52,0009f939-5a47-476c-b062-07cbbf75e293,09e25130-16c8-11ed-9b5f-1234bde3cd05,X-Rx,Waltham,MA,42.3756,-71.2358,10011601,2015-04-03,2018-07-03,2015-04-03,2018-07-03,['10011601' '10233182'],"Bioduro, Llc","Ni, Haihong",2018-02-27,XRx

In [10]:
# lessThan5.to_csv("../csvResults/lessThan5charactersAssignee.csv")

In [11]:
t0=time.time()

rmPubMerge2.rmPunc=rmPubMerge2.rmPunc.astype('str')

mask1=rmPubMerge2.rmPunc.str.len() > 4
moreThan4=rmPubMerge2.loc[mask1]

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")
print("The total number of unique assignee ids are:",len(moreThan4['assignee_id'].unique()))
print("The total number of unique patents are:",moreThan4['patent'].nunique(),"\n")

display(moreThan4.info(null_counts=True),moreThan4.head())

Total time is 0.003097 mins

The total number of unique assignee ids are: 183558
The total number of unique patents are: 183185

<class 'pandas.core.frame.DataFrame'>
Int64Index: 325990 entries, 0 to 1096176
Data columns (total 17 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   assignee_id     325990 non-null  object
 1   location        325990 non-null  object
 2   organization    325990 non-null  object
 3   city            324581 non-null  object
 4   state           325990 non-null  object
 5   latitude        325990 non-null  float64
 6   longitude       325990 non-null  float64
 7   patent          325990 non-null  object
 8   dateFiled       325990 non-null  object
 9   dateGranted     325990 non-null  object
 10  dateFiledMin    325990 non-null  object
 11  dateGrantedMin  325990 non-null  object
 12  patentList      325990 non-null  object
 13  assignee        298426 non-null  object
 14  assignor        298426 non-null  object
 15  record_date     298426 non-null  object
 16  rmPunc          325990 non-null  object
dtypes: float64(2), object(15)
memory usage: 44.8+ MB

None

,assignee_id,location,organization,city,state,latitude,longitude,patent,dateFiled,dateGranted,dateFiledMin,dateGrantedMin,patentList,assignee,assignor,record_date,rmPunc
0,00000ce5-b13f-4a23-a8fb-c14409ad7b68,c3f19987-16c7-11ed-9b5f-1234bde3cd05,Audiobase,Sausalito,CA,37.8590,-122.4850,6327609,1999-09-22,2001-12-04,1999-09-22,2001-12-04,['6327609'],"Audiobase, Inc.","Ludewig, Carl",1999-09-22,Audiobase
1,00002c39-aad3-40df-ac8a-3356cd85af13,e0ed625f-16c7-11ed-9b5f-1234bde3cd05,Nine 24,Louisville,KY,38.2542,-85.7594,8479461,2011-09-21,2013-07-09,2011-09-21,2013-07-09,['8479461' '8569977' '9657927'],"Nine 24, Inc.","Carver, Kenneth R",2011-09-21,Nine 24
2,0001365f-96ee-48f7-a26d-3206e8ecc33b,c4111b71-16c7-11ed-9b5f-1234bde3cd05,Rogers Foods,Turlock,CA,37.4947,-120.8470,5746024,1996-07-03,1998-05-05,1996-07-03,1998-05-05,['5746024'],"Rogers Foods, Inc.","Rice, Robert M.",1996-07-03,Rogers Foods
3,0001365f-96ee-48f7-a26d-3206e8ecc33b,c4111b71-16c7-11ed-9b5f-1234bde3cd05,Rogers Foods,Turlock,CA,37.4947,-120.8470,5746024,1996-07-03,1998-05-05,1996-07-03,1998-05-05,['5746024'],Sensient Dehydrated Flavors Company,"Rogers Foods, Inc.",2005-10-25,Rogers Foods
4,0001d1a0-7e84-47d2-a477-cfa36731d3e6,dbb582b9-16c7-11ed-9b5f-1234bde3cd05,Behr Innovations,Northfield,MN,44.4582,-93.1612,7163196,2004-10-05,2007-01-16,2004-10-05,2007-01-16,['7163196'],Behr Innovations Llc,"Behr, Jerome P.",2005-10-04,Behr Innovations

In [12]:
import datetime

t0=time.time()

dfFinal=moreThan4.iloc[:,0:16].copy()
dfFinal.rename(columns={'rmPunc':'organization'},inplace=True)

dfFinal.dateFiled=pd.to_datetime(dfFinal.dateFiled,errors='coerce')
dfFinal.dateFiled=dfFinal.dateFiled.dt.strftime('%m/%d/%Y')

dfFinal.dateGranted=pd.to_datetime(dfFinal.dateGranted,errors='coerce')
dfFinal.dateGranted=dfFinal.dateGranted.dt.strftime('%m/%d/%Y')

dfFinal.dateFiledMin=pd.to_datetime(dfFinal.dateFiledMin,errors='coerce')
dfFinal.dateFiledMin=dfFinal.dateFiledMin.dt.strftime('%m/%d/%Y')

dfFinal.dateGrantedMin=pd.to_datetime(dfFinal.dateGrantedMin,errors='coerce')
dfFinal.dateGrantedMin=dfFinal.dateGrantedMin.dt.strftime('%m/%d/%Y')

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins\n")
print("The total number of unique assignee ids are:",len(dfFinal['assignee_id'].unique()))
print("The total number of unique patents are:",dfFinal['patent'].nunique(),"\n")

display(dfFinal.info(null_counts=True),dfFinal.head())

Total time is 0.125435 mins

The total number of unique assignee ids are: 183558
The total number of unique patents are: 183185

<class 'pandas.core.frame.DataFrame'>
Int64Index: 325990 entries, 0 to 1096176
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   assignee_id     325990 non-null  object
 1   location        325990 non-null  object
 2   organization    325990 non-null  object
 3   city            324581 non-null  object
 4   state           325990 non-null  object
 5   latitude        325990 non-null  float64
 6   longitude       325990 non-null  float64
 7   patent          325990 non-null  object
 8   dateFiled       325990 non-null  object
 9   dateGranted     325990 non-null  object
 10  dateFiledMin    325990 non-null  object
 11  dateGrantedMin  325990 non-null  object
 12  patentList      325990 non-null  object
 13  assignee        298426 non-null  object
 14  assignor        298426 non-null  object
 15  record_date     298426 non-null  object
dtypes: float64(2), object(14)
memory usage: 42.3+ MB

None

,assignee_id,location,organization,city,state,latitude,longitude,patent,dateFiled,dateGranted,dateFiledMin,dateGrantedMin,patentList,assignee,assignor,record_date
0,00000ce5-b13f-4a23-a8fb-c14409ad7b68,c3f19987-16c7-11ed-9b5f-1234bde3cd05,Audiobase,Sausalito,CA,37.8590,-122.4850,6327609,09/22/1999,12/04/2001,09/22/1999,12/04/2001,['6327609'],"Audiobase, Inc.","Ludewig, Carl",1999-09-22
1,00002c39-aad3-40df-ac8a-3356cd85af13,e0ed625f-16c7-11ed-9b5f-1234bde3cd05,Nine 24,Louisville,KY,38.2542,-85.7594,8479461,09/21/2011,07/09/2013,09/21/2011,07/09/2013,['8479461' '8569977' '9657927'],"Nine 24, Inc.","Carver, Kenneth R",2011-09-21
2,0001365f-96ee-48f7-a26d-3206e8ecc33b,c4111b71-16c7-11ed-9b5f-1234bde3cd05,Rogers Foods,Turlock,CA,37.4947,-120.8470,5746024,07/03/1996,05/05/1998,07/03/1996,05/05/1998,['5746024'],"Rogers Foods, Inc.","Rice, Robert M.",1996-07-03
3,0001365f-96ee-48f7-a26d-3206e8ecc33b,c4111b71-16c7-11ed-9b5f-1234bde3cd05,Rogers Foods,Turlock,CA,37.4947,-120.8470,5746024,07/03/1996,05/05/1998,07/03/1996,05/05/1998,['5746024'],Sensient Dehydrated Flavors Company,"Rogers Foods, Inc.",2005-10-25
4,0001d1a0-7e84-47d2-a477-cfa36731d3e6,dbb582b9-16c7-11ed-9b5f-1234bde3cd05,Behr Innovations,Northfield,MN,44.4582,-93.1612,7163196,10/05/2004,01/16/2007,10/05/2004,01/16/2007,['7163196'],Behr Innovations Llc,"Behr, Jerome P.",2005-10-04

In [14]:
# dfFinal.to_csv("../csvResults/dfFinalDatasetAssignee.csv")
# dfFinal.to_csv("../csvResults/dfFinalDatasetAssigneeAddedAssignee.csv",index=False)