## Merge Location IDs to OC Results

In [15]:
### the location ids were included in the input file but were excluded in the output, so they needed
### to be merged back into the dataset.

import pandas as pd
import numpy as np
import time
import warnings
warnings.filterwarnings('ignore')

t0=time.time()

df=pd.read_csv("../csvResults/finalTestDataset.csv").iloc[:,[0,1,2,5,6,8]]

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins")

display(df.info(null_counts=True),df.head())

Total time is 0.002311 mins
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              50000 non-null  int64
 1   assignee_id     50000 non-null  object
 2   location_id     50000 non-null  object
 3   organization    50000 non-null  object
 4   state           49316 non-null  object
 5   dateOfFirstPat  50000 non-null  object
dtypes: int64(1), object(5)
memory usage: 2.3+ MB

None

,ID,assignee_id,location_id,organization,state,dateOfFirstPat
0,0,fffe9f1f-cb1c-49ab-b00f-6416e3e3a909,fd8b2b76-cb90-11eb-9615-121df0c29c1e,"Close-In Solutions, LLC",TX,10/18/2011
1,1,fffe8fea-3d13-4016-9429-93653527efa1,fe449928-09bd-11ec-893a-12de62d610b1,"Vita-Stat Neducak Services, Inc.",FL,6/10/1980
2,2,fffe4688-bc00-4626-bd89-28921a62f07f,f76d85c4-09bd-11ec-893a-12de62d610b1,"Emerging Technology Systems, L.L.C.",OH,1/6/1998
3,3,fffe36bb-6dea-4a8b-8bf5-071cf893ceba,fe1cb1c3-cb8f-11eb-9615-121df0c29c1e,"Valley Business Solutions, LLC",AL,6/30/2020
4,4,fffd9c21-3bb1-4471-b316-d172921e3f83,ec16f9be-cb90-11eb-9615-121df0c29c1e,"RAILIAS HOLDINGS, LLC",CA,12/15/2020

In [16]:
t0=time.time()

df2=pd.read_csv("../csvResults/finalTestDataset_output_2nd_cleaned.csv")#.iloc[:,[0,1,2,3,5,6,21,22,43,44,47,48]]

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins")

display(df2.info(null_counts=True),df2.head())

Total time is 0.006700 mins
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14743 entries, 0 to 14742
Data columns (total 56 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    14743 non-null  int64
 1   assignee_id                           14743 non-null  object
 2   state                                 14512 non-null  object
 3   name                                  8838 non-null   object
 4   company_number                        8838 non-null   object
 5   jurisdiction_code                     8838 non-null   object
 6   incorporation_date                    8838 non-null   object
 7   dissolution_date                      2117 non-null   object
 8   company_type                          8822 non-null   object
 9   registry_url                          6887 non-null   object
 10  branch                                2411 non-null   object
 11  branch_status                         2411 non-null   object
 12  inactive                              5224 non-null   object
 13  current_status                        8183 non-null   object
 14  created_at                            8838 non-null   object
 15  updated_at                            8838 non-null   object
 16  retrieved_at                          8838 non-null   object
 17  opencorporates_url                    8838 non-null   object
 18  source                                8838 non-null   object
 19  agent_name                            2912 non-null   object
 20  agent_address                         2545 non-null   object
 21  alternative_names                     1185 non-null   object
 22  previous_names                        1262 non-null   object
 23  number_of_employees                   0 non-null      float64
 24  native_company_number                 422 non-null    object
 25  alternate_registration_entities       0 non-null      float64
 26  previous_registration_entities        0 non-null      float64
 27  subsequent_registration_entities      0 non-null      float64
 28  registered_address_in_full            6565 non-null   object
 29  industry_codes                        89 non-null     object
 30  identifiers                           1256 non-null   object
 31  trademark_registrations               1859 non-null   object
 32  registered_address                    6633 non-null   object
 33  corporate_groupings                   9 non-null      object
 34  data                                  5821 non-null   object
 35  financial_summary                     0 non-null      float64
 36  home_company                          1995 non-null   object
 37  controlling_entity                    2313 non-null   object
 38  ultimate_beneficial_owners            0 non-null      float64
 39  ultimate_controlling_company          178 non-null    object
 40  filings                               6536 non-null   object
 41  officers                              7620 non-null   object
 42  street_address                        6003 non-null   object
 43  address_city                          5978 non-null   object
 44  address_state                         5837 non-null   object
 45  address_zipcode                       5859 non-null   object
 46  agent_street_address                  1768 non-null   object
 47  agent_city                            1878 non-null   object
 48  agent_state                           1863 non-null   object
 49  agent_zipcode                         1843 non-null   object
 50  home_company_name                     1995 non-null   object
 51  home_company_jurisdiction_code        1995 non-null   object
 52  controlling_entity_name               2313 non-null   object
 53  controlling_entity_jurisdiction_code  2313 non-null   object
 54  list_of_officers                      14743 non-null  object
 55  list_of_filing_dates                  14743 non-null  object
dtypes: float64(6), int64(1), object(49)
memory usage: 6.3+ MB

None

,ID,assignee_id,state,name,company_number,jurisdiction_code,incorporation_date,dissolution_date,company_type,registry_url,...,agent_street_address,agent_city,agent_state,agent_zipcode,home_company_name,home_company_jurisdiction_code,controlling_entity_name,controlling_entity_jurisdiction_code,list_of_officers,list_of_filing_dates
0,27405,2b398b82-75c5-4b10-b434-d51a844cd9a3,OR,"MICRO POWER ELECTRONICS, INC.",66731283,us_or,1998-12-29,NaN,FOREIGN BUSINESS CORPORATION,http://egov.sos.state.or.us/br/pkg_web_name_sr...,...,NaN,NaN,NaN,NaN,"MICRO POWER ELECTRONICS, INC.",us_de,"MICRO POWER ELECTRONICS, INC.",us_de,"['C T CORPORATION SYSTEM', 'THOMAS J HOOK', 'T...","['2017-12-01', '2017-06-12', '2017-01-13', '20..."
1,27406,2b398b82-75c5-4b10-b434-d51a844cd9a3,OR,"MICRO POWER ELECTRONICS, INC.",66731283,us_or,1998-12-29,NaN,FOREIGN BUSINESS CORPORATION,http://egov.sos.state.or.us/br/pkg_web_name_sr...,...,NaN,NaN,NaN,NaN,"MICRO POWER ELECTRONICS, INC.",us_de,"MICRO POWER ELECTRONICS, INC.",us_de,"['C T CORPORATION SYSTEM', 'THOMAS J HOOK', 'T...","['2017-12-01', '2017-06-12', '2017-01-13', '20..."
2,27407,2b3832ee-300f-4b31-8fb1-7c08d740668e,WY,"TravelStorysGPS, LLC",2012-000626076,us_wy,2012-07-19,NaN,Limited Liability Company,https://wyobiz.wyo.gov/Business/FilingDetails....,...,4445 Moose Wilson Rd,Wilson,WY,83014,NaN,NaN,NaN,NaN,"['Story Clark', 'Tom L. Ward', 'Marcus C. Rowl...","['2021-05-04', '2020-06-04', '2019-06-19', '20..."
3,27408,2b37dc91-b2c3-4982-9e91-6f685776a7c1,CA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],[]
4,27409,2b37dc91-b2c3-4982-9e91-6f685776a7c1,TN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],[]

In [17]:
dfDf2All=df.merge(df2,on=['ID','assignee_id','state'],how='outer',indicator=True)

display(dfDf2All.info(),dfDf2All.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53798 entries, 0 to 53797
Data columns (total 60 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    53798 non-null  int64
 1   assignee_id                           53798 non-null  object
 2   location_id                           53798 non-null  object
 3   organization                          53798 non-null  object
 4   state                                 53114 non-null  object
 5   dateOfFirstPat                        53798 non-null  object
 6   name                                  8838 non-null   object
 7   company_number                        8838 non-null   object
 8   jurisdiction_code                     8838 non-null   object
 9   incorporation_date                    8838 non-null   object
 10  dissolution_date                      2117 non-null   object
 11  company_type                          8822 non-null   object
 12  registry_url                          6887 non-null   object
 13  branch                                2411 non-null   object
 14  branch_status                         2411 non-null   object
 15  inactive                              5224 non-null   object
 16  current_status                        8183 non-null   object
 17  created_at                            8838 non-null   object
 18  updated_at                            8838 non-null   object
 19  retrieved_at                          8838 non-null   object
 20  opencorporates_url                    8838 non-null   object
 21  source                                8838 non-null   object
 22  agent_name                            2912 non-null   object
 23  agent_address                         2545 non-null   object
 24  alternative_names                     1185 non-null   object
 25  previous_names                        1262 non-null   object
 26  number_of_employees                   0 non-null      float64
 27  native_company_number                 422 non-null    object
 28  alternate_registration_entities       0 non-null      float64
 29  previous_registration_entities        0 non-null      float64
 30  subsequent_registration_entities      0 non-null      float64
 31  registered_address_in_full            6565 non-null   object
 32  industry_codes                        89 non-null     object
 33  identifiers                           1256 non-null   object
 34  trademark_registrations               1859 non-null   object
 35  registered_address                    6633 non-null   object
 36  corporate_groupings                   9 non-null      object
 37  data                                  5821 non-null   object
 38  financial_summary                     0 non-null      float64
 39  home_company                          1995 non-null   object
 40  controlling_entity                    2313 non-null   object
 41  ultimate_beneficial_owners            0 non-null      float64
 42  ultimate_controlling_company          178 non-null    object
 43  filings                               6536 non-null   object
 44  officers                              7620 non-null   object
 45  street_address                        6003 non-null   object
 46  address_city                          5978 non-null   object
 47  address_state                         5837 non-null   object
 48  address_zipcode                       5859 non-null   object
 49  agent_street_address                  1768 non-null   object
 50  agent_city                            1878 non-null   object
 51  agent_state                           1863 non-null   object
 52  agent_zipcode                         1843 non-null   object
 53  home_company_name                     1995 non-null   object
 54  home_company_jurisdiction_code        1995 non-null   object
 55  controlling_entity_name               2313 non-null   object
 56  controlling_entity_jurisdiction_code  2313 non-null   object
 57  list_of_officers                      14743 non-null  object
 58  list_of_filing_dates                  14743 non-null  object
 59  _merge                                53798 non-null  category
dtypes: category(1), float64(6), int64(1), object(52)
memory usage: 24.7+ MB

None

,ID,assignee_id,location_id,organization,state,dateOfFirstPat,name,company_number,jurisdiction_code,incorporation_date,...,agent_city,agent_state,agent_zipcode,home_company_name,home_company_jurisdiction_code,controlling_entity_name,controlling_entity_jurisdiction_code,list_of_officers,list_of_filing_dates,_merge
0,0,fffe9f1f-cb1c-49ab-b00f-6416e3e3a909,fd8b2b76-cb90-11eb-9615-121df0c29c1e,"Close-In Solutions, LLC",TX,10/18/2011,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,1,fffe8fea-3d13-4016-9429-93653527efa1,fe449928-09bd-11ec-893a-12de62d610b1,"Vita-Stat Neducak Services, Inc.",FL,6/10/1980,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,2,fffe4688-bc00-4626-bd89-28921a62f07f,f76d85c4-09bd-11ec-893a-12de62d610b1,"Emerging Technology Systems, L.L.C.",OH,1/6/1998,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,3,fffe36bb-6dea-4a8b-8bf5-071cf893ceba,fe1cb1c3-cb8f-11eb-9615-121df0c29c1e,"Valley Business Solutions, LLC",AL,6/30/2020,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,4,fffd9c21-3bb1-4471-b316-d172921e3f83,ec16f9be-cb90-11eb-9615-121df0c29c1e,"RAILIAS HOLDINGS, LLC",CA,12/15/2020,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [18]:
df2Merge=dfDf2All.loc[dfDf2All['_merge']=='both'].reset_index(drop=True)
df2Merge=df2Merge.iloc[:,0:59]

display(df2Merge.info(),df2Merge.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14743 entries, 0 to 14742
Data columns (total 59 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    14743 non-null  int64
 1   assignee_id                           14743 non-null  object
 2   location_id                           14743 non-null  object
 3   organization                          14743 non-null  object
 4   state                                 14512 non-null  object
 5   dateOfFirstPat                        14743 non-null  object
 6   name                                  8838 non-null   object
 7   company_number                        8838 non-null   object
 8   jurisdiction_code                     8838 non-null   object
 9   incorporation_date                    8838 non-null   object
 10  dissolution_date                      2117 non-null   object
 11  company_type                          8822 non-null   object
 12  registry_url                          6887 non-null   object
 13  branch                                2411 non-null   object
 14  branch_status                         2411 non-null   object
 15  inactive                              5224 non-null   object
 16  current_status                        8183 non-null   object
 17  created_at                            8838 non-null   object
 18  updated_at                            8838 non-null   object
 19  retrieved_at                          8838 non-null   object
 20  opencorporates_url                    8838 non-null   object
 21  source                                8838 non-null   object
 22  agent_name                            2912 non-null   object
 23  agent_address                         2545 non-null   object
 24  alternative_names                     1185 non-null   object
 25  previous_names                        1262 non-null   object
 26  number_of_employees                   0 non-null      float64
 27  native_company_number                 422 non-null    object
 28  alternate_registration_entities       0 non-null      float64
 29  previous_registration_entities        0 non-null      float64
 30  subsequent_registration_entities      0 non-null      float64
 31  registered_address_in_full            6565 non-null   object
 32  industry_codes                        89 non-null     object
 33  identifiers                           1256 non-null   object
 34  trademark_registrations               1859 non-null   object
 35  registered_address                    6633 non-null   object
 36  corporate_groupings                   9 non-null      object
 37  data                                  5821 non-null   object
 38  financial_summary                     0 non-null      float64
 39  home_company                          1995 non-null   object
 40  controlling_entity                    2313 non-null   object
 41  ultimate_beneficial_owners            0 non-null      float64
 42  ultimate_controlling_company          178 non-null    object
 43  filings                               6536 non-null   object
 44  officers                              7620 non-null   object
 45  street_address                        6003 non-null   object
 46  address_city                          5978 non-null   object
 47  address_state                         5837 non-null   object
 48  address_zipcode                       5859 non-null   object
 49  agent_street_address                  1768 non-null   object
 50  agent_city                            1878 non-null   object
 51  agent_state                           1863 non-null   object
 52  agent_zipcode                         1843 non-null   object
 53  home_company_name                     1995 non-null   object
 54  home_company_jurisdiction_code        1995 non-null   object
 55  controlling_entity_name               2313 non-null   object
 56  controlling_entity_jurisdiction_code  2313 non-null   object
 57  list_of_officers                      14743 non-null  object
 58  list_of_filing_dates                  14743 non-null  object
dtypes: float64(6), int64(1), object(52)
memory usage: 6.6+ MB

None

,ID,assignee_id,location_id,organization,state,dateOfFirstPat,name,company_number,jurisdiction_code,incorporation_date,...,agent_street_address,agent_city,agent_state,agent_zipcode,home_company_name,home_company_jurisdiction_code,controlling_entity_name,controlling_entity_jurisdiction_code,list_of_officers,list_of_filing_dates
0,27405,2b398b82-75c5-4b10-b434-d51a844cd9a3,f79f2db3-cb8e-11eb-9615-121df0c29c1e,"Micro Power Electronics, Inc.",OR,9/8/2009,"MICRO POWER ELECTRONICS, INC.",66731283,us_or,1998-12-29,...,NaN,NaN,NaN,NaN,"MICRO POWER ELECTRONICS, INC.",us_de,"MICRO POWER ELECTRONICS, INC.",us_de,"['C T CORPORATION SYSTEM', 'THOMAS J HOOK', 'T...","['2017-12-01', '2017-06-12', '2017-01-13', '20..."
1,27406,2b398b82-75c5-4b10-b434-d51a844cd9a3,68e85455-cb8f-11eb-9615-121df0c29c1e,"Micro Power Electronics, Inc.",OR,9/8/2009,"MICRO POWER ELECTRONICS, INC.",66731283,us_or,1998-12-29,...,NaN,NaN,NaN,NaN,"MICRO POWER ELECTRONICS, INC.",us_de,"MICRO POWER ELECTRONICS, INC.",us_de,"['C T CORPORATION SYSTEM', 'THOMAS J HOOK', 'T...","['2017-12-01', '2017-06-12', '2017-01-13', '20..."
2,27407,2b3832ee-300f-4b31-8fb1-7c08d740668e,3f87a5d2-cb8e-11eb-9615-121df0c29c1e,"TravelStorysGPS, LLC",WY,2/24/2015,"TravelStorysGPS, LLC",2012-000626076,us_wy,2012-07-19,...,4445 Moose Wilson Rd,Wilson,WY,83014,NaN,NaN,NaN,NaN,"['Story Clark', 'Tom L. Ward', 'Marcus C. Rowl...","['2021-05-04', '2020-06-04', '2019-06-19', '20..."
3,27408,2b37dc91-b2c3-4982-9e91-6f685776a7c1,de8e30d6-cb8e-11eb-9615-121df0c29c1e,"DT MEDTECH, LLC",CA,4/24/2001,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],[]
4,27409,2b37dc91-b2c3-4982-9e91-6f685776a7c1,3cbe9723-cb8e-11eb-9615-121df0c29c1e,"DT MEDTECH, LLC",TN,4/24/2001,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],[]

In [19]:
lftOver=dfDf2All.loc[dfDf2All['_merge']=='left_only'].iloc[:,0:6]

display(lftOver.info(),lftOver.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39055 entries, 0 to 53797
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              39055 non-null  int64
 1   assignee_id     39055 non-null  object
 2   location_id     39055 non-null  object
 3   organization    39055 non-null  object
 4   state           38602 non-null  object
 5   dateOfFirstPat  39055 non-null  object
dtypes: int64(1), object(5)
memory usage: 2.1+ MB

None

,ID,assignee_id,location_id,organization,state,dateOfFirstPat
0,0,fffe9f1f-cb1c-49ab-b00f-6416e3e3a909,fd8b2b76-cb90-11eb-9615-121df0c29c1e,"Close-In Solutions, LLC",TX,10/18/2011
1,1,fffe8fea-3d13-4016-9429-93653527efa1,fe449928-09bd-11ec-893a-12de62d610b1,"Vita-Stat Neducak Services, Inc.",FL,6/10/1980
2,2,fffe4688-bc00-4626-bd89-28921a62f07f,f76d85c4-09bd-11ec-893a-12de62d610b1,"Emerging Technology Systems, L.L.C.",OH,1/6/1998
3,3,fffe36bb-6dea-4a8b-8bf5-071cf893ceba,fe1cb1c3-cb8f-11eb-9615-121df0c29c1e,"Valley Business Solutions, LLC",AL,6/30/2020
4,4,fffd9c21-3bb1-4471-b316-d172921e3f83,ec16f9be-cb90-11eb-9615-121df0c29c1e,"RAILIAS HOLDINGS, LLC",CA,12/15/2020

## Merge Location IDs and Our IDs to First Set of OC Results - not present in the output

In [20]:
### the location IDs and our IDs were excluded from the v1 output file and needed to be merged
### back into the dataset.

t0=time.time()

df1=pd.read_csv("../csvResults/finalTestDataset_output_v1_cleaned.csv")#.iloc[:,[0,1,3,4,19,20,41,42,45,46]]
df1.rename(columns={'ID_from_input_file':'assignee_id'},inplace=True)

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins")

display(df1.info(null_counts=True),df1.head())

Total time is 0.017758 mins
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28044 entries, 0 to 28043
Data columns (total 54 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   assignee_id                           28044 non-null  object
 1   name                                  23456 non-null  object
 2   company_number                        23456 non-null  object
 3   jurisdiction_code                     23456 non-null  object
 4   incorporation_date                    23456 non-null  object
 5   dissolution_date                      5202 non-null   object
 6   company_type                          23394 non-null  object
 7   registry_url                          18153 non-null  object
 8   branch                                5772 non-null   object
 9   branch_status                         5772 non-null   object
 10  inactive                              12571 non-null  object
 11  current_status                        22024 non-null  object
 12  created_at                            23456 non-null  object
 13  updated_at                            23456 non-null  object
 14  retrieved_at                          23456 non-null  object
 15  opencorporates_url                    23456 non-null  object
 16  source                                23456 non-null  object
 17  agent_name                            8848 non-null   object
 18  agent_address                         7777 non-null   object
 19  alternative_names                     2676 non-null   object
 20  previous_names                        3825 non-null   object
 21  number_of_employees                   0 non-null      float64
 22  native_company_number                 882 non-null    object
 23  alternate_registration_entities       0 non-null      float64
 24  previous_registration_entities        0 non-null      float64
 25  subsequent_registration_entities      0 non-null      float64
 26  registered_address_in_full            17296 non-null  object
 27  industry_codes                        327 non-null    object
 28  identifiers                           2993 non-null   object
 29  trademark_registrations               5323 non-null   object
 30  registered_address                    17452 non-null  object
 31  corporate_groupings                   40 non-null     object
 32  data                                  14925 non-null  object
 33  financial_summary                     0 non-null      float64
 34  home_company                          4729 non-null   object
 35  controlling_entity                    5591 non-null   object
 36  ultimate_beneficial_owners            0 non-null      float64
 37  ultimate_controlling_company          403 non-null    object
 38  filings                               16857 non-null  object
 39  officers                              20884 non-null  object
 40  street_address                        15653 non-null  object
 41  address_city                          15594 non-null  object
 42  address_state                         15132 non-null  object
 43  address_zipcode                       15463 non-null  object
 44  agent_street_address                  5368 non-null   object
 45  agent_city                            5589 non-null   object
 46  agent_state                           5528 non-null   object
 47  agent_zipcode                         5510 non-null   object
 48  home_company_name                     4729 non-null   object
 49  home_company_jurisdiction_code        4729 non-null   object
 50  controlling_entity_name               5591 non-null   object
 51  controlling_entity_jurisdiction_code  5591 non-null   object
 52  list_of_officers                      28044 non-null  object
 53  list_of_filing_dates                  28044 non-null  object
dtypes: float64(6), object(48)
memory usage: 11.6+ MB

None

,assignee_id,name,company_number,jurisdiction_code,incorporation_date,dissolution_date,company_type,registry_url,branch,branch_status,...,agent_street_address,agent_city,agent_state,agent_zipcode,home_company_name,home_company_jurisdiction_code,controlling_entity_name,controlling_entity_jurisdiction_code,list_of_officers,list_of_filing_dates
0,fffe9f1f-cb1c-49ab-b00f-6416e3e3a909,"Close In Solutions, LLC",801248733,us_tx,3/28/2010,5/3/2019,Domestic Limited Liability Company (LLC),https://mycpa.cpa.state.tx.us/coa/,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['Scott Duff', 'DUFF LLC', 'CARLOS E ORTIZ']","['2019-12-31', '2019-05-03', '2018-12-31', '20..."
1,fffe36bb-6dea-4a8b-8bf5-071cf893ceba,Valley Business Solutions LLC,411-904,us_al,11/2/2007,NaN,Domestic Limited Liability Company,http://arc-sos.state.al.us/cgi/corpdetail.mbr/...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['SCARLETT, DAVID', 'DIZON, ALEXANDER', 'SCARL...","['2008-02-21', '2007-11-02', '2007-11-02']"
2,fffe36bb-6dea-4a8b-8bf5-071cf893ceba,Valley Payroll Management and Business Solutio...,421-008,us_al,6/3/2008,8/17/2010,Domestic Limited Liability Company,http://arc-sos.state.al.us/cgi/corpdetail.mbr/...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['THOMPSON, BOBBY M', 'THOMPSON, BOBBY M', 'TH...","['2010-08-17', '2008-06-03', '2008-06-03']"
3,fffd9c21-3bb1-4471-b316-d172921e3f83,"RAILIAS HOLDINGS, LLC",2.02125E+11,us_ca,9/8/2021,NaN,NaN,https://businesssearch.sos.ca.gov/CBS/SearchRe...,F,branch of an out-of-jurisdiction company,...,10251 VISTA SORRENTO PKWY,SAN DIEGO,CA,92121,NaN,NaN,"RAILIAS HOLDINGS, LLC",us_de,['ERIK NELSON'],[]
4,fffa8520-f0c2-431f-a64a-e16f3af0a896,FAIRDALE ORTHODONTIC COMPANY,365474,us_oh,10/19/1967,NaN,CORPORATION FOR PROFIT,https://businesssearch.ohiosos.gov,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['SAMUEL L CHALFIE', 'JEROME S TELLER', 'JAMES...","['2011-04-06', '1993-10-13', '1993-09-09', '19..."

In [21]:
df1['state']=df1['jurisdiction_code'].str.replace('us_','',regex=True)

display(df1.info(),df1.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28044 entries, 0 to 28043
Data columns (total 55 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   assignee_id                           28044 non-null  object
 1   name                                  23456 non-null  object
 2   company_number                        23456 non-null  object
 3   jurisdiction_code                     23456 non-null  object
 4   incorporation_date                    23456 non-null  object
 5   dissolution_date                      5202 non-null   object
 6   company_type                          23394 non-null  object
 7   registry_url                          18153 non-null  object
 8   branch                                5772 non-null   object
 9   branch_status                         5772 non-null   object
 10  inactive                              12571 non-null  object
 11  current_status                        22024 non-null  object
 12  created_at                            23456 non-null  object
 13  updated_at                            23456 non-null  object
 14  retrieved_at                          23456 non-null  object
 15  opencorporates_url                    23456 non-null  object
 16  source                                23456 non-null  object
 17  agent_name                            8848 non-null   object
 18  agent_address                         7777 non-null   object
 19  alternative_names                     2676 non-null   object
 20  previous_names                        3825 non-null   object
 21  number_of_employees                   0 non-null      float64
 22  native_company_number                 882 non-null    object
 23  alternate_registration_entities       0 non-null      float64
 24  previous_registration_entities        0 non-null      float64
 25  subsequent_registration_entities      0 non-null      float64
 26  registered_address_in_full            17296 non-null  object
 27  industry_codes                        327 non-null    object
 28  identifiers                           2993 non-null   object
 29  trademark_registrations               5323 non-null   object
 30  registered_address                    17452 non-null  object
 31  corporate_groupings                   40 non-null     object
 32  data                                  14925 non-null  object
 33  financial_summary                     0 non-null      float64
 34  home_company                          4729 non-null   object
 35  controlling_entity                    5591 non-null   object
 36  ultimate_beneficial_owners            0 non-null      float64
 37  ultimate_controlling_company          403 non-null    object
 38  filings                               16857 non-null  object
 39  officers                              20884 non-null  object
 40  street_address                        15653 non-null  object
 41  address_city                          15594 non-null  object
 42  address_state                         15132 non-null  object
 43  address_zipcode                       15463 non-null  object
 44  agent_street_address                  5368 non-null   object
 45  agent_city                            5589 non-null   object
 46  agent_state                           5528 non-null   object
 47  agent_zipcode                         5510 non-null   object
 48  home_company_name                     4729 non-null   object
 49  home_company_jurisdiction_code        4729 non-null   object
 50  controlling_entity_name               5591 non-null   object
 51  controlling_entity_jurisdiction_code  5591 non-null   object
 52  list_of_officers                      28044 non-null  object
 53  list_of_filing_dates                  28044 non-null  object
 54  state                                 23456 non-null  object
dtypes: float64(6), object(49)
memory usage: 11.8+ MB

None

,assignee_id,name,company_number,jurisdiction_code,incorporation_date,dissolution_date,company_type,registry_url,branch,branch_status,...,agent_city,agent_state,agent_zipcode,home_company_name,home_company_jurisdiction_code,controlling_entity_name,controlling_entity_jurisdiction_code,list_of_officers,list_of_filing_dates,state
0,fffe9f1f-cb1c-49ab-b00f-6416e3e3a909,"Close In Solutions, LLC",801248733,us_tx,3/28/2010,5/3/2019,Domestic Limited Liability Company (LLC),https://mycpa.cpa.state.tx.us/coa/,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['Scott Duff', 'DUFF LLC', 'CARLOS E ORTIZ']","['2019-12-31', '2019-05-03', '2018-12-31', '20...",tx
1,fffe36bb-6dea-4a8b-8bf5-071cf893ceba,Valley Business Solutions LLC,411-904,us_al,11/2/2007,NaN,Domestic Limited Liability Company,http://arc-sos.state.al.us/cgi/corpdetail.mbr/...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['SCARLETT, DAVID', 'DIZON, ALEXANDER', 'SCARL...","['2008-02-21', '2007-11-02', '2007-11-02']",al
2,fffe36bb-6dea-4a8b-8bf5-071cf893ceba,Valley Payroll Management and Business Solutio...,421-008,us_al,6/3/2008,8/17/2010,Domestic Limited Liability Company,http://arc-sos.state.al.us/cgi/corpdetail.mbr/...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['THOMPSON, BOBBY M', 'THOMPSON, BOBBY M', 'TH...","['2010-08-17', '2008-06-03', '2008-06-03']",al
3,fffd9c21-3bb1-4471-b316-d172921e3f83,"RAILIAS HOLDINGS, LLC",2.02125E+11,us_ca,9/8/2021,NaN,NaN,https://businesssearch.sos.ca.gov/CBS/SearchRe...,F,branch of an out-of-jurisdiction company,...,SAN DIEGO,CA,92121,NaN,NaN,"RAILIAS HOLDINGS, LLC",us_de,['ERIK NELSON'],[],ca
4,fffa8520-f0c2-431f-a64a-e16f3af0a896,FAIRDALE ORTHODONTIC COMPANY,365474,us_oh,10/19/1967,NaN,CORPORATION FOR PROFIT,https://businesssearch.ohiosos.gov,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['SAMUEL L CHALFIE', 'JEROME S TELLER', 'JAMES...","['2011-04-06', '1993-10-13', '1993-09-09', '19...",oh

In [22]:
lftOver['state']=lftOver['state'].str.lower()

df1Merge=lftOver.merge(df1,on=['assignee_id','state'],how='inner')

display(df1Merge.info(),df1Merge.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27237 entries, 0 to 27236
Data columns (total 59 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    27237 non-null  int64
 1   assignee_id                           27237 non-null  object
 2   location_id                           27237 non-null  object
 3   organization                          27237 non-null  object
 4   state                                 26974 non-null  object
 5   dateOfFirstPat                        27237 non-null  object
 6   name                                  26974 non-null  object
 7   company_number                        26974 non-null  object
 8   jurisdiction_code                     26974 non-null  object
 9   incorporation_date                    26974 non-null  object
 10  dissolution_date                      5918 non-null   object
 11  company_type                          26908 non-null  object
 12  registry_url                          21029 non-null  object
 13  branch                                6799 non-null   object
 14  branch_status                         6799 non-null   object
 15  inactive                              14699 non-null  object
 16  current_status                        25282 non-null  object
 17  created_at                            26974 non-null  object
 18  updated_at                            26974 non-null  object
 19  retrieved_at                          26974 non-null  object
 20  opencorporates_url                    26974 non-null  object
 21  source                                26974 non-null  object
 22  agent_name                            9966 non-null   object
 23  agent_address                         8755 non-null   object
 24  alternative_names                     3038 non-null   object
 25  previous_names                        4415 non-null   object
 26  number_of_employees                   0 non-null      float64
 27  native_company_number                 1076 non-null   object
 28  alternate_registration_entities       0 non-null      float64
 29  previous_registration_entities        0 non-null      float64
 30  subsequent_registration_entities      0 non-null      float64
 31  registered_address_in_full            20039 non-null  object
 32  industry_codes                        351 non-null    object
 33  identifiers                           3309 non-null   object
 34  trademark_registrations               6229 non-null   object
 35  registered_address                    20205 non-null  object
 36  corporate_groupings                   40 non-null     object
 37  data                                  16957 non-null  object
 38  financial_summary                     0 non-null      float64
 39  home_company                          5453 non-null   object
 40  controlling_entity                    6526 non-null   object
 41  ultimate_beneficial_owners            0 non-null      float64
 42  ultimate_controlling_company          465 non-null    object
 43  filings                               19651 non-null  object
 44  officers                              23724 non-null  object
 45  street_address                        17868 non-null  object
 46  address_city                          17803 non-null  object
 47  address_state                         17305 non-null  object
 48  address_zipcode                       17610 non-null  object
 49  agent_street_address                  6148 non-null   object
 50  agent_city                            6379 non-null   object
 51  agent_state                           6306 non-null   object
 52  agent_zipcode                         6286 non-null   object
 53  home_company_name                     5453 non-null   object
 54  home_company_jurisdiction_code        5453 non-null   object
 55  controlling_entity_name               6526 non-null   object
 56  controlling_entity_jurisdiction_code  6526 non-null   object
 57  list_of_officers                      27237 non-null  object
 58  list_of_filing_dates                  27237 non-null  object
dtypes: float64(6), int64(1), object(52)
memory usage: 12.5+ MB

None

,ID,assignee_id,location_id,organization,state,dateOfFirstPat,name,company_number,jurisdiction_code,incorporation_date,...,agent_street_address,agent_city,agent_state,agent_zipcode,home_company_name,home_company_jurisdiction_code,controlling_entity_name,controlling_entity_jurisdiction_code,list_of_officers,list_of_filing_dates
0,0,fffe9f1f-cb1c-49ab-b00f-6416e3e3a909,fd8b2b76-cb90-11eb-9615-121df0c29c1e,"Close-In Solutions, LLC",tx,10/18/2011,"Close In Solutions, LLC",801248733,us_tx,3/28/2010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['Scott Duff', 'DUFF LLC', 'CARLOS E ORTIZ']","['2019-12-31', '2019-05-03', '2018-12-31', '20..."
1,3,fffe36bb-6dea-4a8b-8bf5-071cf893ceba,fe1cb1c3-cb8f-11eb-9615-121df0c29c1e,"Valley Business Solutions, LLC",al,6/30/2020,Valley Business Solutions LLC,411-904,us_al,11/2/2007,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['SCARLETT, DAVID', 'DIZON, ALEXANDER', 'SCARL...","['2008-02-21', '2007-11-02', '2007-11-02']"
2,3,fffe36bb-6dea-4a8b-8bf5-071cf893ceba,fe1cb1c3-cb8f-11eb-9615-121df0c29c1e,"Valley Business Solutions, LLC",al,6/30/2020,Valley Payroll Management and Business Solutio...,421-008,us_al,6/3/2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['THOMPSON, BOBBY M', 'THOMPSON, BOBBY M', 'TH...","['2010-08-17', '2008-06-03', '2008-06-03']"
3,4,fffd9c21-3bb1-4471-b316-d172921e3f83,ec16f9be-cb90-11eb-9615-121df0c29c1e,"RAILIAS HOLDINGS, LLC",ca,12/15/2020,"RAILIAS HOLDINGS, LLC",2.02125E+11,us_ca,9/8/2021,...,10251 VISTA SORRENTO PKWY,SAN DIEGO,CA,92121,NaN,NaN,"RAILIAS HOLDINGS, LLC",us_de,['ERIK NELSON'],[]
4,6,fffa8520-f0c2-431f-a64a-e16f3af0a896,fc25b086-cb8f-11eb-9615-121df0c29c1e,Fairdale Orthodontic Company,oh,9/22/1987,FAIRDALE ORTHODONTIC COMPANY,365474,us_oh,10/19/1967,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['SAMUEL L CHALFIE', 'JEROME S TELLER', 'JAMES...","['2011-04-06', '1993-10-13', '1993-09-09', '19..."

In [26]:
combine=pd.concat([df1Merge,df2Merge],axis=0).sort_values(by=['ID']).reset_index(drop=True)
combine1=combine.iloc[:,[0,1,4,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,
                         23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,
                         41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58]]

display(combine1.info(),combine1.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41980 entries, 0 to 41979
Data columns (total 56 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    41980 non-null  int64
 1   assignee_id                           41980 non-null  object
 2   state                                 41486 non-null  object
 3   name                                  35812 non-null  object
 4   company_number                        35812 non-null  object
 5   jurisdiction_code                     35812 non-null  object
 6   incorporation_date                    35812 non-null  object
 7   dissolution_date                      8035 non-null   object
 8   company_type                          35730 non-null  object
 9   registry_url                          27916 non-null  object
 10  branch                                9210 non-null   object
 11  branch_status                         9210 non-null   object
 12  inactive                              19923 non-null  object
 13  current_status                        33465 non-null  object
 14  created_at                            35812 non-null  object
 15  updated_at                            35812 non-null  object
 16  retrieved_at                          35812 non-null  object
 17  opencorporates_url                    35812 non-null  object
 18  source                                35812 non-null  object
 19  agent_name                            12878 non-null  object
 20  agent_address                         11300 non-null  object
 21  alternative_names                     4223 non-null   object
 22  previous_names                        5677 non-null   object
 23  number_of_employees                   0 non-null      float64
 24  native_company_number                 1498 non-null   object
 25  alternate_registration_entities       0 non-null      float64
 26  previous_registration_entities        0 non-null      float64
 27  subsequent_registration_entities      0 non-null      float64
 28  registered_address_in_full            26604 non-null  object
 29  industry_codes                        440 non-null    object
 30  identifiers                           4565 non-null   object
 31  trademark_registrations               8088 non-null   object
 32  registered_address                    26838 non-null  object
 33  corporate_groupings                   49 non-null     object
 34  data                                  22778 non-null  object
 35  financial_summary                     0 non-null      float64
 36  home_company                          7448 non-null   object
 37  controlling_entity                    8839 non-null   object
 38  ultimate_beneficial_owners            0 non-null      float64
 39  ultimate_controlling_company          643 non-null    object
 40  filings                               26187 non-null  object
 41  officers                              31344 non-null  object
 42  street_address                        23871 non-null  object
 43  address_city                          23781 non-null  object
 44  address_state                         23142 non-null  object
 45  address_zipcode                       23469 non-null  object
 46  agent_street_address                  7916 non-null   object
 47  agent_city                            8257 non-null   object
 48  agent_state                           8169 non-null   object
 49  agent_zipcode                         8129 non-null   object
 50  home_company_name                     7448 non-null   object
 51  home_company_jurisdiction_code        7448 non-null   object
 52  controlling_entity_name               8839 non-null   object
 53  controlling_entity_jurisdiction_code  8839 non-null   object
 54  list_of_officers                      41980 non-null  object
 55  list_of_filing_dates                  41980 non-null  object
dtypes: float64(6), int64(1), object(49)
memory usage: 17.9+ MB

None

,ID,assignee_id,state,name,company_number,jurisdiction_code,incorporation_date,dissolution_date,company_type,registry_url,...,agent_street_address,agent_city,agent_state,agent_zipcode,home_company_name,home_company_jurisdiction_code,controlling_entity_name,controlling_entity_jurisdiction_code,list_of_officers,list_of_filing_dates
0,0,fffe9f1f-cb1c-49ab-b00f-6416e3e3a909,tx,"Close In Solutions, LLC",801248733,us_tx,3/28/2010,5/3/2019,Domestic Limited Liability Company (LLC),https://mycpa.cpa.state.tx.us/coa/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['Scott Duff', 'DUFF LLC', 'CARLOS E ORTIZ']","['2019-12-31', '2019-05-03', '2018-12-31', '20..."
1,3,fffe36bb-6dea-4a8b-8bf5-071cf893ceba,al,Valley Business Solutions LLC,411-904,us_al,11/2/2007,NaN,Domestic Limited Liability Company,http://arc-sos.state.al.us/cgi/corpdetail.mbr/...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['SCARLETT, DAVID', 'DIZON, ALEXANDER', 'SCARL...","['2008-02-21', '2007-11-02', '2007-11-02']"
2,3,fffe36bb-6dea-4a8b-8bf5-071cf893ceba,al,Valley Payroll Management and Business Solutio...,421-008,us_al,6/3/2008,8/17/2010,Domestic Limited Liability Company,http://arc-sos.state.al.us/cgi/corpdetail.mbr/...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['THOMPSON, BOBBY M', 'THOMPSON, BOBBY M', 'TH...","['2010-08-17', '2008-06-03', '2008-06-03']"
3,4,fffd9c21-3bb1-4471-b316-d172921e3f83,ca,"RAILIAS HOLDINGS, LLC",2.02125E+11,us_ca,9/8/2021,NaN,NaN,https://businesssearch.sos.ca.gov/CBS/SearchRe...,...,10251 VISTA SORRENTO PKWY,SAN DIEGO,CA,92121,NaN,NaN,"RAILIAS HOLDINGS, LLC",us_de,['ERIK NELSON'],[]
4,6,fffa8520-f0c2-431f-a64a-e16f3af0a896,oh,FAIRDALE ORTHODONTIC COMPANY,365474,us_oh,10/19/1967,NaN,CORPORATION FOR PROFIT,https://businesssearch.ohiosos.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['SAMUEL L CHALFIE', 'JEROME S TELLER', 'JAMES...","['2011-04-06', '1993-10-13', '1993-09-09', '19..."

In [27]:
combine1.to_csv("../csvResults/dfMerged_0_49999.csv",index=False)